[2018-06-05 09:25] devonbarrett opened #2 "Preview signup link broken"
The first link in the readme leads to a broken hubspot page:

https://aka.ms/signup-azds -> http://landinghub.visualstudio.com/devspaces

[2018-06-06 13:39] mclasson opened #3 "Problem with dotnet core 2.1"
When creating two services (frontend and webapi or whatever) you get a `Host not found`  error  when the one is calling the other that you don't get with _dotnet core sdk 2.0_. It seems it's not emitting the header "azds-route-as"
Could it be so?
I have a little more elaborate decription to reproduce here [link](https://github.com/mclasson/kubernetes-demo/blob/master/Demo-script.md)

[2018-06-11 17:40] philon-msft commented on #3
Hi @mclasson, we adjusted our header propagation pattern recently so when your service calls another service, it'll need to explicitly propagate the azds-route-as header. For details see: https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore#call-a-service-running-in-a-separate-container

[2018-06-11 17:40] #3 closed

[2018-07-03 18:47] aaronwjha opened #5 "Error creating AZDS Controller"
I'm not sure how to troubleshoot this issue. I have tried 2 times with different AKS clusters with the same results.

"Failed to create Azure Dev Spaces Controller 'MyAKS' in resource group 'AzureDevSpaces' in subscription 'd942ee4d-6452-47ff-afa6-99635a311dd8'.
Please include the following Request ID when contacting support: 61f3f2a4-d622-49ff-bade-27b064aa7b80"

ads controller list gives me:
Azu

[2018-07-05 16:47] lisaguthrie commented on #5
Does your AKS cluster have RBAC enabled? If so, please try creating the controller again. We recently rolled out a new version of the service that allows you to create a controller against an RBAC-enabled AKS cluster.

[2018-07-10 07:52] wwaidelich commented on #5
Error and failed state:

[code]

Can I reset/delete the controller to set it up again?

[2018-07-10 17:29] philon-msft commented on #5
Yes, you can use this command to remove the failed controller from your AKS cluster before retrying:

`az aks remove-dev-spaces -g test-rg -n test-k8s`

[2018-07-11 07:08] wwaidelich commented on #5
Thank you!

[2018-07-11 09:43] t1agob opened #6 "AZDS debug configuration missing in vscode"
I have been able to follow all the steps from [this documentation ](https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-netcore) up to the part where we need to initialize debug assets in VS Code Extension. I go to the Azure Dev Spaces prepare configuration option but nothing is changed under .vscode so I'm unable to debug my code in AKS directly.

Everytime I restart the project in vscod

[2018-07-11 13:06] philon-msft commented on #6
Clicking 'YES' and running the 'Prepare configuration files for Azure Dev Spaces' command should both be generating/updating launch.json and tasks.json files in your .vscode directory. If that's not happening, there may be a problem with the contents of the .vscode directory or the permissions on the files. You could try deleting .vscode so VS creates fresh valid files the next time you click 'YES

[2018-07-11 13:07] #5 closed

[2018-07-11 13:09] philon-msft commented on #2
@devonbarrett, thanks for reporting this! Should be fixed now.

[2018-07-11 13:09] #2 closed

[2018-07-11 13:43] bremnes commented on #2
@philon-msft, you might want to update [the landing page](https://visualstudio.microsoft.com/azure-dev-spaces/) as well:

Related announcement:
https://blogs.msdn.microsoft.com/visualstudio/2018/07/09/announcing-the-public-preview-of-azure-dev-spaces/

[2018-07-11 23:07] antiph0n opened #7 "Getting SSL error when attempting to use azds up"
Using dev space 'default' with target 'DevSpaces'
Synchronizing files...10s
Installing Helm chart...The SSL connection could not be established, see inner exception.

Unsure how to see the inner exception. This is a .Net Core 2.1 project.

[2018-07-12 22:35] sanar-microsoft commented on #7
Sorry, we had an issue with our infrastructure in East US region and this should be fixed now, please try running the command again.

[2018-07-14 12:13] alecor191 opened #8 "VS17 stuck at "Waiting for container..." when trying to debug quickstart app using Dev Spaces"
Hi,

I tried to follow the [quickstart](https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-netcore-visualstudio) steps using VS17 and unfortunately I got stuck. This is what I have observed:
- AKS version is 1.10.5 (also tried with 1.10.3)
- Namespace 'azds' created (with 3 pods in it). All pods report that they're healthy.
- My quickstart MVC app got deployed successfully to the 'defaul

[2018-07-15 00:36] awysza opened #9 "unsupported operand type(s) for |: 'DefaultStr' and 'bool'"
running
C:\WINDOWS\system32>az aks use-dev-spaces -n aksa -g aksarg

and getting

unsupported operand type(s) for |: 'DefaultStr' and 'bool'
Traceback (most recent call last):
  File "C:\Users\trdai\AppData\Local\Temp\pip-install-4rn35c0b\knack\knack\cli.py", line 197, in invoke
  File "C:\Users\trdai\AppData\Local\Temp\pip-install-4rn35c0b\azure-cli-core\azure\cli\core\commands\__init__.py", line

[2018-07-16 18:57] YuzorMa commented on #9
It looks like you may have an older version of the tools.  Can you verify that your azure cli version is at least 2.0.38 and your dev spaces extension is at least 0.1.6?  You can see the versions by running 'az --version'.

If they are older, you can get a newer Azure CLI from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest.  You can update the extension by runni

[2018-07-16 22:07] #6 closed

[2018-07-16 22:07] #7 closed

[2018-07-16 23:49] pragyamehta commented on #8
Hi there! Thank you for using Azure Dev Spaces!
To troubleshoot your problem, Could you please share if the chart that you are using was generated by Visual Studio or did you create one yourself?

[2018-07-17 06:38] alecor191 commented on #8
Thanks @pragyamehta for the follow up: Correct, the chart was generated by VS. I followed the quickstart guide by the letter. I tried it a couple of times with different, freshly created, AKS clusters. Unfortunately, they all led to the same result.

[2018-07-17 21:51] pragyamehta commented on #8
I see. Next, in VS, can you open Tools -> Options -> Projects and Solutions -> Build and Run and set MSBuild project build output verbosity to "Detailed" and run through the scenario again? Then open the Output window -> Show output from "Azure Dev Spaces" and please copy paste what you see in that window once it fails.
I would also request you to hang on to the controller that is failing for you

[2018-07-25 14:05] ferronsw commented on #8
I've the same issue. The Kubernetes pod has the following error:

`container "application1" in pod "application1-54cccb7747-jhscv" is waiting to start: ErrImageNeverPull`

[2018-07-26 07:56] spinside opened #10 "Can't find service and failed to build container"
Azure Dev spaces does not seem to work for us:
[code]
How can we fix this issue? Is there a way to increase the loglevel?

@ghogen I believe I should address this issue to you? Sorry if I'm mistaken, could you please let me know where this question/issue needs to go if not to you?

[2018-07-26 08:03] spinside commented on #10
I've done the following to increase the loglevel but that does not show any extra information:
[code]
I've also tested the Dockerfile locally and the container can build without problems. The Helm files used are automatically generated by Visual Studio.

[2018-07-27 16:16] timjroberts-inty opened #11 "VSCode prelaunch task fails when trying to debug"
Executing the command `azds up --keep-alive --await-exec --no-telemetry` (as part of debugging an application) produces the following error:

[code]

What would be the reasons for this error? Running a normal `azds up` works fine.

[2018-07-30 10:38] eiximenis opened #12 "Failed to pull image "azds/devhostagent:0.1.5" when trying to run a devspace (from VS)"
Hi.
I am trying to run one service deployment in DevSpaces. After building Dockerfile.Develop I see the following error:

[code]

I checked in dockerhub and this image (`azds/devhostagent`) do not have tag 0.1.5.

**Note**: Using the command line (`azds up`) deploys **succesfully** with no issues.

I am using:
* Azure CLI 2.0.42
* Devspaces extension: dev-spaces-preview (0.1.6)
* Azure Devspaces C

[2018-07-30 12:28] MortenChristiansen opened #13 "Support for message queues"
Based on the videos you have made introducing Dev Spaces, it seems that the way you allow devs to replace a part of a micro services application is to intercept calls using http clients. Is there support for Azure Message Queue or any of the other message infrastructure components or is it planned at a later point? It seems to me that the usefulness of Dev Spaces going forward would be quite limit

[2018-07-31 07:19] eiximenis opened #15 "Exception of type 'Microsoft.Mindaro.Client.ManagementClients.CommandExecuteException' when synchronizing files"
I am trying to do a deploy to a Devspaces using a helm chart located in another folder. I updated the  `azds.json` file with the correct location of the chart:

[code]
It worked. Chart did not install because it need an additional values file located in the same folder, so I added a new entry in `install.values`:

[code]

After adding the command `azds up` fails with "CommandExecuteException":

[c

[2018-07-31 10:16] eiximenis opened #16 "Possible error in files synchronization"
I am deploying a service to DevSpaces. Chart needs two yaml files, that I pass to it using `install.values` in `azds.yaml`:

[code]

The first time I perform an `azds up` -v it works succesfully:

[code]

But, when I try to deploy (`azds up -v` again) I receive a helm error. This error is when additional `app.yaml` or `inf.yaml` are not present:

[code]

If i touch (or do a dummy edit like adding

[2018-07-31 18:13] lisaguthrie commented on #13
Dev Spaces currently routes http calls only, but we have discussed adding support for additional protocols at a later date. Thank you for your feedback -- we will consider that when prioritizing future features.

[2018-07-31 18:19] lisaguthrie commented on #11
Thanks for reporting this issue. Our dev team is looking into it.

[2018-07-31 18:19] lisaguthrie commented on #16
Thanks for reporting this issue. Our dev team is looking into it.

[2018-07-31 18:19] lisaguthrie commented on #15
Thanks for reporting this issue. Our dev team is looking into it.

[2018-07-31 18:20] lisaguthrie commented on #12
Thanks for reporting this issue. Our dev team is looking into it.

[2018-07-31 22:02] YuzorMa commented on #11
When you run with the '--keep-alive' flag, azds relies on a long-running background process to keep the ports and synchronization working.  This works from within Visual Studio or VS Code because those applications run the background task for you.

Are you running from within VSCode?  What scenario are you trying to achieve?

[2018-08-01 01:03] #9 closed

[2018-08-01 07:40] timjroberts-inty commented on #11
Yes, I've run the Prepare Dev Spaces command from within VS Code, and I can see that it creates a `launch.json` and a `tasks.json` file. I can also see that the `tasks.json` file contains a pre-launch task to run `azds up` with the keep alive and await exec options. Is that the long running process you talk about? Or is there another process.

[2018-08-01 14:31] spinside commented on #10
After reinstalling Azure Dev Spaces twice everything works. Closing the issue.

[2018-08-01 14:31] #10 closed

[2018-08-02 17:05] YuzorMa commented on #11
There is another process that is launched automatically by the Dev Spaces VS Code extension.  The pre-launch task '--keep-alive' flag actually tells azds to use the background process as well.  If that background task is not running, then the whole thing fails - which is what you are seeing.

We have found a bug where the background process may be exiting early if no controller has been selected *

[2018-08-02 17:28] sanar-microsoft commented on #12
@eiximenis This issue should be resolved now, please try running the service again.

[2018-08-02 17:30] #12 closed

[2018-08-08 15:31] rcarmo opened #17 "Dev Spaces CLI installer has multiple issues"
I would like to install the Dev Spaces tools inside my home directory on my Mac instead of modifying system paths (for a number of reasons). At first I saw no reason for the installer to use `sudo` to install in `/usr/local/lib` AND polluting my home directory with `~/lib`, which is inconsistent (and feels like a cop-out).

I eventually inspected `azds-osx-setup.sh` and modified it to a working co

[2018-08-08 15:44] rcarmo commented on #17
My sanitised version of the script is at https://gist.github.com/rcarmo/64e133abe9254f3ecdc5a6efa3e8c58b - it's a hack job, but works for me.

I also noticed this adds another version of `kubectl` for some reason...

[2018-08-08 15:51] rcarmo commented on #17
A further issue. If you're using `pyenv`, this section of the script incorrectly parses `az`'s location and spectacularly misplaces `azds`:

[code]

[2018-08-08 17:09] lisaguthrie commented on #17
Thanks for the feedback. Our dev team is looking into this.

[2018-08-09 15:59] SamuelMcAravey-NVP commented on #8
We also see this when using the sample project as well as with our own code. Trying to run this from the CLI. This AKS cluster was just created in the last couple of days.

Azure CLI version:  **2.0.43**
Azure Dev Spaces CLI (Preview): **0.1.20180727.4**
Kubernetes version: **1.10.6**
AKS Location: **West US 2**

After calling `azds up` it hangs on `Waiting for container image to build...` and can

[2018-08-09 17:53] lisaguthrie commented on #8
Thanks @SamuelMcAravey-NVP and @ferronsw - we'll look into this.

[2018-08-10 21:51] sanar-microsoft commented on #8
@SamuelMcAravey-NVP @ferronsw Could you share your controller name for investigating this issue?

[2018-08-10 23:53] sanar-microsoft commented on #8
@SamuelMcAravey-NVP @ferronsw Is it possible that the initializerconfiguration deployed on the AKS cluster for dev spaces was deleted? An error like this indicates that there was a failure in initializing the pod and an init container(build) was never injected to your pod.

[2018-08-13 07:03] ferronsw commented on #8
@sanar-microsoft I've deleted and recreated the dev spaces controller multiple times within my AKS cluster. Everything looks promising when I do that, till I get the message "Waiting for container..." then after 10 minutes it times out.

[2018-08-13 14:43] SamuelMcAravey-NVP commented on #8
Same here. We also spun up a brand new cluster and tried to configure Dev Spaces again and got the same error. As far as I can tell, everything in the azds namespace is working as it should. Here is the output of several kubectl commands I ran against the azds namespace as well as the Dev Space namespace I created:

**AZDS namespace:**
[code]

**Testspace namespace:**
[code]

Note that for the pod

[2018-08-13 17:39] sanar-microsoft commented on #8
@SamuelMcAravey-NVP I just patched your cluster, it was missing the initializerconfiguration. You can verify it by running, 'kubectl get initializerconfiguration/azds'. Let me know if it fixed the issue.

@ferronsw Please share the controller information so that I can patch your cluster. Although I believe deleting and recreating the controller should've solved it too.

[2018-08-14 16:36] sanar-microsoft commented on #8
@ferronsw You can run 'azds controller list' to see all the created controllers or 'azds show-context' to see currently selected controller information. Please let me know the region as well, it will be part of the controller list command output.

[2018-08-14 18:34] sanar-microsoft commented on #8
I believe something might've gone wrong with patching of your cluster before that caused the controller to be in this state. Sorry for all the trouble.

You can get the yaml config for the initializerconfiguration (run 'kubectl get initializerconfiguration/azds -o yaml') and save it in a file, in case it happens again you can just run 'kubectl apply -f <yaml config> -n azds' to deploy this configu

[2018-08-17 21:23] beaubutton opened #18 "There is a problem with the Azure Dev Spaces Tools installation: Missing or invalid kubectl.exe. Please repair/reinstall and try again."
I can use kubectl from the cli (win 10) just fine, but when I attempt to run the asp.net core 2.1 project using azure dev spaces I get the following error.

Starting warmup for project '#####'.
Waiting for namespace to be provisioned.
An error occurred during warmup for project '#####':
Autofac.Core.DependencyResolutionException: An exception was thrown while executing a resolve operation. See the

[2018-08-17 21:26] lisaguthrie commented on #18
Do you have a space in your Windows user name? We recently fixed an issue where users saw this error under that circumstance, but I don't think the fix has made its way into production yet.

If you don't have a space in your user name, let me know so we can troubleshoot further.

[2018-08-17 21:34] beaubutton commented on #18
Yes ma'am, my username is "Beau Button".

[2018-08-20 22:19] lisaguthrie commented on #18
@beaubutton the fix will be in an upcoming release of the VS extension. In the meantime, you can use the CLI and/or VS Code, or if you're interested in testing out a private build of the VS extension with the fix in place, please contact me at Lisa.Guthrie@Microsoft.com

[2018-08-21 13:11] mprigge opened #19 "Support for external helm repositories"
I'm fairly new to dev spaces, so I may be missing something very fundamental here. I cannot seem to figure out a way to support helm dependencies (requirements.yaml) together with azds. Relative references do not seem to work nor can I determine how to add a repository that the azds version of helm can see (I am prompted to execute `helm repo add` despite the fact that my local helm already has th

[2018-08-21 17:48] stepro commented on #19
Support for Helm charts with dependencies is on our backlog for a future release. I can't say we have thought much about external dependencies that aren't in the `stable` helm repo, however our general principal on these things is that however it works locally, it should work the same way with azds.

We do not currently have a document describing the full schema for azds.yaml. For now, feel free t

[2018-08-21 17:57] mprigge commented on #19
Okay, understood. I'll look forward to that support.

Pardon the dumb question, but when azds is actually executing helm during a deploy, where is that actually happening? I know there's a Tiller instance inside the azds namespace which I assume it's speaking to. Is Helm actually running on the development workstation or is that living in a container or somewhere entirely different?  Just trying t

[2018-08-21 18:02] stepro commented on #19
No dumb questions here :) Azds removes the need to have docker, kubectl, helm installed on your local machine. To achieve that, it copies (or specifically, incrementally synchronizes) your code and your Helm chart to a remote location (an Azure file share) from which the helm install command is issued.

Given this, you could mount the Azure file share somewhere and try to run commands directly on

[2018-08-21 18:08] mprigge commented on #19
Got it. I had assumed some degree of smoke and mirrors was involved. Worth asking, though! I'm guessing that in order to support this use case, you'd probably need to add a repos node to the azds.yaml to drive helm repos add commands. So, it'd need to be worth doing for you. I'm not sure how many other people have this requirement, so I've no idea how likely that'd be.

I suppose this may be a sig

[2018-08-21 19:10] stepro commented on #19
We maintain our backlog internally, but you can treat this issue as the external work item tracking it.

[2018-08-22 17:07] pragyamehta commented on #15
Hi! Gentle reminder! Would be great if you could share with us if this still repros for you and share the logs if possible.

[2018-08-28 19:44] AceHack opened #20 "Multiple subscription issue"
I have multiple subscriptions some of which I am admin and some of which I am not, Dev Spaces is giving me the error "The current user is not authorized to register the 'Microsoft.DevSpaces' resource provider for subscription 'xxx'.  Make sure that the current user has Owner or Contributor access to the subscription"

This is not the subscription I want it to use but there seems no way to change i

[2018-08-29 19:01] lisaguthrie commented on #16
@eiximenis this should be fixed now. Let us know if you're still having issues. Thanks!

[2018-08-30 17:55] lisaguthrie commented on #18
Good news @beaubutton and @krotkiske - we just pushed an updated version of the extension that fixes this issue. VS should auto-update your version, or you can download from here: https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vs-tools-for-kubernetes

Let me know if you're having any issues after installing the new extension. Thanks for your patience!

[2018-08-30 17:58] lisaguthrie commented on #20
@AceHack - we just pushed an updated version of the VS extension that should fix this issue. VS should auto-update your version, or you can download from here: https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vs-tools-for-kubernetes

Let me know if you're still having issues with the updated extension. Thanks for your patience!

[2018-09-08 07:32] mprigge opened #21 "Unable to perform azds up due to KeyNotFoundException in StreamBuildContainerLogsAsync"
Hi!

I'm getting the following error when attempting to execute an `azds up` on a netcore project. This initially failed using the tooling within Visual Studio, but I decided to show the output from the dev spaces CLI as it seems a bit clearer.

[code]
_Note that the service name has been redacted._

Following this error, I am left with an inconsistent deployment. The Deployment and Service define

[2018-09-10 17:45] lisaguthrie commented on #21
Thanks for reporting this. We're looking into it.

Out of curiousity, what do you see in Visual Studio? We try to surface as much error information as possible in VS itself -- so, if you're in a situation where the CLI's error message is clearer than VS's, we'll want to look into that, too.

[2018-09-10 17:58] mprigge commented on #21
I think the same information might have been there, but it was a little harder to associate cause and effect because so many things happened at once. The project I was working in has three azds-enabled projects and all of them were attempting to do the same thing in parallel. Super cool that it works that way, but it made sorting out what order things were happening in sort of difficult. Additiona

[2018-09-11 17:56] jikuma commented on #21
@mprigge Can you find the log file for azds and share the complete exception. Unfortunately, due to a bug, we were not logging telemetry for some time.

You can find the azds log in _%TEMP%/Azure Dev Spaces_  find the log file closest to the time stamp and get the complete exception message.

[2018-09-11 19:28] mprigge commented on #21
This what you're looking for?

[code]

[2018-09-11 20:42] jikuma commented on #21
Thanks, @mprigge for reporting the issue, we have identified the root cause and rolling out the fix. This issue will happen if there is no spec node in the service specified in the helm chart. Can you please confirm that this is the case with your service also.

`apiVersion: v1
kind: Service
metadata:
  name: {{ template "webfrontend.fullname" . }}
  labels:
    app: {{ template "webfrontend.name"

[2018-09-12 08:35] mprigge commented on #21
Hi @jikuma - My helm charts do indeed have spec nodes for both a Deployment and Service. However, if you're processing the helm chart outside of helm, it may be worth noting that I am using multi-line annotations in the Service (ingress configuration for [Ambassador](https://www.getambassador.io/)).

So, for instance, one of the service definitions looks something like this:

[code]

So, there def

[2018-09-12 16:53] jikuma commented on #21
Thanks @mprigge the issue has been fixed and will be deployed to production in a couple of weeks. Thanks for reporting the issue.

Unfortunately, you won't be able to do azds up on the same service/azds workload till the fix reaches your environment, but you should be able to create a new folder/service and use dev space.

[2018-09-12 17:09] mprigge commented on #21
Thank you! Glad I was able to help.

So, "fixing" the chart in some way will not work as a workaround today? Was it the annotation that was causing the problem?

Also, is there a good way to tell whether the environment has been patched? (not sure if I need to recreate the devspaces controller or not)

[2018-09-17 18:00] jikuma commented on #21
No, it was not the annotation, it was a parsing code which we wrote had a bug. We parse the currently deployed release before deploying the chart. This is used to update the release as per azds requirement. If the parsing fails in the previously deployed release there is no way we can work around it by changing the current chart. Hence we need to wait for the fix. I will get back to you on, how to

[2018-09-17 18:03] jikuma commented on #21
@lisaguthrie Is there any blog, we publish after rollout which I can point here.

[2018-09-20 14:43] cocowalla opened #22 "Non-web apps"
Does Dev Spaces support the development of non-web apps, such as background processing daemons/services?

[2018-09-20 16:44] cocowalla commented on #22
Yes, I was specifically thinking about services that use Azure Storage Queues. Is there tooling built-in to Visual Studio and/or VS Code for seamlessly deploying .NET console apps to Dev Spaces, so you get a similar experience to working with web apps?

[2018-09-20 17:27] stepro commented on #22
@mthalman-msft, does the VS extension for Dev Spaces allow you to select Dev Spaces as a target for apps other than web apps? The VS Code extension would work for any kind of .NET app, so long as it's long running, e.g. waiting on a queue.

[2018-09-20 17:34] mthalman-msft commented on #22
Not currently, no.  In VS, it's just ASP.NET Core projects that are supported.

[2018-09-22 09:49] GiancarloLelli opened #23 "Publish fails if one of multiple subscription cannot register the Azure DevSpaces provider"
Hi all
I'm currently hitting a roadblock when I try to debug on Azure DevSpace a blank Kubernetes Application created with File -> New Project.

The error seems to be related to my Dreamspark subscription (A "free" Azure subscription for students) which has limited capability due to its billing limitation.

Unfortunately, when VS tries to register the DevSpaces provider on this subscripton it fail

[2018-09-23 00:59] robvet opened #24 "Failed to start service 'webfrontend' in space 'default'"
Trying to run sample demo https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore-visualstudio

It run fine from the command line azds up, but, not from Visual Studio 2017.

VS 2017 gives following error: Failed to start service 'webfrontend' in space 'default'

Running VS 2017 15.8.5
Project created in Core 2.0.

Here is the output:

An error occurred during warmup for project 'WebF

[2018-09-24 17:49] lolodi commented on #23
@GiancarloLelli could you make sure you have the latest VS extension installed? We had an [issue](https://github.com/Azure/dev-spaces/issues/20) with multiple subscriptions in the past and this might help.
@mthalman-msft could we have a better handling of scenarios in which we cannot register our provider in all the subscriptions that are accessible to the user?

[2018-09-24 17:50] lolodi commented on #23
@GiancarloLelli could you make sure you have the latest VS extension installed? We had an [issue](https://github.com/Azure/dev-spaces/issues/20) with multiple subscriptions in the past and this might help.
@mthalman-msft could we have a better handling of scenarios in which we cannot register our provider in all the subscriptions that are accessible to the user?

[2018-09-25 16:05] mthalman-msft commented on #23
@GiancarloLelli Would you be able to provide some more diagnostic information?  I'm wondering whether there's an underlying exception being thrown that could provide more context.  Can you please attach a second instance of VS to the VS instance that produces this error.  And then configure the debugging VS instance to break on exceptions.  The exception to look for is named InvalidUsageException.

[2018-09-25 23:31] lolodi commented on #24
Could you please check if you are running the latest version of the Visual Studio Tools for Kubernetes?
Also could you find the log file for azds and share it? You can find it in `%TEMP%/Azure Dev Spaces`, it's the log file closest to the time stamp of the error.

[2018-09-26 12:33] GiancarloLelli commented on #23
@mthalman-msft I don't see any exception being thrown. Once this dialog pops up the output window is clear and it only displays the AppInsights Telementry logs.
![image](https://user-images.githubusercontent.com/6195018/46080001-fab29f00-c198-11e8-8385-869d55afb44f.png)
![image](https://user-images.githubusercontent.com/6195018/46080027-0d2cd880-c199-11e8-953a-a46448ca9ef6.png)

[2018-09-26 12:36] mthalman-msft commented on #23
Have you disabled the "Enable Just My Code" option in Tools -> Options -> Debugging?

[2018-09-26 12:58] GiancarloLelli commented on #23
@mthalman-msft Right, forgot about that - now I can see the exception.
![image](https://user-images.githubusercontent.com/6195018/46081276-68ac9580-c19c-11e8-8930-4dd7c3ce5e49.png)
I'm unable to load the PBDs to drill down with historical debugging, if you can help me with that I can see if I can gather some more detailed information.

[2018-09-26 13:05] mthalman-msft commented on #23
Yeah, that's just showing what we already know from the error message.  I need to know what the InnerException is.  You shouldn't need to use historical debugging.  Just configure VS to break on all CLR exceptions and keep executing until you hit this InvalidUsageException.  Then you should be able to examine its InnerException.

[2018-09-26 13:14] GiancarloLelli commented on #23
Gotcha - but it is the same message, even the Inner exception.
![image](https://user-images.githubusercontent.com/6195018/46082210-d8238480-c19e-11e8-806e-c3b497b14e90.png)

[2018-10-01 19:57] dendle commented on #18
Hello @lisaguthrie,
I have just experienced the same error.  I am using the lastest plugin version.

"Microsoft.Mindaro.Common.Exceptions.KubectlException: There is a problem with the Azure Dev Spaces Tools installation: Missing or invalid kubectl.exe. Please repair/reinstall and try again."

kubectl is in my path, and runs fine.  I have an AKS cluster on the latest version (RBAC=On), 1.11.2, loca

[2018-10-01 21:49] lisaguthrie commented on #18
Hmmm @dendle, can you enable logging as described here: https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting#enabling-detailed-logging

And then look through the log for the kubectl error? Sometimes there is additional error information included in the log that doesn't show up in VS itself.

[2018-10-04 09:49] a7medit commented on #18
I have the same issue.

[2018-10-04 20:56] wazowsk1 commented on #18
In what directory is it looking for kubectl.exe? I am also experiencing the same issue and the logs don't give much more info than the above stacktrace.

[2018-10-04 21:46] lisaguthrie commented on #18
@wazowsk1 to find out which path the extension has been installed to, go to C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO\2017\ENTERPRISE\COMMON7\IDE\EXTENSIONS.  From there, do a search for a file named Microsoft.VisualStudio.Azure.DevSpaces.Tools.Common.dll.  That’s where the extension is found.  From there, you can find the kubectl\win subfolder.

The specific command line we try to run is:
ku

[2018-10-04 22:00] jessebarocio commented on #18
I started receiving this error today as well. It worked this morning. When trying to run the following with kubectl in the extension's installation dir:

    kubectl --cache-dir "C:\Users\username\.azds\kubectl-http-cache" version --short

It printed the following error:

    error: Error loading config file "C:\Users\username\.kube\config": error converting *[]NamedCluster into *map[string]*api.C

[2018-10-05 11:52] wazowsk1 commented on #18
@lisaguthrie I have run the command manually and did also get the same duplication error as @jessebarocio.

I checked my config in .kube path and it did had 2 times the same context and 2 times the same user which caused the error. I manually removed the duplicated ones and the azre dev spaces extension is now working.

Maybe the extension does not check if the same context/user is already in the

[2018-10-05 15:06] jessebarocio commented on #22
I just tried this in VS today before I found this issue. Hopefully selecting Dev Spaces as a target for non-ASP.NET Core projects is available soon.

[2018-10-05 16:52] lisaguthrie commented on #18
Thanks @jessebarocio and @wazowsk1 - these details are super helpful! We will look into it. Is this only happening in VS, or does it happen at the CLI as well?

[2018-10-05 17:00] lisaguthrie commented on #18
Just discussed with the dev team. A fix is in progress and will be out in the next few weeks. In the meantime, the workaround is to delete the .kube folder as @jessebarocio figured out, or to remove the duplicate contexts from the .kube\config file. Sorry for the inconvenience!

[2018-10-11 04:04] sushilraje opened #25 "azds up throws error : "Oops... An unexpected error .......""
Created AKS cluster and configured it to use AZDS as mentioned [here](https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore).
The step "azds up" throws foll. error
**"Oops... An unexpected error has occurred. A report of the error will be sent to Microsoft."**

azds up -v throws same error w/o any additional logging.

Environment:
OS : Ubuntu 16:04

Able to access the AKS cluster a

[2018-10-11 09:31] darthkurak commented on #23
Im facing exactly the same error. It seems that VS extension validate DevSpaces against all the subscriptions, and if one of them failes (in my case DreamSpark subscription which doesn't has permission to register this provider) - whole extension fail, and i cannot set-up DevSpace in another subscription. There is no workaround for this? :(

[2018-10-11 17:16] lisaguthrie commented on #25
@sushilraje can you check and see if there are any additional logs under /tmp/Azure Dev Spaces? Thanks!

[2018-10-11 17:28] lisaguthrie commented on #23
@darthkurak sorry to hear you are hitting it too :( The fix for this problem is checked in, but we've had some unrelated issues that have prevented us from releasing a new version of the extension. I'm pushing to get an updated build released in the next few days. I'll keep you posted.

[2018-10-11 21:55] lisaguthrie commented on #23
Hi @GiancarloLelli and @darthkurak - we just pushed a new version of the extension that should address this issue. Can you give it a shot and let me know if it helps? Thanks!

[2018-10-11 22:43] sushilraje commented on #25
yes, I do have,
[code]

[2018-10-12 07:13] darthkurak commented on #23
Hi! It works now! Thanks for quick response.
I wonder - this debugging feature doesn't work for .net core console app in AKS? Because, i cannot choose Azure Dev Space when switching to it. :(

[2018-10-12 07:27] lisaguthrie commented on #23
Dev Spaces doesn't currently support console apps, but we've gotten that feature request from other customers as well, and it's under consideration :)

[2018-10-12 09:14] GiancarloLelli commented on #23
@lisaguthrie @mthalman-msft Thanks guys. It works now :)
![image](https://user-images.githubusercontent.com/6195018/46860099-f67cb780-ce0f-11e8-946f-91467eb7317d.png)

[2018-10-12 16:47] yoshioterada opened #26 "Please write a restriction : we can't use the Multi Stage Build of Docker."
I tried to execute Dev Space of Java Version.

If we executed the following command, automatically some file will be created.

$ azds prep --public

Especially, in this time I want to say following 3 files.

* Dockerfile
* Dockerfile.develop
* azds.yaml

As default, azds.yaml file was wrote as following.

azds.yaml : default

[code]

And in order to create more small size of image, I tried to chan

[2018-10-12 20:45] rakeshvanga commented on #25
With newer bits of Azure DevSpaces, you would get a better error message than the "Oops..." one.

From the logs files, it seems that the build context in the azds.yaml is set incorrectly.
`Build context directory not found: /home/rmcd/manual_release/remote-monitoring/remote-monitoring-services-dotnet/storage-adapter/WebService/..\\`
In the path, `..\\` should be `../`?

[2018-10-15 01:38] sushilraje commented on #11
I faced the exact same error. Also, I followed the steps as mentioned in the previous comment, but it doesn't work.

I also tried removing the --keep-alive flag, but doesn't help. Any ideas on what might be happening?

OS: mac

[2018-10-15 05:52] YuzorMa commented on #11
@sushilraje What version of the AZDS CLI are you using?  Just in case it's related to the issue above, after you close all VS Code instances, can you make sure that there are no remaining azds processes running?  Then proceed with steps 2 and 3.

[2018-10-15 12:18] BYakvalkhodjiev opened #27 "Support for sidecar containers"
Hi,

Does azds have support for deploying sidecar  containers  as described below?

https://kubernetes.io/blog/2015/06/the-distributed-system-toolkit-patterns/

Essentially, I am looking for ways to  deploy multiple containers to the same pod.

Thanks for your help.

[2018-10-15 15:41] #8 closed

[2018-10-15 15:42] #13 closed

[2018-10-15 15:42] #15 closed

[2018-10-15 15:44] #16 closed

[2018-10-15 15:45] YuzorMa commented on #17
These issues should be addressed in the latest version of the Mac install script.

[2018-10-15 15:45] #17 closed

[2018-10-17 16:15] darrenfurr opened #28 "Windows container support"
Great work guys! Dev Spaces is absolutely amazing. I'm running into issues with PostSharp (it doesn't support MacOS or Linux).

Are there any plans to support Windows containers in Dev Spaces?

[2018-10-18 20:34] doggy8088 opened #29 "DNS problem when hit F5 in VS2017"
My AKS is all right and functional.  Only AZDS unable to run from VS2017.  It looks like a DNS problem.  So weird.

[code]

Any clue?

[2018-10-18 20:45] lisaguthrie commented on #29
I don't think it likes the upper-case letters in the domain name:
webapplication3.cf869ce5a6ed4c76b57f.**WestUS2**.aksapp.io

Was the Helm chart generated by Dev Spaces (using Visual Studio, the `prep` command palette option in VS Code, or the `azds prep` CLI command) or was it one that you created manually?

[2018-10-18 20:56] lisaguthrie commented on #26
Thanks @yoshioterada -- we added it in to the troubleshooting document: https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting#error-service-cannot-be-started

[2018-10-18 21:03] doggy8088 commented on #29
The Helm chart generated by Dev Spaces using Visual Studio 2017.   I do nothing manually.

I was creating AKS by the following commands:

[code]

That is possibly cause this bug.  I think AZ or AZDS should take care of this.

[2018-10-18 22:41] lisaguthrie commented on #29
Fully agree that AZDS should handle this and create an appropriate chart. Thanks for reporting -- we'll look into it.

[2018-10-19 17:15] sushilraje commented on #25
Thanks, I got it working!

[2018-10-19 17:15] #25 closed

[2018-10-19 17:19] sushilraje commented on #11
What version of the AZDS CLI are you using?

Just in case it's related to the issue above, after you close all VS Code instances, can you make sure that there are no remaining azds processes running? Then proceed with steps 2 and 3.

[2018-10-22 16:20] doggy8088 opened #31 "VS2017 hang after hit F5"
I'm following the [Get Started on Azure Dev Spaces with .NET Core and Visual Studio](https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore-visualstudio) tutorial.

When I configured Azure Dev Spaces, then hit **F5**.  It's usually hang my Visual Studio 2017 very long long time.

If I kill all the `devenv.exe` related processes and re-open VS2017 again, then Azure Dev Spaces will wo

[2018-10-22 17:39] lisaguthrie commented on #31
Does this happen consistently?

Can you enable more detailed logging as described here: https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting#enabling-detailed-logging
And then send the logs if you're able to reproduce the problem?

[2018-10-22 22:54] #20 closed

[2018-10-22 22:55] #23 closed

[2018-10-22 22:59] YuzorMa commented on #28
Dev Spaces only works on AKS.  Windows containers requires running Windows Server-based nodes and currently AKS does not support that so for now, we have no plans to support Windows.  As the platform changes we will definitely reevaluate.

[2018-10-22 23:10] jikuma commented on #29
Hi @doggy8088 can you share the host application routing domain setting for your AKS cluster. You can find it in the azure portal. This setting will be inside overview blade of the aks cluster.

In Devspace we use this setting as is, I want to make sure if the aks provided us with the correct setting.

[2018-10-23 01:40] darrenfurr commented on #28
Thanks @YuzorMa. It does appear that Windows container support is being planned for AKS.
https://github.com/MicrosoftDocs/azure-docs/issues/11616#issuecomment-404573318

[2018-10-24 15:45] antogh opened #32 "dev-spaces interferes with Redis"
Yesterday I installed dev-spaces for the first time on my AKS cluster (which I'm using for learning and experiments, not in production)

Right after the installation everything was fine, I could debug a containerized asp.net core app from my VS2017 directly on the kubernetes cluster. This asp.net core app reads a redis cache installed also in the cluster in the form of stateful set of 3 pods with

[2018-10-24 15:56] stepro commented on #32
Thanks for reporting this issue. Your analysis of the issue is correct and identifies a bug in the mindaro-proxy component. Do you have a Helm chart or raw Kubernetes yaml files you are using to install the specific redis cluster setup? This would help us greatly in recreating the problem on our side. Thanks!

[2018-10-24 16:28] antogh commented on #32
Hi @stepro  thanks , I write a quick answer right before entering... a meeting :(
you just need the stateful set to recreate the problem , if redis-0 isn't able to set a key to a value that means you have the problem. The problem show the 2nd time you restart the stateful set.

here is the yaml to create the redis stateful set

{
  "kind": "StatefulSet",
  "apiVersion": "apps/v1beta2",
  "metadata

[2018-10-24 16:35] stepro commented on #32
Thanks, I'll take a look.

[2018-10-25 18:52] antogh opened #33 "No more able to debug with azure dev spaces"
I was able to debug an ASP.NET CORE web app deployed on AKS cluster the first time I enabled azure dev spaces

Now I want to debug again the same app and it doesn't work anymore.

service and deployment are created on the cluster but the pod never gets created . Last time I tried I got this error in the azure dev spaces tab

Starting warmup for project 'WebApplication1'.
Using dev space 'default'

[2018-10-25 19:51] stepro commented on #32
Thanks @antogh for your patience on this issue. I needed to create a headless service object and fix a problem in the sentinel.sh script (the `cp /redis-config-src/. /redis-config` command didn't work; it needed to be `cp /redis-config-src/* /redis-config`) to get to the point where I could reproduce the issue.

Unfortunately, the issue here is a general problem that occurs when injecting any kind

[2018-10-25 20:12] antogh commented on #32
Thanks @stepro
I read your message with interest, it makes total sense and correspond to what I found out.

I have tried some hacks to have the the redis pod to opt out from the mindaro-proxy, unfortunately kubernetes does not allow removing a container from a pod so I tried changing the image name to a neutral "alpine" image, and it was working for some time, but then the aks agent notice the has

[2018-10-25 20:39] stepro commented on #32
I just discovered [this](https://blog.cloudflare.com/mmproxy-creative-way-of-preserving-client-ips-in-spectrum/) article and will be investigating if there is anything we can do to make this scenario work.

Thanks for opening the other issue - someone on the team familiar with these connectivity issues will be able to help you.

[2018-10-25 21:13] lisaguthrie commented on #33
@antogh what region is your cluster/controller in? We're patching Dev Spaces controllers in East US and West US 2 right now, so you may experience some intermittent failures while that's happening. If you're **not** in one of those two regions, let me know so we can investigate further.

[2018-10-25 21:44] antogh commented on #33
Hi @lisaguthrie
the aks cluster is in west Europe (and me too)
yesterday the dev space debugger  was working fine

now it seems that VS gets stuck when it tries to deploy the container to the cluster to create the pod . Vs is still able to create the service and the deployment in the cluster . The problem occurs creating the pod

[2018-10-25 22:32] lisaguthrie commented on #33
@antogh I just heard from one of the devs that we are patching West Europe now, too :) Can you wait for a couple of hours and try again?

[2018-10-26 11:13] antogh commented on #33
@lisaguthrie  now magically  it works again :)
hope the next time I need it will still work.
Let’s wait another day and then close the issue ;)

[2018-10-26 14:08] antogh commented on #32
@stepro
Interesting article.

However, after one day of pain, I’m very happy with the setup I have now, it works like a charm.
I have created a specific namespace for dev spaces and installed it there. Now it cannot interfere anymore with other pods. In the while the communication problems I mentioned yesterday are solved (it seems some maintenance was going on west Europe area where my AKS is) an

[2018-10-26 16:56] lisaguthrie commented on #33
@antogh glad to hear it :) And sorry for the inconvenience! Definitely let us know if you run into further issues.

[2018-10-26 21:43] YuzorMa commented on #18
@jessebarocio, @wazowsk1 We've released a new version of the tools (CLI and VS extension) which should address these issues.  Please let us know if you continue to see them.

[2018-10-26 21:44] YuzorMa commented on #24
Closing after a month of inactivity.

[2018-10-26 21:44] #24 closed

[2018-10-26 21:44] #26 closed

[2018-10-29 17:52] spboyer opened #35 "GetServiceStatusAsync Error"
azds up fails

.NET Core 2.1 project, EastUS

An unexpected error occurred invoking 'GetServiceStatusAsync' on the server. ExecInternalServerErrorException: Operation returned an invalid status code 'BadRequest'
Service cannot be started.

[2018-10-29 20:59] lisaguthrie commented on #32
Thanks @antogh - I've submitted a request to get this added to our troubleshooting documentation.

[2018-10-29 21:31] jikuma commented on #35
Thanks @spboyer  for reporting the issue. I am looking into it. Can you share your controller name.

[2018-10-30 03:05] yoshioterada commented on #26
Thank you so much !!

[2018-10-31 01:14] spboyer commented on #35
Closing issue, was an issue with the Docker image. error not pushing all the way to the console making it hard to debug with `azds up`. Container image build failed here.

Try do build image locally `docker build -t localdev . -f Dockerfile.develop` to diagnose.

[2018-10-31 01:14] #35 closed

[2018-10-31 17:23] jikuma commented on #21
@mprigge the fix should have reached your controller. Can you please verify.

[2018-11-04 09:44] onlyguest opened #36 "Set up Dev Spaces cluster Fail"
When I use command `az aks use-dev-spaces -g MyResourceGroup -n MyAKS` got error:

[code]

azds version: Azure Dev Spaces CLI (Preview) 0.1.20181018.11

azure cli version:
[code]

[2018-11-08 02:36] AceHack opened #37 "mindaro causes issue with Zookeeper"
The init container gets access denied errors when trying to start zookeeper.  Chart is attached, installed with the following command line.

`helm upgrade --install --wait --force --debug -f ./zookeeper/values.yaml -f ./zookeeper/platform-zookeeper.yml platform-zookeeper ./zookeeper`

[zookeeper.zip](https://github.com/Azure/dev-spaces/files/2560066/zookeeper.zip)

[2018-11-09 16:31] AceHack commented on #32
Please add an annotation to disable as soon as possible, that will be a great feature.

[2018-11-09 17:16] stepro commented on #32
We've checked in an ability to disable and it should be available in a couple of weeks.

[2018-11-13 18:51] jldeen opened #38 "DevSpaces fails with node:alpine version for Dockerfile"
azds up fails when Dockerfile contains node:alpine image. Upon further investigation, running a kubectl logs check on the pod and container reveals this error:

Failed to bind to CoreCLR at '/.azds-agent/alpine/libcoreclr.so'

If I switch to regular node image for Dockerfile, the azds up command will work.

Using latest version of DevSpaces:
Azure Dev Spaces CLI (Preview)
0.1.20181023.7

Example D

[2018-11-13 20:40] xinyanmsft commented on #38
thanks for reporting this issue. the fix for this will be in the next update.
in the mean time, use the "node" base image to work around this issue.

[2018-11-14 19:24] Krishna-teja opened #39 "Any future plan to bring dev spaces to Azure Service Fabric clusters too?"

[2018-11-14 19:53] lisaguthrie commented on #39
No current plans, but thank you for letting us know of your interest!

[2018-11-18 00:48] spboyer commented on #11
This is still an issue, just replicated using the .NET Core walk through. [Repair steps ](on Aug 2) do not fix this. Can we get some focus on this issue?

[2018-11-21 09:31] guybartal opened #40 "DNS records does not get created automatically"
I've followed this [quickstart ](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vs-tools-for-kubernetes#overview) and added Kubernetes/Helm support to my aspnet core project,
hit F5 in Visual Studio on Azure Dev Spaces but no DNS records got created.

![image](https://user-images.githubusercontent.com/3179107/48832024-dd591600-ed80-11e8-87d6-9ce4eb611b73.png)

![image](https://u

[2018-11-21 10:47] khawaga opened #41 "Specify main file for Nodemon"
I currently have a Node.js application where the main file is not `server.js` but actually resides at bin/www, I can change the file name in `launch.json` for the `Launch Server (AZDS)` config, however how do I change that for it to work with nodemon in the `Attach to Server (AZDS)` config?
I can see it still defaults to `server.js` even after setting the main file in `package.json`.

[2018-11-21 18:09] philon-msft commented on #40
This could be caused by the DNS or ingress pods in your cluster getting into a bad state. Please try recreating them with the steps in our troubleshooting doc and let us know if that helps: https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting#dns-name-resolution-fails-for-a-public-url-associated-with-a-dev-spaces-service

[2018-11-21 18:43] stepro commented on #41
Take a look in the tasks.json file for the attach task. You should see the nodemon command there with the `server.js` file that you can change to `bin/www`.

[2018-11-21 20:51] philon-msft commented on #11
Apparently this can be caused by a bug in an older version of the AZDS CLI. @spboyer was able to fix the issue by running "az aks use-dev-spaces --update" to install the latest CLI.

[2018-11-21 20:51] #11 closed

[2018-11-22 14:40] guybartal commented on #40
I've tried to delete those pods and run dev spaces in debug from visual studio again but still I don't get any DNS records.

[2018-11-25 12:59] khawaga commented on #41
Thank you so much.

[2018-11-25 12:59] #41 closed

[2018-11-26 08:54] brandondjmurphy opened #42 "Istio and Dev Spaces"
I have a vanilla cluster with Istio installed, and when I install Dev Spaces, then all routing within the cluster stops working. It appears that Dev Spaces is conflicting with Istio. When I uninstall Dev Spaces from the cluster, then Istio routing works perfectly.

Is this a known issue?

[2018-11-26 17:34] stepro commented on #42
Yes, it's a known issue that Istio and Dev Spaces do not currently play well together. We'd like to make this work, however. It would be helpful to know if you are using the routing capabilities of Dev Spaces in addition to Istio and what behavior you would expect in this case.

[2018-11-26 20:06] lisaguthrie commented on #40
Can you validate that ingress is enabled in the values.yaml file? (Underneath `charts\<project name>`)

[2018-11-28 20:25] mapoitras opened #43 "I get an error when installing Dev Spaces"
I have a fairly new AKS Cluster
C:\Users\mapoitra>az aks get-upgrades --name myAKS --resource-group MAPAKSDemoRG --output table
Name     ResourceGroup    MasterVersion    NodePoolVersion    Upgrades
-------  ---------------  ---------------  -----------------  ----------
default  MAPAKSDemoRG     1.11.3           1.11.3             1.11.4

I get an error installing Dev Spaces
C:\Users\mapoitra>az

[2018-11-28 20:50] mapoitras commented on #43
I do have an older version.  2.0.34.  Sorry.  I should of thought of that.  Will upgrade and retry.

C:\Users\mapoitra>az --version
azure-cli (2.0.34)

acr (2.0.26)
acs (2.0.34)
advisor (0.5.1)
ams (0.1.1)
appservice (0.1.33)
backup (1.1.1)
batch (3.2.3)
batchai (0.2.3)
billing (0.1.8)
cdn (0.0.14)
cloud (2.0.13)
cognitiveservices (0.1.13)
command-modules-nspkg (2.0.1)
configure (2.0.15)
consumpti

[2018-12-05 21:21] #21 closed

[2018-12-06 18:32] #39 closed

[2018-12-06 18:32] #33 closed

[2018-12-11 00:49] YuzorMa commented on #18
@solstarz What version of the azds CLI are you using when you see this error.  Can you provide the exact error message and logs (in your temp folder).

[2018-12-11 00:52] YuzorMa commented on #29
Closing as it has been over a month without customer response.  We do handle upper cases letter correctly in the latest versions of the tools.

[2018-12-11 00:52] #29 closed

[2018-12-11 00:53] YuzorMa commented on #31
Closing as it as been over a month.  Please reactivate if this repros again (and provide the logs).

[2018-12-11 00:53] #31 closed

[2018-12-11 00:54] YuzorMa commented on #37
This has been fixed in the latest release of the tools.

[2018-12-11 00:54] #37 closed

[2018-12-11 00:55] YuzorMa commented on #43
@mapoitras Are you still facing installation issues with the latest Azure CLI version?

[2018-12-12 11:00] solstarz commented on #18
@YuzorMa

Sorry for the late reply, but i solved it by installing the following:
curl -L https://aka.ms/get-azds-mac | bash.

[2018-12-14 03:37] AceHack opened #44 "How do I delete/disable dev spaces?"
I would like to also delete any azure resources it created.

[2018-12-14 16:36] stepro commented on #44
Option 1: `az aks remove-dev-spaces -g <aks resource group> -n <aks resource name>`
Option 2: go to the portal and delete the dev spaces resource.

[2018-12-21 07:53] ChristianSauer opened #45 "Cannot use Dev spaces in VS 2017 without admin rights"
Hi,
thje stack trace looks like this:

`Starting warmup for project 'AppApi'.
An error occurred during warmup for project 'AppApi':
System.UnauthorizedAccessException: Access to the path 'C:\Windows\System32\config' is denied.
   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileSystemEnumerableIterator`1.CommonInit()
   at System.IO.FileSystemEnumerableIte

[2018-12-23 04:30] evaneenwyk opened #46 "Install Support for Visual Studio 2019"
Tried to install the dev-spaces extension on a computer with only Visual Studio 2019 and it was blocked.

[2019-01-02 14:00] mthalman-msft commented on #46
The extension on the Visual Studio Marketplace is only intended for VS 2017.  Going forward, releases of VS 2019 will have the extension "in-the-box" and available to install as part of the VS setup process.

[2019-01-08 22:22] #43 closed

[2019-01-08 22:25] YuzorMa commented on #45
Thanks @ChristianSauer  for reporting this.  We are investigating this issue.

[2019-01-08 22:27] #18 closed, assigned to nobody

[2019-01-11 08:00] ChristianSauer commented on #45
No, my working directory is located on a network drive

Outlook for Android herunterladen

On Fri, Jan 11, 2019 at 2:25 AM +0100, "YuzorMa" <notifications@github.com> wrote:

@ChristianSauer Is your working directory or you Visual Studio directory under C:\Windows\System32\config?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thr

[2019-01-14 12:50] giggio opened #47 "Use Github releases or a changelog"
I just got a new release of Visual Studio Tools for Kubernetes but I don't know what's new. Please use some tool to communicate to us what is changing.

[2019-01-14 12:51] giggio opened #48 "Update roadmap"
The last update to the Roadmap is almost a year old. Would you please update it?

[2019-01-15 20:14] YuzorMa commented on #32
This should be fixed in the latest versions of Dev Spaces.  Please let us know if you continue to see issues.

[2019-01-15 20:14] #32 closed

[2019-01-15 20:14] YuzorMa commented on #38
This should be fixed in the latest versions of Dev Spaces.  Please let us know if you continue to see issues.

[2019-01-15 20:15] YuzorMa commented on #44
@AceHack Were you able to successfully delete Dev Spaces?  Please let us know if the steps @stepro  provided did not work.

[2019-01-16 05:01] AceHack commented on #44
yes

[2019-01-16 05:01] #44 closed

[2019-01-16 09:08] teebszet opened #49 "Managing the cluster with dev spaces"
Apologies for the vague issue.

Is there any way to use dev spaces without using the `azds prep && azds up` command under each individual application?

I can't figure out a way to be able to use dev spaces to deploy one application under multiple configurations to the same cluster, as `azds prep` seems to create one helm chart by default.

Consider that I want to take advantage of dev spaces' cros

[2019-01-16 18:32] lisaguthrie commented on #49
You can deploy services to the cluster however you want. `azds up` of course, but also a direct `helm install`, CI/CD pipeline, etc.

To give an example, suppose you have an application that consists of services A, B, C, D, and E. You are actively working on service A. You have configured the `default` namespace on your cluster as a dev space (e.g. `azds space select -n default`, or select `defaul

[2019-01-16 18:42] lisaguthrie commented on #47
Thanks for the feedback. We're exploring some ways to better communicate this information to our users.

[2019-01-16 18:42] johnsta commented on #48
Hi @giggio, I agree - there are several updates we can provide on existing roadmap items, plus some new items! I will update the document soon.

[2019-01-17 02:59] teebszet commented on #49
Great, thanks for the response. Good to know it's possible before I plough on through.

[2019-01-17 02:59] #49 closed

[2019-01-21 14:23] ferantivero opened #50 "[Linux] Error while removing or creating the Azure Dev Spaces Controller"
issue and proposal for Troubleshooting page: while creating or removing the controller from linux I'm facing the following err. Running with sudo made the trick

[code]

EDIT: Also, facing similar behavior with other commands using azds (e.g.  ~~prep~~, up).

[2019-01-22 23:45] saurabsa commented on #45
@ChristianSauer Are you running the process as a special user ?

[2019-01-25 20:54] apwestgarth opened #52 "Unable to determine the project type"
Whenever I open the project [from this tutorial](https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-netcore) in VSCode, using the Dev-Spaces extension, I am prompted with "Required assets to build and debug are missing from '<AppName>'.  Add them? - Don't Ask Again; Not Now; Yes

I click Yes but see no .vscode directory created at all and then subsequently I see:

[Azure Dev Spaces] Unab

[2019-01-28 14:54] knoxi opened #53 "Error while add Kubernetes support to an existing ASP.NET web application project"
I get an error when I try to add Kubernetes support to an existing ASP.NET web application project:

![image](https://user-images.githubusercontent.com/5229316/51844025-92c1c000-2314-11e9-8762-47e2fee52c2a.png)

I have no more information about what is going wrong.

[2019-01-29 00:10] DrEsteban commented on #50
Hey @ferantivero!  Running `azds` with sudo _shouldn't_ be necessary.

1. Where is the `azds` binary located on your machine?  Is it in a protected folder?
2. Do you have access the the /tmp folder on your machine? That's where azds writes logs.  If so, can you try sharing some example logfiles?
3. Can you run `azds --version` and report back what version of azds you're using?

Thanks!

[2019-01-29 00:19] lisaguthrie commented on #53
@knoxi - can you enable detailed logging for the Visual Studio extension: https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting#enabling-detailed-logging

And then try to repro and let us know what you see in the logs? Thanks!

[2019-01-29 01:02] DrEsteban commented on #52
Hey @apwestgarth!

The message you're seeing for "Required assets to build and debug are missing from..." is likely referring to the .NET/C# extensions, not anything directly related to Dev Spaces.

Can you confirm you executed the `Prepare configuration files for Azure Dev Spaces` command in the VS Code command window as part of the "[Initialize debug assets with the VS Code extension](https://do

[2019-01-29 06:50] knoxi commented on #53
I enabled detailed logging by setting the environment variable `MS_VS_AZUREDEVSPACES_TOOLS_LOGGING_ENABLED`, but there is no folder created in `%TEMP%\Microsoft.VisualStudio.Azure.DevSpaces.Tools`.
There is a folder `%TEMP%\Azure Dev Spaces` but only with empty files.

[2019-01-29 15:05] ferantivero commented on #50
Hey @DrEsteban

I think I  might have found one of the folders that could be causing this issue in my environment. It looks like write access to ```.azds``` could be required for some commands:

Not so sure how during the installation process ```.azds``` ended up being owned by root. Please note that az-cli is also own by root in my environment and maybe during ```az aks use-dev-space``` is the mo

[2019-02-04 19:57] giggio commented on #48
@johnsta looks good. I'll read it now. Thanks!

[2019-02-04 19:57] #48 closed

[2019-02-07 19:52] lisaguthrie commented on #53
Did you restart VS after enabling logging? Is the folder still not created after you repro?

[2019-02-08 07:06] knoxi commented on #53
Yes, I restarted VS several times, but the folder is not created.
Also the newest extension update form today doesn't helped.

[2019-02-08 14:18] mthalman commented on #53
@knoxi - Does the project on which you're attempting to add Kubernetes support exist outside the solution's directory?  If so, that's the problem.  It needs to be somewhere inside the solution's directory so that we're able to create a Docker build context at the solution-level.

If that's not the problem, then you'll need to attach another instance of VS as a debugger so that you can catch the ex

[2019-02-09 00:21] lisaguthrie commented on #28
@darrenfurr and anyone else looking for Windows container support in Dev Spaces: We are interested in talking with you to better understand your scenarios. Can you reach out to me directly at lisa.guthrie@microsoft.com? Thanks!

[2019-02-12 06:26] knoxi commented on #53
@mthalman - The project on which I'm attempting to add K8 support is inside the solution, but there is also a shared common project within the solution which is outside the solution folder:

Solution: `C:\Repos\Services\Management\`
ASP.Net : `C:\Repos\Services\Management\WebApp\WebApp.csproj`
Common lib: `C:\Repos\Services\Common\Common.Security\Common.Security.csproj`

[2019-02-12 09:04] sanjaydwivediicpl opened #54 "Release deploy issue path /home/vsts/work/r1/a/drop/mywebapi/chart not found"
2019-02-11T12:38:18.3697246Z ##[section]Starting: helm upgrade mywebapi
2019-02-11T12:38:18.3702714Z ==============================================================================
2019-02-11T12:38:18.3702801Z Task         : Package and deploy Helm charts
2019-02-11T12:38:18.3702906Z Description  : Deploy, configure, update your Kubernetes cluster in Azure Container Service by running helm commands

[2019-02-12 09:08] sanjaydwivediicpl opened #55 "An image does not exist locally with the tag: xxxxxxxxxxxxx.azurecr.io/azdevspaces"
2019-02-11T11:27:09.1041890Z Step 6/16 : COPY ["azdevspaces/azdevspaces.csproj", "azdevspaces/"]
2019-02-11T11:27:09.1077261Z COPY failed: stat /var/lib/docker/tmp/docker-builder746045104/azdevspaces/azdevspaces.csproj: no such file or directory
2019-02-11T11:27:09.1077609Z + docker login -u azuredevopsazurecr -p xxxxxxxxxxxxx xxxxxxxxxx.azurecr.io
2019-02-11T11:27:09.1402057Z WARNING! Using --pas

[2019-02-12 09:10] sanjaydwivediicpl commented on #55
I have created a sample for testing with name azdevspaces and changes azure-pipelines.template.yml according to our application, build succeeded but not pushing to cluster repository

[2019-02-12 10:56] sanjaydwivediicpl commented on #54
azure pipe line template

# define two variables 'dockerId' and 'dockerPassword' in the build pipeline in UI for your ACR credentials
jobs:
- job: Build_azdevspaces
  pool:
    vmImage: 'Ubuntu 16.04'
  variables:
    acrUrl: '$(dockerId).azurecr.io'
    imageRepo: '$(acrUrl)/azdevspaces'
    imageTag: '$(Build.BuildId)'
  steps:
  - script: |
      set -x
      docker build -f azdevspaces/Dockerf

[2019-02-12 14:08] mthalman commented on #53
@knoxi -  If you have a shared common project outside the solution folder, that configuration will also not work.  The build context defines the scope of the set of files that will be copied to the Docker daemon in order to build the Docker image.  In this case, the build context will be the solution folder.  If you have referenced files that are outside the solution folder, they will not be copie

[2019-02-12 22:42] darrenfurr commented on #28
@lisaguthrie - I sent you an email. Let me know if you'd like to discuss more.

[2019-02-13 10:40] HaimAudioburst commented on #18
I just installed this tool on VS 2017 and noticed that it crashes my other VS solutions that doesn't use Kubernetis.
Other VS solution contains also Service Fabric projects.

I see the following crash error in Windows Event Viewer:

Application: devenv.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.NullReferenceExcept

[2019-02-13 16:16] mthalman commented on #18
@HaimAudioburst - This is a completely separate issue from the one you've posted this on.  Can you log a separate issue so it can be tracked appropriately?  Then post back here with a link to your new issue.

[2019-02-13 20:59] mthalman commented on #18
@HaimAudioburst - We've released a new version of Visual Studio Tools for Kubernetes on the VS Marketplace that should resolve your problem: https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vs-tools-for-kubernetes.

[2019-02-14 01:13] #38 closed

[2019-02-14 01:14] YuzorMa commented on #40
We have changed the way we create DNS records for public services.  Please reactivate if you continue to see issues.

[2019-02-14 01:14] #40 closed

[2019-02-15 06:40] knoxi commented on #53
@mthalman - ok, I thought, only the affected web app project should be inside the solution folder.
I will create an overlying solution including all projects folders and test it again.

[2019-02-20 16:03] eiximenis opened #56 "Extra values files in azds.yaml seems not to be processed if they are not in the same folder as azds.yaml file"
Hi!
I have a azds.yaml file with the following `values` section:

[code]

The helm charts needs the values defined in inf.yaml and app.yaml to run succesfully, but when running azds up following error is generated:

[code]

This error appears if app.yaml is not passed to the helm chart. If **I copy both files to the same folder where azds.yaml file is** and I change the `values` section to:

[code

[2019-02-23 00:10] YuzorMa commented on #56
Thanks for reporting this @eiximenis .  We've identified the bug and will get a fix out in an upcoming release.

[2019-02-23 00:15] YuzorMa commented on #46
The latest preview of Visual Studio 2019 now has support for Azure Dev Spaces "in-the-box".

[2019-02-23 00:15] #46 closed

[2019-02-23 11:23] Leon99 opened #57 "Invalid dockerfile generated"
When following tutorial https://docs.microsoft.com/en-us/azure/dev-spaces/multi-service-netcore-visualstudio and trying to run Dev Spaces:
[code]
Changing the line in Dockerfile(.develop) to `RUN dotnet restore "mywebapi.csproj"` fixes it.

[2019-02-23 22:26] Leon99 opened #58 "App doesn't start after creating a new dev space"
Following https://docs.microsoft.com/en-us/azure/dev-spaces/team-development-netcore-visualstudio, after creating a new dev space and pressing Ctrl+F5:
[code]
Irrespective of pressing Yes or No, nothing happens (i.e. the app doesn't start).

Output window for ADS shows
`Skipping warmup for project 'mywebapi' because the version of the azds.yaml configuration file is not supported.  Launch the proj

[2019-02-24 17:34] philon-msft commented on #58
Thanks for reporting this - we'll be sure to get a fix out soon.

Meanwhile, you should be able to workaround the issue by manually upgrading the azds.yaml. In a command shell, navigate to the project directory containing the azds.yaml file and run "azds prep --upgrade".

[2019-02-24 17:51] philon-msft commented on #57
Hi @Leon99, thanks for reporting this and providing the workaround. We've implemented a fix and will get it released soon.

[2019-02-25 12:16] HaimAudioburst commented on #18
Thanks a lot for the new release Matt,
I am testing it now.
Will update you soon.

Thanks,
Haim rozenblum.

On Wed, Feb 13, 2019 at 10:59 PM Matt Thalman <notifications@github.com>
wrote:

[2019-02-25 12:59] cmendible opened #59 "Horizontal Pod Autoscaler (HPA) does not work with AZDS enabled"
Hi,

AZDS adds a sidecar for each each deployed pod. That sidecar is added **without limits and requests** and therefore, if you want to use HPA it will not work.

[2019-02-27 17:45] xxthegonzxx commented on #52
@apwestgarth Did you ever resolve this?

[2019-02-28 23:27] lolodi commented on #59
A task has been created to track this, but it's currently low on priority. We'll let you know once this problem is fixed.

[2019-03-01 17:13] HaimAudioburst commented on #18
@mthalman thanks, new VS tools for kubernetes release doesn't crash now.

[2019-03-01 17:33] HaimAudioburst opened #60 "Running Azure Dev Spaces on kubernetes continaer project .Net Core 2.2 with reference to simple project fail to run on no reference found"
I created in Visual Studio 2017 with latest update and latest kubernetes tools "Container application for Kubernetes". I added from this project a reference to simple .Net Core class library project names **EmptyProject**.
1. Build ended successfully
2. Running this project via IIS runs successfully
3. Running this project without adding reference runs successfully
When I try to run it with the re

[2019-03-07 22:30] andrewstevenson opened #61 "Linux tar gzipped archives not sync'd"
Archives required for docker builds are not sync'd causing the docker build to fail.
for example,

`my-archive.tar.gz` not sync'd but `my-achive.tar` is. Tyring to add these files to the docker therefore fails.

[2019-03-07 23:57] ShrutiPPathak commented on #60
Thanks for reporting the issue. Can you please confirm if the Dockerfile that was auto-generated contains instructions to copy "EmptyProject.csproj". I suspect this happened because the Dockerfile was generated when the reference to "EmptyProject.csproj" did not exist.

[2019-03-08 18:38] YuzorMa commented on #61
@andrewstevenson Can you check your ignore files (.gitignore, .dockerignore, etc.) to make sure that you're not excluding tar.gz files.  Dev Spaces will honor the rules of your ignore files and not sync files and folders that are ignored.

[2019-03-10 16:26] Eneuman opened #62 "Dev Spaces and Azure DevOps Nuget feed"
We are currently investigating using Dev Spaces for a large MicroService project and have created a small proof of concept application.

Functionallity that is used by all of the MicroServices will be distibuted in .nuget packages and added to a private feed in Azure DevOps.

When trying to use the feed in Dev Spaces, the package was not found when nuget restore was run.
The following documentatio

[2019-03-11 16:28] rmja opened #63 "Add ability to specify docker build path"
I am having the following project layout:
[code]
The app has a dependency on the library (`<ProjectReference Include="..\Library\Library.csproj" />`).

Running `azds prep` inside the App folder produces an invalid Docker file:

[code]

All paths are relative to the App folder which clearly does not work because the library is not included in the image.

Running "Add->Container Orchestrator Support

[2019-03-11 17:41] Eneuman opened #64 "Azure DevSpaces VS extension incompatible with Service Fabric debugging"
When having the DevSpace VS extension installed and trying to debug a Service Fabric application, you recive the following error:

![image](https://user-images.githubusercontent.com/12099277/54144930-1e0e9500-442d-11e9-9a67-aeaa093ab270.png)

To reproduce:
1) Install Service Fabric toolings
2) Install DevSpaces VS extension
3) Create a default Service Fabric web project
4) Start SF Application in

[2019-03-11 18:30] dbreshears commented on #64
Thanks for reporting.    We have a fix for this that should be coming this week..

[2019-03-11 18:43] Eneuman opened #65 "DevSpaces CLI problem when having mutiple subscriptions"
If you have a account with mutiple different subscriptions, dev spaces VS extenion and CLI will fail with mutiple problems.

To reproduce:
1) Create a new Azure Account.
2) Add a Subscription of type "DEV/Test"
3) Add a Subscription of type "Pay as you go"
4) Create a AKS cluster in your "DEV/Test" subscription

This will all work fine so far.

Now If you start VS and create a a new web app and po

[2019-03-11 19:00] lisaguthrie commented on #65
The VS extension uses the subscription you select in the VS UI, while the CLI uses the default subscription you've configured. You can choose a different default subscription for the CLI using the `az account set` command.

Sounds like there may have been an issue with the cluster associated with your dev/test subscription. Happy to help with troubleshooting if you want to give it another shot.

[2019-03-11 19:06] Eneuman commented on #65
Sure :)
I'll setup a new cluster in my Dev/Test subscription and try to reproduce the issue again.
Gonna take me 30 min or so.

[2019-03-11 20:28] Eneuman commented on #65
After setting up a new AKS in my DEV/Test subscription it seems to working fine :)
Maby this was a transient problem since I cannot reproduce it again.
I'm closing this issue for now.

[2019-03-11 20:28] #65 closed

[2019-03-11 20:29] Eneuman commented on #64
Nice
I'll wait for the new release and after testing it i'll close this issue :)

[2019-03-12 16:07] jikuma commented on #62
As a workaround, you can generate a PAT token which is scoped to just pulling the package from the NuGet feed and use it as a password.

Here is documentation to generate the PAT token

https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=azure-devops

To generate PAT token with the scope only to pull the nuget package, go to "Show al

[2019-03-13 19:31] jelster opened #66 "Automatically align DevSpace with source branch"
As an application developer and product manager, I would like to have a DevSpace automatically created and selected for me that corresponds to and is named the same as the current source control branch so that I am less likely to mess up or forget to change and/or set my DevSpace across different code branches

The docs supply a diagram illustrating a hypothetical CI/CD process. This diagram impli

[2019-03-14 23:02] johnsta commented on #66
Hi jelster, I'm on the Dev Spaces product team. That's a really interesting suggestion that's been made by several users. I'd like to learn more about your scenarios and how you would use this feature. Would you be ok with a quick 30 min phone call to discuss more? Feel free to reach out to me at john.stallo@microsoft.com.

[2019-03-18 13:30] eiximenis opened #67 "Additional values in "set" section of azds.yaml don't seem to be passed to helm charts"
Hi
I have a `azds.yaml` file with following  `set` section:

[code]

I access to `Values.inf.k8s.dns` in my helm chart templates, but when launched using `azds up` the values are not received. If launched helm direcly from CLI with `--set inf.k8s.dns=foo.bar` everything works as expected.

I have following version of azds CLI:

[code]

Thanks!

[2019-03-18 17:45] jikuma commented on #67
Thanks @eiximenis for reporting the issue. We are working on the fix. Meanwhile you can create a separate values files beside azds.yaml with the section

`inf:
      k8s:
        dns: $(spacePrefix)webmvc$(hostSuffix)`

and update the install section of the azds.yaml to include the path of this value file

[code]

[2019-03-20 12:36] eiximenis commented on #67
Ok @jikuma!

Unfortunately do not work because it seems that the $(...) expansion do not work outside `azds.yaml` :(

Thanks!

[2019-03-20 23:41] cwoolum commented on #62
I tried this but adding `Nuget.config` to the gitignore prevents the file from getting copied into the container. I tried setting `configurations:develop:build:useGitIgnore` in azds.yaml to false but it makes no difference.

[2019-03-21 00:05] jikuma commented on #62
I am looking into the sync issue. Three is also another way to do it, which build on the way you build the image locally. How are you specifying the credentials of private nuget feed during docker build?

If you have a private Azure DevOps nuget feed and then you can use Vsts nuget credential provider. [https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget-exe-credential-providers](

[2019-03-21 00:34] stepro commented on #59
Hi Carlos - following up after our meeting today. Have you looked at the LimitRange object in Kubernetes? It seems like this might allow you to set default requests and limits for resources in a namespace outside of the pod spec itself. There is some more information [here](https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/memory-default-namespace/).

[2019-03-21 01:14] cmendible commented on #59
So true! Let me double check with my team. I'll try again next week and come back to you with the results.

[2019-03-21 14:26] immortalpl opened #68 "AZDS can't prepare configuration files for debug"
Hi,
Basing on tutorial: https://docs.microsoft.com/pl-pl/azure/dev-spaces/quickstart-java
I'm not able to debug sample "webfrontend" JAVA application. Below instruction is unfortunately not working for me:

"Open the Command Palette (using the View | Command Palette menu), and use auto-complete to type and select this command: Azure Dev Spaces: Prepare configuration files for Azure Dev Spaces. Thi

[2019-03-21 15:14] AiHaibara opened #69 "The log file is 372 GB"
The log file "azds-sdk-2019-03-17-15-31-03-27368.txt" is 372 GB.

[2019-03-22 14:54] cmendible commented on #59
Hi Stephen, I can confirm after doing a double check that the **devspaces-proxy** side car somehow does not get limits specified even after setting a **LimitRange** object like this one:

[code]
If you run **describe** on the pod you get the following results. Please note that the **php-apache** container does get the limits from the namespace **LimitRange**

[code]

[2019-03-22 15:55] stepro commented on #59
Well that's unfortunate. It's probably to do with the order in which the various admission controllers run, where the [limitranger](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/limitranger/admission.go) runs before the one that calls our initializer that injects the sidecar container. Let me get back to you with some additional ideas.

[2019-03-22 17:15] cwoolum commented on #62
I'm not really in love with having to specify a PAT at all. I'm wondering if it would be possible to create a Nuget credential provider that worked via managed identity. We already use managed identity to connect to all of our other Azure resources. As long as the managed identity SP has access to Azure Artifacts, it should work.

[2019-03-23 00:21] philon-msft opened #71 "Files in node app not updating during VS Code debugging"
While debugging in VS Code using the "Attach to Server (AZDS)" target, changes to files are automatically synced to the container, where nodemon should detect the change and restart the node server to update app behavior. Recent updates to node broke older versions of nodemon, including the version referenced by the node.js samples in this repo (mywebapi and webfrontend). This has now been fixed i

[2019-03-23 00:21] #71 closed

[2019-03-25 14:18] cnsgithub opened #72 "Setup failing with 'Oops... An unexpected error has occurred. A report of the error will be sent to Microsoft.'"
Hi,

I am following the [Quickstart: Create a Kubernetes dev space with Azure Dev Spaces (Java and VS Code)](https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-java) guide.

The listed prerequisites are met.

**Environment:**

- AKS cluster with Dev Spaces enabled: `kubectl version`

[code]

- Azure CLI: `az --version`

[code]

- Azure Dev Spaces CLI: `azds --version`

[code]

**Error:**

[2019-03-25 14:37] cnsgithub commented on #72
Ok, I tried the same commands with another resource group, namely the `MC_<resourceGroup>_westeurope_<clusterName` one.

This reveals a permission problem:

[code]

Which role has to be assigned? I am already owner of the `MC_<resourceGroup>_westeurope_<clusterName>` resource group.

Thanks.

[2019-03-25 17:53] MrMcGibblets opened #73 "azds.yaml - container sync"
I have a node app that lives underneath the .net core app directory. Currently, this isn't published or synced to the container within dev-spaces. I have updated the azds.yaml file sync object to include this folder, but that doesn't have any effect, is there more to it than just adding it here?

[2019-03-25 18:03] MrMcGibblets commented on #73
There is a useGitIgnore property which I think it might use to determine the files to sync, when i turn this to false i get:

If someone can confirm that would be great and if so any advice on my options as i dont want to commit this to source as it is built dynamically.

[2019-03-25 18:22] dbreshears commented on #64
@Eneuman ,  have you had  chance to test this?

[2019-03-25 21:29] YuzorMa commented on #72
@cnsgithub Thanks for reporting this.  We're investigating the logs on our side and we'll let you know what we find.

In the meantime, it is odd that you don't see any logs in %Temp%.  Are you running on Windows?  Do you see an "Azure Dev Spaces" folder in your %temp% directory and there are no files in it, or do you not even see the folder?

[2019-03-25 22:15] #50 closed

[2019-03-25 22:15] #45 closed

[2019-03-25 22:17] YuzorMa commented on #53
@knoxi Were you able to get this to work with the instructions @mthalman provided?

[2019-03-25 22:17] #54 closed

[2019-03-25 22:18] YuzorMa commented on #55
@sanjaydwivediicpl Can you give a little more information about what you're trying to do and where you're seeing the errors?

[2019-03-25 22:20] YuzorMa commented on #56
@eiximenis this should be fixed in the latest version of the CLI (0.1.20190320.5)

[2019-03-25 22:23] YuzorMa commented on #67
@eiximenis This should be fixed in the newest version of the CLI (0.1.20190320.5)

[2019-03-25 22:29] YuzorMa commented on #69
@AiHaibara We've seen a few instances where the tools get into a tight-loop and that can result in a lot of logging.  We have fixed some of those instances, but it would be great to know if we addressed yours.  Can you take a look at the file and see if there is an obvious repeated section?

[2019-03-25 23:24] xinyanmsft commented on #73
Hi, Andrew,
The 'no more space available' error is probably because the node_modules directory has too many files and exhausted the space allocated.
I suggest you do this:
1. Is your packages.json and *.js files checked in as sources? If not (and they are excluded by .gitIgnore file), set 'useGitIgnore' to false, and create/update your '.dockerIgnore' file. In your .dockerIgnore file, please exclu

[2019-03-25 23:50] YuzorMa commented on #58
@Leon99 This should be fixed in the latest version of the Kubernetes Tooling for Visual Studio (1.0.1903.1902)

[2019-03-25 23:51] YuzorMa commented on #57
@Leon99 This should be fixed in the latest version of the Kubernetes Tooling for Visual Studio (1.0.1903.1902)

[2019-03-26 00:09] AiHaibara commented on #69
@YuzorMa I deleted the big file because disk is full. and another day's file "azds-sdk-2019-03-21-06-32-15-11828.txt" (93KB) left only.
I'm not sure it's the same error.
"2019-03-21T13:46:13.4198056Z" : ERROR: Port forward aksmvc-74888d9654-bhjc4 49218:50051 50246 : Write to remote failed with System.Net.WebSockets.WebSocketException (0x80004005): Unable to connect to the remote server ---> System

[2019-03-26 00:26] YuzorMa commented on #69
Thanks @AiHaibara.  This particular error would not have been the source of the massive log file.  I'm going to close this issue out for now, but if you see it again, please share so we can get it taken care of.

[2019-03-26 00:26] #69 closed

[2019-03-26 03:05] andxu commented on #68
hi @immortalpl  Thank you for trying java in Azure Dev Spaces, the error message in vscode-java-dependency is trivial and not the reason for your problem(it will be fixed on next version of vscode-java-dependency about a week later), have you installed maven, or are you working on a new environment with maven newly installed?  In the latter case, there will be considerable time in downloading the

[2019-03-26 05:21] cnsgithub commented on #72
Sorry about that, now I've found the `Azure Dev Spaces` folder in `%temp%`. It was a bit misleading, because there have been two `%temp%\Azure*_azds*.log` files before with older modification dates so I expected the new ones to be directly in `%temp%` as well.

This is what I've found in `%temp%\Azure Dev Spaces\azds-cli*.txt` for the non-`MC_` resource group:

[code]

I just wonder what `E:\\A\\_

[2019-03-26 09:55] Eneuman commented on #64
Yes, this resolved now so I’m closing this issue.

[2019-03-26 09:55] #64 closed

[2019-03-26 11:01] MrMcGibblets commented on #73
Hi,

Thanks for your reply.

the package.json and js source files are checked in, however, the build of these are not. What you have pointed me to is that I wasn't building these in the container and therefore they would never exist.

The dockerfile now runs npm install and npm run-script build successfully however when loading it fails with:

I imagine similar reasons to above but obviously, I ne

[2019-03-26 14:17] darrenfurr commented on #62
Agree with @cwoolum. Is there a way to provide an Azure Managed Service Identity in the azds.yaml & then the deployed pod could access the private nuget feed?
https://docs.microsoft.com/en-us/azure/aks/developer-best-practices-pod-security#use-pod-managed-identities

[2019-03-26 15:32] xinyanmsft commented on #73
Hi, Andrew,

The 'failed to watch file' issue probably should be a separate issue. I've seen them sporadically, because the Kubernetes cluster node ran out of watcher objects. In Azure Kubernetes Services, by default the user watcher object limit is set to 8192, which is quite low (https://github.com/Azure/AKS/issues/772).
You can use the attached yaml file to increase the watcher object limit on

[2019-03-26 16:08] YuzorMa commented on #72
@cnsgithub A couple points here so I'll try to hit them all:

- We used to drop our log files directly in the %Temp% folder but now we put them in a sub-directory so we don't pollute (you must be a long-time user :-))
-The "E:\\A\\..." is an artifact of the build process of the CLI
-You should use the resource group that contains the AKS cluster, not the one that contains the infrastructure
- The

[2019-03-26 17:19] eiximenis opened #74 "Support for msbuild variables & Directory.Build.props"
Hi!
If csproj contains msbuild variables the "azds prep" fails with message:  _Failed to prepare the current working directory: Project is not a dotnetcore project.

My csproj contains:

[code]

Then I have a `Directory.Build.props` file that sets the $(NetCoreTargetVersion), $(AspNetCoreHostingModel) and $(DockerDefaultTargetOS) to desired values.

I am using CLI version

[code]

[2019-03-26 17:39] eiximenis commented on #72
Hi!
Same happened to me. I had a controller created and use --update option of "az aks use-dev-spaces" for udating the CLI.
CLI was updated and then I received the error.

[code]

I found this in my logs folder:

[code]

Hope this helps!

[2019-03-26 18:29] eiximenis opened #75 "azds list-uris do not show any uri"
Hi!
I use `azds list-uris` to get the URIs of my current devspace but I do not get any Uri. I must use `-a` modifier to get the uris.

![image](https://user-images.githubusercontent.com/5191049/55023448-1b9b6600-4ffd-11e9-8c49-bd28cac43ca3.png)

As you can see in the image I am in the devspace "demo" and I have two services on it (webbff is in another devspace). Ingresses were created in the "demo

[2019-03-26 18:50] YuzorMa commented on #75
Thanks @eiximenis  We're investigating a similar bug where list-uris returns "inconsistent" behavior.  We have not found the source of the issue yet, but we will post back here once we identify it and if there is a workaround.

[2019-03-26 18:58] YuzorMa commented on #74
Good catch @eiximenis.  We had not accounted for that scenario - we'll work on a fix.

[2019-03-26 20:36] knoxi commented on #53
Yes, I was able to handle it with these instructions.

[2019-03-26 20:36] #53 closed

[2019-03-27 08:19] cnsgithub commented on #72
@YuzorMa Thanks for your clarifications so far.

[code]

[code]

[code]

[code]

[2019-03-27 14:01] MrMcGibblets commented on #73
Thanks for your help Xin, that did fix my issue. The original issue regarding syncing I am still struggling with.

My dockerfile now runs my NPM build which builds my js files and places them in a dist folder which is included in the .gitignore file

I have set the useGitIgnore flag to false (updated my dockerignore) and ran azds up, I included the top level folder where the dist folder lives to s

[2019-03-28 02:18] xinyanmsft commented on #73
Hi, Andrew,
Is it possible you send me a sample project / dockerfile / ignore files / azds.yaml illustrate your scenario?
thanks
Xin

[2019-03-28 04:22] lostguid commented on #55
Any update on this?

[2019-03-28 07:53] MrMcGibblets commented on #73
[azds.zip](https://github.com/Azure/dev-spaces/files/3016741/azds.zip)
 Attached is the dockerfile.develop, AZDS.yaml and .dockerignore

[2019-03-28 13:20] eiximenis commented on #67
@YuzorMa
Tested with 0.1.20190320.5 **and it works** :)

Closing the issue!

[2019-03-28 13:20] #67 closed

[2019-03-28 19:05] sanar-microsoft commented on #72
@cnsgithub We are still investigating this issue, can you provide the Fiddler trace(with response headers) by doing a GET on http://<dataplaneFqdn>/api/ping

You can get the dataplaneFqdn value from this file: C:\Users\<your user>\.azds\settings.json

[2019-03-28 21:23] xinyanmsft commented on #73
Here's a sample about having a node js app and a C# app in the same container. However I should say if you have two web sites, the best way is to have them in separate projects.
I guess the problem you have is around your Dockerfile which doesn't seem to copy the js files.
[sample.zip](https://github.com/Azure/dev-spaces/files/3020190/sample.zip)

[2019-03-29 05:46] cnsgithub commented on #72
@sanar-microsoft Just tried the `dataplaneFqdn` from `%userprofile%\.azds\settings.json`. The DNS name in the form `azds-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.weu.azds.io` cannot be resolved. Also checked this from outside my network in CloudShell at Azure:
[code]
Weird?

[2019-03-29 06:35] #72 closed

[2019-03-29 21:15] sanar-microsoft commented on #72
@cnsgithub I'm glad things are working for you and I agree the error message needs improvement, we will try to fix this in our next update. Sorry for all the trouble.

[2019-04-01 17:41] stepro commented on #59
@cmendible, it looks like we need to do work on our side for this. My suggestion to the team has been to add an annotation like "azds.io/proxy-resources" that you can set on your pods to a JSON object representing the "resources" section of the container spec for the proxy. If the HPA also needs the init containers to have limits, we would provide a similar "azds.io/init-resources" annotation for

[2019-04-01 20:14] #52 closed

[2019-04-01 20:14] #56 closed

[2019-04-01 20:14] #58 closed

[2019-04-01 20:14] #57 closed

[2019-04-01 20:15] #61 closed

[2019-04-02 08:27] MrMcGibblets commented on #73
Thanks

[2019-04-02 08:27] #73 closed

[2019-04-02 11:55] puzits opened #77 "Stuck with Waiting for container image build..."
Trying to run Azure dev spaces with the helm chart modified to fit our needs. It is able to install the helm chart but not able to build the container image it fails with timeout.

When i see the pod status it says
"Container image "gwravailabilityapi/devspaces-x0169ddd533bbfbf6" is not present with pull policy of Never
Error: ErrImageNeverPull "
Azure dev spaces output log:
Release "azds-ed9bd4-d

[2019-04-02 18:44] amsoedal commented on #77
Hi @puzits, can you examine your dockerfile? Our logs indicate that in this scenario the build succeeded but that actually running the image is failing.  Thanks for raising this issue, we'll try to provide better feedback in this scenario to make troubleshooting easier.

[2019-04-03 06:01] puzits commented on #77
Hi @amsoedal  thanks for replying. I was able to fix the above issue by changing the container image name. Now it is able to build an image from the pod.  But for some reason pod logs show following message.
![image](https://user-images.githubusercontent.com/10223948/55456134-e0ec8b80-5603-11e9-8b4d-424d34e6ad1e.png)

[2019-04-03 18:42] sanar-microsoft commented on #77
@puzits I've seen this error when the ENTRYPOINT is incorrect. Is the assembly name 'GWR.Availability.API.dll' correct?

[2019-04-03 19:02] puzits commented on #77
hi @sanar-microsoft , i was able to fix it. The reason for the issue was in azds.yaml develop configuration i was not pointing to Dockerfile.develop.
Once that corrected issue is fixed.

[2019-04-05 12:42] da1rren opened #78 "Dev spaces with Linkerd - Pods stuck on initalizing"
Hey Guys,

I'm having some trouble using dev spaces with a linkerd enabled kubernetes cluster.  Linkerd is set to auto-inject into any deployments created in a particular namespace.  But it seems that when using azds up the deploy hangs and pods get stuck initalizing.

I've deploy other containers to the namespace successfully.  Any ideas?

Heres the deployment:
[code]

[2019-04-05 16:00] stepro commented on #78
@da1rren, can you send me the description of the pod created by this deployment? In general, we know that dev spaces does not work with linkerd or istio because of conflicts with our own service-mesh-like proxy, but given the increased adoption of service meshes we're looking to enable that. Can you also describe how you installed linkerd in the cluster? Thanks!

[2019-04-05 16:27] da1rren commented on #78
Sure thing!

The pod is extremely simple, its a single .net core 2.2 mvc app using the default dotnet new template.  The docker file is generated from the azds prep command.

The Linkerd install was also pretty straight forwards however we where making use of the [automating injection](https://linkerd.io/2/tasks/automating-injection/) feature of Linkerd.  Basically I create a namespace with an ann

[2019-04-05 17:50] stepro commented on #78
Thanks @da1rren. Can you send the output of "kubectl get pod" on the pod that's created but stuck in the waiting state? You may need to specify the "--include-uninitialized" option to find it.

[2019-04-06 20:10] da1rren commented on #78
![image](https://user-images.githubusercontent.com/2702382/55674715-482e6800-58b0-11e9-90c1-2743beee0b77.png)

As request.  Do you require anything else @stepro ?

[2019-04-06 23:51] wmorgan commented on #78
If there's anything we can do to ease this from the Linkerd side, please let me know. (cc @grampelberg)

[2019-04-07 03:57] markphillips100 commented on #13
I'm using Azure Service Bus to provide event-based integration between microservices where each microservice has its own subscription on a single system-wide topic.  This follows guidance obtained from the [eshopOnContainers guidance project](https://github.com/dotnet-architecture/eShopOnContainers).

As @MortenChristiansen points out, whilst using Dev Spaces is great for propagating space context

[2019-04-09 17:31] sanar-microsoft commented on #78
@da1rren Does the 'kubectl describe pod <name>' output show any problem with the second init container?

[2019-04-09 18:12] stepro commented on #13
@markphillips100, it is an unfortunate limitation of dev spaces that communication via queues cannot be naturally routed correctly today. There is an inherent conflict in the routing logic, which works when making a request from one service to another, and a piece of code that is listening on receiving a message from a specific queue instance.

The only realistic way to make this work today is to

[2019-04-09 18:33] stepro commented on #78
@da1rren I'm pretty sure this isn't going to work right now, but given the increased demand for service meshes, we do want to make sure the dev space scenarios continue to work.

@wmorgan, thanks for the reach out. My investigations into iptables, netfilter etc. show that it might be possible to make two service meshes cooperate with each other, if they know when to yield to the other. I'm on vaca

[2019-04-10 01:39] markphillips100 commented on #13
Thanks @stepro for your insights.

On a previous project, when we needed to develop locally so as to be isolated from other devs, we would manually create a personalised service bus subscription (rather than a topic) and attach the event-driven microservice to this subscription.  This didn't necessarily isolate the original (parent) microservice from receiving an event and handling it but it at le

[2019-04-10 15:22] grampelberg commented on #78
There is a `l5d-dst-override` header that does that.

Yup, `tap` will do it!

[2019-04-13 04:22] darkmyst commented on #22
Is there any word regarding eventing or queue support?

[2019-04-15 16:12] stepro commented on #13
@markphillips100, your idea seems reasonable, and is something we had thought about but couldn't implement in a general fashion as it requires specific app logic changes. We'd love to hear your experience trying this out and if it proves to work for you. One thing we're looking to learn is how far people are willing to go with app logic changes in order to keep the value of dev spaces, and this sc

[2019-04-15 16:18] stepro commented on #78
@grampelberg, this is good to know. I recognize the `l5d-dst-override` header from when I'd played with linkerd previously, so I was pretty sure this was possible. Didn't know about `tap` - is it possible to tap all the services running in a namespace simultaneously? Thanks!

[2019-04-15 16:22] grampelberg commented on #78
Totally possible!

[2019-04-16 09:54] markphillips100 commented on #13
@stepro I'll for sure give feedback when I have it.

It's likely to be a while as our new project hasn't decided yet if we'll just use a message broker alone or a framework like NServiceBus or MassTransit.  I'm not sure yet but if we went for the latter frameworks, we'd need to decide whether the extra app code, if any, would need to be coupled to the framework semantics or just the underlying tra

[2019-04-22 14:18] lismarys opened #82 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `azds`
- Extension Version: `0.1.120190402`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\TERNURA\azuredevspaces.azds-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-

[2019-04-22 18:27] YuzorMa commented on #55
Closing: without more details we cannot investigate this issue.

[2019-04-22 18:27] #55 closed

[2019-04-22 18:29] YuzorMa commented on #68
@immortalpl  Please let us know if yo uare still seeing this with @andxu's comments.  Closing for now as we have not heard back in 1 month.

[2019-04-22 18:29] #68 closed

[2019-04-22 18:30] YuzorMa commented on #75
This should be fixed in the latest version of the tools.

[2019-04-22 18:30] #75 closed

[2019-04-22 18:30] #77 closed

[2019-04-22 18:33] YuzorMa commented on #60
Closing as we need more details to investigate and have not heard back in over a month.

[2019-04-22 18:33] #60 closed

[2019-04-23 05:46] tylerjwatson opened #83 "az aks use-dev-spaces fails with no output"
The Azure CLI on Ubuntu 19.04 fails to run the `az aks use-dev-spaces` command with no output an no `azds` command being added to the path of the working environment.

Below is an excerpt from the terminal

[code]

Azure CLI was installed with the bash script.

[2019-04-23 09:51] JerryWang20 commented on #83
i also meet the issue for i run ' az aks use-dev-spaces -g mygroup -n mycluster' and it responds with '[K - Searching ..' what's the solution for it?

[2019-04-23 18:07] rakeshvanga commented on #82
@lismarys Can you also attach your cpu profile?

[2019-04-23 22:50] rakeshvanga commented on #83
@tylerjwatson are you able to run other azure cli commands properly?
It seems to be an issue with azure cli dependencies as mentioned in this issue: https://github.com/Azure/azure-cli/issues/6513.
Can you trying re-installing azure cli using a different method?

[2019-04-23 22:54] rakeshvanga commented on #83
@JerryWang20 Can you provide more details of the issue? Are you seeing exactly the same error as tyler has?
On what plat form are you running this command?
Also can you provide the error messages that you get from the console?
Thanks!

[2019-04-24 00:39] tylerjwatson commented on #83
Sure, I uninstalled it under bash and installed the .deb package and the symptoms stay the same.
I also installed the .msi under windows 10 and still the same issue.

[2019-04-24 00:46] tylerjwatson commented on #83
Some more diagnostic information that may be of use to you:

[code]

[code]

It appears an `azds` binary is not included with the package; is it downloaded?

[code]

[2019-04-24 02:41] travisnielsen opened #85 "preLaunch task fails with: SSL connection could not be established"
I'm experience an issue very similar to #7 (closed) in VS Code on mac. When running in debug mode, I receive the following error:

[code]
Here is my launch.json

[code]
The same code works fine from a Windows 10 VM running Visual Studio 2017 so I don't believe this is a cluster or Azure infrastructure issue.

[2019-04-24 03:14] JerryWang20 commented on #83
i upgrade the Azure Cli to the latest version of 2.0.63. And it return the different error:
Downloaded to C:\Users\u587212\AppData\Local\Temp\tmpenn_0583\dev_spaces-1.0.0-py2.py3-none-any.whl
Validating the extension C:\Users\u587212\AppData\Local\Temp\tmpenn_0583\dev_spaces-1.0.0-py2.py3-none-any.whl
Invalid checksum for C:\Users\u587212\AppData\Local\Temp\tmpenn_0583\dev_spaces-1.0.0-py2.py3-non

[2019-04-24 17:17] amsoedal commented on #83
@JerryWang20 Both the issues of mismatched checksums & "- Searching..." should be fixed by a PR that got merged into the az-cli-extensions repo last night:  https://github.com/Azure/azure-cli-extensions/pull/648
Can you try again now and see if you see the same error?

[2019-04-24 22:22] sanar-microsoft commented on #85
@travisnielsen
Can you share AZDS logs from your machine and CLI, VSCode extension version?
The logs should be present in $TMPDIR on mac under Azure Dev Spaces subdirectory, and you can run `azds --version` to get the CLI version.

[2019-04-26 01:48] tylerjwatson commented on #83
Hi @amsoedal - it seems to have fixed it on Windows 10, Ubuntu is still a work in progress.  Many thanks on the support from everyone in this thread, it's not ideal but at least I have _some_ avenue forward in my research.  :+1:

[2019-04-26 06:11] tylerjwatson commented on #83
The `az aks use-dev-spaces` command is adament that it wants to install the .NET Core runtime, even though one is present and `DOTNET_HOME` environment variable is set.

The "official" installer does not work for ubuntu disco as it has not been packaged yet in the official repo, hence the manual installation of a dotnet sdk, which works otherwise.

I'm inclined to close this issue as it's technica

[2019-04-26 18:45] rakeshvanga commented on #83
@tylerjwatson Close this issue and feel free to open a new one for forcing the installation of .NET Core runtime. This is a separate issue that is related to Ubuntu 19.04.

[2019-04-29 17:08] #83 closed

[2019-04-30 04:02] markphillips100 opened #91 "Integrating user secrets.json into inner loop"
Azure Dev-Spaces makes use of extra yaml files to include secrets as part of an inner-loop deployment.  The azds.yaml makes reference to optional secrets.dev.yaml for this purpose.

When our projects are .Net core we have a really nice user secrets management per project.  Is it possible the dev-spaces can make use of these secrets.json files when the project in question is .net?

[2019-04-30 15:56] stepro commented on #91
@markphillips100, can you point us to some docs for the secrets.json approach you are using in your .NET projects? Or give us a quick description? The primary challenge with consuming a different secret file is knowing how to translate the content of one into the expected set of Helm chart values.

[2019-04-30 16:17] markphillips100 commented on #91
Sure @stepro, here are the Microsoft docs I refer to for using User Secrets in .net core projects. [https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-2.2&tabs=windows](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-2.2&tabs=windows).  Keep in mind I'm assuming dev-spaces is supposed to be resolving an inner-loop experience for AKS

[2019-04-30 17:25] stepro commented on #91
Thanks for the info. I see that the documentation talkes about how to manage secrets at development time. The purpose of dev spaces is to give you an inner loop with more production fidelity, so ideally when you are running your code in AKS, you would not be managing secrets in the manner appropriate for development, but rather in the way you actually intend to consume secrets in production.

Dev

[2019-05-01 02:08] markphillips100 commented on #91
Thanks for the clarity @stepro. It all makes sense thanks, and I like the strategy of getting closer to the production deployment mechanism too by using Helm and how it supports supplying a "values" file.  I guess I got side-tracked a little having been so used to the .net user secrets.  I'll stick to only using those when debugging locally.

Just for some extra context, my CI/CD process transform

[2019-05-01 12:16] markphillips100 opened #93 "Build args passed in wrong order to devspaces-build init container"
Since having used `azds up --clean` the docker file no longer builds.

I've run `kubectl logs <mypod> -c devspaces-build` to check the reason for the failure and the logged "build args:" value contains a long line of comma-separated arguments of which this is a snippet: `/Dockerfile.develop,.,--no-cache,--pull`.  Note: the PATH . does not appear last which I think is a requirement for using `docke

[2019-05-01 16:02] stepro commented on #91
By "currently" I wasn't implying that anything else is planned. There's a relatively new approach using kustomize.io that has been added to kubectl apply as an alternative to templating. We'll be watching how that lands and may look into supporting it as well as Helm.

[2019-05-01 16:02] #91 closed

[2019-05-01 16:35] xinyanmsft commented on #93
thanks for reporting, Mark. Unfortunately I couldn't reproduce your problem. 'azds up --clean' indeed put the --no-cache and --pull options at the end, but 'docker build' appears to be working Okay for me.

however in your snippet, '/Dockerfile.develop' does concern me since the path of Dockerfile should not be in the root directory.

to help us troubleshoot, can you
1. send us your azds.yaml file

[2019-05-02 02:30] markphillips100 commented on #93
My fault @xinyanmsft.  I'm setting a build arg (AZDS_NUGET_FEED) in the azds.yaml where the environment value is a json string.  Like so:
[code]
The json value caused parsing issues I guess so I wrapped in escaped doublequotes and all is now good:
[code]
By the way, the Dockerfile.develop path is `-f,src/MyProject/Dockerfile.develop`.  I just cut the snippet short.

[2019-05-02 02:30] #93 closed

[2019-05-03 09:59] eiximenis opened #94 "[Request] SPA application support"
Is in the roadmap to consider the support of **SPA** applications in Devspaces?

If using `azds prep` against a SPA app, it is treated like a standard MVC/webapi webapp, but "dotnet build" in SPA apps requires nodejs which is not shipped with the netcore SDK images.

Currently workarounds i am aware of are:

1. Install nodejs in the netcore sdk image
2. Use a multistage Dockerfile.develop, and bui

[2019-05-03 18:22] stepro commented on #94
In the past, the ASP .NET Core build images included node, but they have moved away from this due to problems around which version of node was needed. Your best option is to derive your own image that includes the version of node you want, or just embed the installation of node in your Dockerfile. The easiest way to get whatever node version you want is to use [n](https://github.com/tj/n) via [n-i

[2019-05-03 18:22] #94 closed

[2019-05-09 18:45] YuzorMa opened #95 "Azure Dev Spaces does not work on Kubernetes version 1.14"
Adding Dev Spaces to a cluster with Kubernetes version 1.14 will fail.

The original implementation of Dev Spaces used the Kubernetes Initializers feature which has been deprected in Kubernetes 1.14.  Our newest versions no longer use Initializers, but we still deploy older versions to support older clients.  We will be deprecating these versions shortly but in the meantime, please do not use Kube

[2019-05-14 21:07] matt-landers opened #96 "Helm install failed"
I'm getting the error below when running `azds up`

`
Helm install failed with exit code '1': Error: UPGRADE FAILED: render error in "myproj/templates/secrets.yaml": template: horseman-api/templates/secrets.yaml:9:26: executing "myproj/templates/secrets.yaml" at <b64enc>: wrong type for value; expected string; got map[string]interface {}
`

Here is the secrets.yaml file that was generated with `az

[2019-05-14 22:07] stepro commented on #96
Hi @matt-landers, this indicates that in your secrets.yaml file, you have specified an object as one of the secret values, something like this:

[code]

where the `foo: bar` part represents an object as the value of `myvalue`, rather than something like `myvalue: a string value`.

What are you trying to pass in as the value? Making sure it is parsed as a string by quoting it in the yaml would help

[2019-05-14 22:07] sanar-microsoft commented on #96
@matt-landers Is your secret value in json/yaml format?
In that case changing this line `{{ $key }}: {{ $value | b64enc }}` to the following will probably fix the issue:

- `{{ $key }}: {{ toYaml $value | b64enc }}`
- `{{ $key }}: {{ toJson $value | b64enc }}`

[2019-05-15 20:47] matt-landers commented on #96
@sanar-microsoft I was following the docs found here: https://docs.microsoft.com/en-us/azure/dev-spaces/how-to/manage-secrets

I assumed that the env vars would come out in a format with _ for each level. There isn't anything describing how that happens.

[2019-05-15 21:30] sanar-microsoft commented on #96
Looks like you are adding another level in `secrets.yaml`. As per the example:

[code]
$name will be equal to redis in this statement `name: {{ template "horseman-api.fullname" $root }}-{{ $name | lower }}`

Everything under redis will be treated as key-value pair and will be part of the data under the secret here:
[code]

If you have another level under a key, the value will be treated like a map

[2019-05-17 14:58] matt-landers commented on #96
@sanar-microsoft Thanks! That makes sense. The docs probably need to be updated.

[2019-05-17 14:58] #96 closed

[2019-05-17 22:06] amsoedal commented on #28
Although Dev Spaces functionality cannot yet be used directly on Windows containers, you can still enable Dev Spaces on a multi-OS cluster by [adding a taint]( https://review.docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting?branch=pr-en-us-77117#enabling-dev-spaces-failing-when-windows-node-pools-are-added-to-an-aks-cluster) to your Windows nodes.

[2019-05-18 17:20] tslavik commented on #95
Do we have some estimation when will be this issue fixed?

[2019-05-22 18:50] midebell opened #99 "Devspace won't upload large files during file synchronization"
I am running devspace for local development, folder contains Dockerfile, azds.yaml, charts and jar file up to 50MB. When I run azds up, I am getting this error _"There is no more space available for file synchronization. Please remove unused spaces by running 'azds down', reduce the size of your workspace, and retry later."_ . If I run it without the jar file, file synchronization succeeds. Any he

[2019-05-22 20:46] stepro commented on #95
The work required to resolve this issue is ongoing and we estimate it will be about two weeks before the necessary changes are in production.

[2019-05-22 20:59] guestdj opened #100 "Failed to install xdg-utils from Azure CLI"
when I enter the following command on the Azure CLI to enable AZDS CLI I get the following error:

You may be prompted for your administrator password to authorize the installation process.
/tmp/tmp_ln81pca/azds-linux-setup.sh: line 88: sudo: command not found
[INFO]    Installing xdg-utils...
/tmp/tmp_ln81pca/azds-linux-setup.sh: line 29: sudo: command not found
[FATAL]   Failed to install xdg-ut

[2019-05-22 21:01] guestdj commented on #100
Also, I have enabled Dev Spaces in the Azure portal prior to trying the above command

[2019-05-22 21:03] stepro commented on #99
@midebell, what's the reason for having a jar file in your source code? Normally we would expect that the jar file is built as part of the Docker image, using steps in the Dockerfile.

[2019-05-22 21:05] stepro commented on #100
In what kind of Linux environment are you trying to run the command? I think we may currently assume that you can always "sudo" on a Linux machine.

[2019-05-22 21:13] guestdj commented on #100
I installed Azure Kubernetes Service through the Azure portal, not sure but I think it's a Windows machine, and the command is entered using the Portal Azure CLI bash terminal. Sorry if that's not enough info, I'm a bit of a newby at Kube.

[2019-05-22 21:38] stepro commented on #100
Thanks, that's the information I needed. We don't currently support running the dev spaces command line from within the portal bash terminal (aka "cloud shell"). It should work if you try from another place (e.g. your machine) where you have the "az" command line tool installed.

[2019-05-22 21:43] midebell commented on #99
The jar file was built prior to running devspace, so I do not want to build it again. All I need is just upload it and pass it during entrypoint.

[2019-05-22 21:50] stepro commented on #99
Ok. There is currently a limit of 200Mb of which we allow usage up to about 80% before giving the message you see. Do you have other projects with similarly large files to be synchronized that you have previously deployed using `azds up`?

[2019-05-22 21:58] midebell commented on #99
Yes I do. How can I go past this limit ?

[2019-05-22 23:11] stepro commented on #99
We don't currently have a way to change this limit. The remote volume we create was designed to hold source code, not binaries, and 200Mb was our first estimate for the space needed to hold source code for a reasonable number of projects.

I'd be interested to understand more about your choice to build the jar file outside of the container and then including it as source code, instead of building

[2019-05-23 00:17] midebell commented on #99
As part of CICD pipeline, the jar file is built centrally where other applications/services consume it. Devspace is one of them. To avoid repetition, I just felt uploading it and referencing it in the entrypoint would do the trick.

[2019-05-23 08:59] guestdj commented on #100
Thanks Stephan, that's a bit weird because this article (which I was following) suggests it's possible:
https://docs.microsoft.com/en-gb/azure/dev-spaces/troubleshooting
The the section Error 'Failed to create Azure Dev Spaces controller' specifies that you can delete the controller using the AZDS CLI
However I will try your suggestion by using this on my local

[2019-05-23 15:50] stepro commented on #99
I see. Is your primary use case for dev spaces to run `azds up` as part of your CI/CD pipeline? Or are you also doing that from your client machine as part of your development experience?

File synchronization is configured inside of the `azds.yaml` file. If you search for `sync` you'll find a list of glob patterns that identify which files to synchronize. If you remove this list, no files will be

[2019-05-23 15:56] stepro commented on #100
Sorry about that, the docs are a little unclear. I'll ask our doc writer to update this.

[2019-05-28 15:45] YuzorMa commented on #85
@travisnielsen Closing this issue as we need the client logs to investigate further,

[2019-05-28 15:45] #85 closed

[2019-05-28 15:47] YuzorMa commented on #82
@lismarys We have been unable to reproduce this and we cannot investigate it further without the cpu profile from your client when VS Code became unresponsive.  Closing the issue.

[2019-05-28 15:47] #82 closed

[2019-05-28 16:12] daniv-msft opened #103 ""Error: validation failed" on Helm install (v2.14.0) of a chart created using "azds prep""
If you try to install with Helm v2.14.0 a chart created using `azds prep` command, you will get this error:

[code]

This is due to Helm v2.14.0 validating all manifests, whereas previously those with validation errors were accepted.
You can see this Helm issue for more details: https://github.com/helm/helm/issues/5750

**Workaround**

The Helm team is working on postponing this validation change

[2019-05-28 16:12] #103 closed

[2019-06-05 15:51] dazinator opened #106 "How do I attach persistent storage?"
I have followed the dev-spaces quick start tutotirals, and spun up a simple "dev" space that has two services, one that makes a http request to the other.

However I now need them both to have access to some persistent file storage (shared between them).

How would I go about achieving that? Is this something I add to the azds.yaml file?

[2019-06-05 17:10] dazinator opened #107 "azds.yaml where is the documentation for this file?"
I'm trying to figure out how I can attach my pod to persistent storage.
In my solution I have an `azds.yaml` file and I can hit f5 with dev spaces selected and see my app running.
I am familiar with docker and the DOCKERFILE.
However I am not familiar with `azds.yaml` or `helm` (completely new to me) - in fact kubernetes in general is new to me, but I have some docker swarm experience.
I have read

[2019-06-05 17:53] stepro commented on #106
Dev spaces currently helps you with your code but not so much with external dependencies. To do that, you will need to modify the Helm chart that was produced by dev spaces to include the necessary objects and/or configuration to reference external storage. For example, you might create an Azure file share and mount that into both of your containers. See [here](https://docs.microsoft.com/en-us/azu

[2019-06-05 17:57] stepro commented on #107
The format for this file is described quite well [here](https://docs.microsoft.com/en-us/azure/dev-spaces/how-dev-spaces-works#how-running-your-code-is-configured), but this is not the right place to re-configure the `yaml` for your workloads, e.g. to add an Azure file volume. You should do that by modifying the Helm chart directly. The `azds.yaml` file exists to help configure how your code shoul

[2019-06-05 18:21] dazinator commented on #107
@stepro thank you. Helm charts are new to me, but I have discovered the charts directory that the client side tooling has created for me. It looks like it's some sort of template system but I cant see any files in there relating to POD storage options. Are you able to point me on a sensible direction for example to extend what has been created by default to include pod storage options?

[2019-06-05 18:24] stepro commented on #107
The place to look is in the templates/deployment.yaml file. In Kubernetes, pods are typically managed by a controller of some type, the most common being a deployment object. In the spec for that object you'll find a template for pods that the deployment object creates and manages. That's where you will want to be putting settings regarding volumes etc.

[2019-06-05 18:27] dazinator commented on #106
@stepro I followed that documentation already. However after creating the storage account and file share, the next step was to manually create a pod using kubectl specifying storage options in a local .yaml file. I rely on dev spaces controller to deploy the pod so I cant use that approach to attach storage because I'm not the one spinning up the pod. So.. what would you recommend?

[2019-06-05 18:30] dazinator commented on #107
Thanks that was what I was after, sorry for discussing this across two issues :-).

[2019-06-05 18:30] stepro commented on #106
This is where you want to modify the pod spec in the deployment template yaml in the Helm chart. You can start out by creating the secret separately and then referring to it using the spec in the Helm chart. Later, you might want to have the Helm chart create the secret using values that you pass in.

[2019-06-05 19:24] dazinator commented on #106
Hmm slowly getting there..

I added the following to the bottom of the deployment template:

[code]

However when I build I get this error:

When I followed the docs linked earlier, I used kubectl to set this secret in my local environment, I am assuming that it won't exist however where the helm build actually takes place. Looking around I found that the template populates secrets from the values

[2019-06-05 19:42] stepro commented on #106
Looks like you are close. When you ran `kubectl create secret`, it created the secret from the literal values you provided and stored it in the cluster, so it's not on your local machine. It seems there is something wrong about how the secret was created. Check `kubectl get secret azure-secret -o yaml` to make sure that the two data properties you specify exist. It will show the values as base64 e

[2019-06-05 19:46] #107 closed

[2019-06-05 22:23] dazinator commented on #106
Thank you. Yup, deleting the secret with `kubectl delete secret azure-secret` and recreating it has solved that issue! It looks like the basic scenario is now working! :-)

[2019-06-05 23:36] stepro commented on #106
Glad that's working now. If you want to explore having the Helm chart itself deploy the secret, and how dev spaces helps you with that, take a look at [this](https://docs.microsoft.com/en-us/azure/dev-spaces/how-to/manage-secrets) article.

[2019-06-06 00:53] dazinator commented on #106
Excellent, thanks I will.

[2019-06-06 00:53] #106 closed

[2019-06-06 10:15] dazinator opened #108 "Launching from vs occasionally fails with port 80 already in use.."
I've been using DevSpaces over the past couple of days and the following intermittent issue keeps raising its ugly head.

I'll be able to run and debug the app fine for a period of time, often stopping the app, then re-launching it after making a code change - and doing this in fairly quick succession.

Every so often, this happens:

![image](https://user-images.githubusercontent.com/3176632/59025

[2019-06-06 10:37] dazinator commented on #108
Further more if I examine the "Dev Spaces" output:

Service 'hubplatformserver' port 80 (http) is available via port forwarding at http://localhost:54375
Service 'hubplatformserver' port 'http' is available at http://default.hubplatformserver.5ml95mlfks.uks.azds.io/
Service 'hubplatformserver' port 80 (http) is available at http://localhost:55430
hubplatformserver-84b59bf8fb-h2j6p: [40m[32minfo

[2019-06-06 18:27] xinyanmsft commented on #108
Hi, Darrell,

During debugging, with each debug launch (F5) DevSpaces will kill previous running processes before starting the new one. This is in the 'azds.yaml' file, under configurations/develop/container/iterate/processesToKill

I think what you are seeing is consistent with the launched process is missing from that list. By default the list contains 'dotnet' and 'vsdbg', which means with each

[2019-06-06 19:27] Eneuman opened #109 "Is it spossible to have Default Dev-Space point to custom host name and use SSL?"
Is it possible to use Dev-Spaces with a custom host name and SSL?

We have a scenario where we want to move a SF appliation into AKS and use Dev-Spaces, but we have failed to find any information about how to setup the public endpoints to use SSL and custom host name.

Our site authenticate it's users using OAUTH2 provided by Identity Server 4 running as a custom public site. After the user has lo

[2019-06-06 19:48] stepro commented on #109
Theoretically it should be possible to utilize your own custom ingress controller with SSL etc., but the team has not tested the scenario. There is one prerequisite for your own ingress controller, which is that it is able to automatically respond to ingress objects in the cluster and update DNS records as necessary to enable all the defined host names. This ensures that for each ingress object yo

[2019-06-06 21:37] dazinator commented on #108
xinyanmsft ok thanks. Yeah I am using .net core 3 preview. I'll try your suggestion.

[2019-06-06 23:00] dazinator opened #110 "Sync error in build output"
Just did a build and noticed:

 Uploading Hub.Platform.sln.
File syncing failed with error 'The server closed the connection with the following error: Connection closed with an error. InvalidOperationException: Advancing examined to the end would cause pipe to deadlock because FlushAsync is waiting.'.
 Uploading Hub.Platform.Server\Dockerfile.develop.
Enabling debugging...
Using dev space 'default

[2019-06-07 00:20] dazinator opened #111 "[Guidance] - on Adding a Sql Server into the fold.."
I have a simple asp.net core web application in my solution.
Thanks to guidance offered on #106, when I run it in Dev Spaces, it now has persistent storage attached and the app works (yippee)

The next part of my trial of dev spaces is to see if I can also get a sql server developer edition deployed to the dev space when I run the web application..

Having stared at these helm yaml files in my pro

[2019-06-07 04:01] xinyanmsft commented on #110
thanks for reporting this issue. can you confirm this happens sporadically when larger files are being changed? if this is the case, it seems we are hitting a buffer size limit at the transport layer. we should be able to fix it by applying a better batching logic adhere to the transport buffer size limit.

[2019-06-07 07:16] markphillips100 commented on #108
Just an observation in regard to the process named as per the project name.  My project name has dots, e.g. **MyProject.A.B.csproj**, and when I kubectl exec bash into the container and execute ```top``` I see **dotnet** as expected and **MyProject**, not **MyProject.A.B**.  Is this by design?

I'm also using .Net Core 3.0-preview5.

[2019-06-07 10:49] markphillips100 commented on #67
Is it supposed to also work for the values.dev.yaml referenced from the azds.yaml?  I'm not seeing any expansion to $(...) in those files.

My version is:
Azure Dev Spaces CLI
1.0.20190423.8
API v3.2

[2019-06-07 16:07] jikuma commented on #67
Currently, variables are only expanded in azds.yaml. I will take this as a feature request

[2019-06-07 16:13] xinyanmsft commented on #108
From my observation, the process name in .net core 3.0 depends on how you started it. I think if you do 'dotnet run', the process name will be the project name such as myproject. If the process is launched from the debugger, it still keeps 'dotnet' as the process name.

[2019-06-08 00:42] daniv-msft commented on #111
Thank you for contacting us. You might want to have a look at our BikeSharingApp sample that uses a SQL database: https://github.com/Azure/dev-spaces/tree/master/samples/BikeSharingApp/Databases/charts/databases

In this sample, we're actually using the same SQL Docker image as the one you mention (microsoft/mssql-server-linux).

Unfortunately, we don't have in the sample a deployment scenario as

[2019-06-08 01:02] dazinator commented on #111
Interesting, I will take a further look at that project.

I understand that the router that dev spaces provides, will only re-route http traffic to the parent space if not resolved from the current space. Does this mean if I have a sql server node in the default space, but my web app is spun up in a child space, if it tries to connect to the sql server service, it wont be able too because the sql

[2019-06-08 01:13] markphillips100 commented on #67
Thank you @jikuma .  I'd appreciate the feature.  I'll just place move the properties with expressions into the azds.yaml for now.

[2019-06-08 01:39] markphillips100 opened #112 "[Question] Is there an expression variable for just the name of the space?"
I need to pass the name of the space being used into my project's chart.  I was hoping there was something like $(space) that just supplies the name, unlike $(spacePrefix) which appends the ".s.".

Is there an expression variable that can supply me just the name of the space?  Also, is there a documented list of all the expression variables available?

[2019-06-08 02:55] markphillips100 commented on #112
Just to add, for now I am using ```{{ .Release.Namespace }}``` in a (configmap) template.  The template is very much like the secrets.yaml in that it's rendered content is determined by the values data, hence the reason I'd prefer being able to "set" the namespace via a value property rather than embedded in the template.

[2019-06-08 19:56] stepro commented on #111
@dazinator, regarding your first question (hit F5 and everything deploys), you might find that it works to add the SQL Helm chart as a dependency in your service's Helm chart. I believe dev spaces recognizes when a dependency exists and it makes sure those are also installed.

On the second question, if you were to spin up a SQL server in a parent space, a service in the child space will be able t

[2019-06-08 20:03] stepro commented on #112
The best way to do this is to use what Kubernetes calls the [downward API](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/). In short, add something like this to your pod definition in deployment.yaml:

[code]

If you need to know the namespace for some other reason, `{{.Release.Namespace}}` is a reasonable value to use. It doesn't really make

[2019-06-08 21:34] dazinator commented on #111
@stepro understood - thanks. I'll try this out.

[2019-06-09 01:45] markphillips100 commented on #112
Thanks for the info @stepro.  I'm okay with using the ```{{.Release.Namespace}}``` in a template for now.  I was just curious if it was possible for me to keep my configmap template "clean" so it was mostly a copy/paste for other projects that wanted a configmap.

Just for added clarity I'll explain it in a little more detail.

I used to just fill my configMap.yaml with data statements of the form

[2019-06-09 01:45] #112 closed

[2019-06-10 18:58] Eneuman commented on #109
Thank you for the information. I will try to setup my solution using http at first before I endevor into the SSL jungle.

[2019-06-10 18:58] #109 closed

[2019-06-10 19:03] YuzorMa commented on #95
The fix to support 1.14 went live in all regions last week.  Resolving the issue,

[2019-06-10 19:03] #95 closed

[2019-06-11 07:34] rboelen opened #113 "Dev Spaces fails with mcr.microsoft.com/dotnet/core/sdk:2.2-alpine"
I am trying to get a simple Dev Spaces project running on an alpine based dotnet core 2.2 sdk.

This runs fine , but when I try to start it using a debugger it fails in Visual Studio 2019 and Visual Studio Code as well.
I get a error message "Failed to launch debug adapter".

I tried installing bash on the alpine image, but that did not solve anything.

It would be great to know what is missing on

[2019-06-11 17:29] Eneuman opened #114 "Strange behavior using Dev Spaces with Asp.Net Core"
When my services are trying to contact a new service (a service that I have started using F5 in VS) they fail with the following error:

`System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.IO.IOException: Unable to read data from the transport connection: Connection reset by peer. ---> System.Net.Sockets.SocketException: Connection reset by peer
   --- E

[2019-06-11 20:23] lolodi opened #115 "Access denied in azds CLI when different accounts have access to the same tenant."
There is a known issue the cause access denied error even when the logged in user has access to the subscription hosting the controller.
When multiple user accounts have access to the same tenant that owns the controller's subscription, and one of the user doesn't have access to that subscription, the azds cli might erroneously pick the wrong user's credentials and then fail to get access to the r

[2019-06-12 22:30] bjbennet opened #116 "An error occurred while creating the Space"
Received the following error when creating a controller and dev space through VS 2019 -

Method not found: '!!0Microsoft.Rest.Serialization.SafeJsonConvert.DeserializeObject(System.String, Newtonsoft.Json.JsonConverter[])'.

![error](https://user-images.githubusercontent.com/5629450/59390700-e7dffa80-8d26-11e9-9786-fd149f6ddba9.PNG)

[2019-06-13 09:16] Eneuman commented on #114
Everything looks okey in the kubernetes portal so I guess this is some type of sync issue with the azure portal.
Closing this for now.

[2019-06-13 09:16] #114 closed

[2019-06-13 09:25] Eneuman opened #117 "Bad Gateway returned when not in debug mode"
This is what I did.
1) I setup a new AKS cluster (RBAC enabled)
2) I enabled Dev Spaces on it
3) I created a ASP.Net Core 2.2 Web Project
4) I started the project with the option to debug it in "Azure Dev Spaces" with "Public" selected
5) The project started fine and the web page was shown (http://default.webk8.54fqhtlhqv.weu.azds.io/)
6) I stoped the debugger

Now my web page returns "Bad Gateway

[2019-06-13 13:47] Eneuman opened #118 "Foreign characters in Method names makes the build crash"
I am not sure in what repo this bug belongs to so I'll start here

To reproduce:
1) Use Swedish Win 10 x64
1) Create a AKS cluster with dev spaces
2) Create a ASP.Net Core Web Project

Notice that all files generated by the template has the "Unicode (UTF-8 with signature) - Codepage 65001" encoding.

4) Add a new Razor Page

Notice that this file is now added with "Western European (Windows) - Cod

[2019-06-13 19:11] stepro commented on #117
Dev Spaces is supposed to restart the original process in the container after a debug session ends. Sometimes this can take a little time, but it seems like you are getting the error persistently. Is there anything in the stdout log from the pod that would indicate whether the process got restarted?

[2019-06-13 19:32] Eneuman commented on #117
I can't find any information about a process getting started.
The only thing I see is:
[code]

and that's coming from devspaces-proxy.
(I'm using log viewer from inside Azure for the k8 cluster)

[2019-06-13 20:53] Eneuman commented on #117
This is driving me nuts...

I removed my intire AKS cluster.
I then recreated a new cluster using the Azure portal (West Europe) with RBAC not enabled.
I then enabled dev spaces using the azure portal.
After that I created a new ASP.Net Core Web Project and selected my AKS Dev Space using the "default" namespace.

Same problem again. I can view the site when debuging.
When I stop debugging, I get

[2019-06-13 21:21] xinyanmsft commented on #117
Eneuman, are you using Visual Studio or VSCode? If you use Visual Studio, can you upgrade to latest extension? We had a bug (fixed around early March) that could cause something like this.
Otherwise, DevSpace tries to restart the process after debugging. If you execute into the container (e.g., using 'kubectl exec' command or via the K8s dashboard), do a 'ps aux' and check whether the desired proc

[2019-06-13 21:27] Eneuman commented on #117
Im using VS 2019 with latest version of the DevSpaces extension.
PS Aux shows me this:

USER        PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root          1  0.0  0.0   4280   736 ?        Ss   21:09   0:00 sh -c /.azds-agent/azds-agent.sh run > /tmp/devhostagent.log
root         12  0.0  0.0   4280   708 ?        S    21:09   0:00 /bin/sh /.azds-agent/azds-agent.sh run
root

[2019-06-13 21:30] xinyanmsft commented on #117
what's your Dockerfile.develop and azds.yaml looks like?

[2019-06-13 21:32] Eneuman commented on #117
Vanilla:

[code]

[code]

[2019-06-13 21:35] Eneuman commented on #117
VS says:
Service 'webk8' port 'http' is available at http://default.webk8.7w66vttsps.weu.azds.io/
Service 'webk8' port 80 (http) is available via port forwarding at http://localhost:51055
Completed warmup for project 'WebK8' in 2 seconds.

[2019-06-13 21:57] Eneuman commented on #117
Hmm.. Running `kubectl describe ingress` shows this

[code]

none? Shouldn't there be an internal IP there ?

[2019-06-13 22:08] xinyanmsft commented on #117
Eneuman, your azds.yaml and Dockerfile.develop look Okay to me. Can the 'kubectl describ eingress' looks okay as well. A possibility is, the project crashes when starting. Can you exec into the container and try start your code manually by running this:
  dotnet run --no-build --no-launch-profile -c Debug
and if there is any problem starting.
I can help you take a look if you send me your proejct.

[2019-06-13 22:15] Eneuman commented on #117
`kubectl exec webk8-b78884cf6-wjr7g "dotnet run --no-build --no-launch-profile -c Debug"`

shows this:
[code]

[2019-06-13 22:16] Eneuman commented on #117
and ls reveals this:

[code]

[2019-06-13 22:18] xinyanmsft commented on #117
remove the "" and add '--'. Also if you launch with Release configuration, replace '-c Debug' with '-c Release'
kubectl exec webk8-b78884cf6-wjr7g -- dotnet run --no-build --no-launch-profile -c Debug

[2019-06-13 22:20] Eneuman commented on #117
[code]

[2019-06-13 22:20] Eneuman commented on #117
Now it's answering :)

[2019-06-13 22:21] Eneuman commented on #117
But after I stop the debugger, it wont start again

[2019-06-13 22:40] xinyanmsft commented on #117
the 'azds-agent' process running inside the container should relaunch the process after debugging is done. can you check the logs of the container?
kubectl logs <pod name> -c webk8

if you can send me the project, I can help you take a look. I've tried the same scenario with latest VS 2019 and everything seems to work, i.e., after I stop debugging, wait a few seconds (for the process to relaunch)

[2019-06-13 22:56] Eneuman commented on #117
Running `kubectl logs -c webk8 -p webk8-785957c9cb-9xmtq`
Gives me this error:
`Error from server (BadRequest): previous terminated container "webk8" in pod "webk8-785957c9cb-9xmtq" not found
`

[2019-06-13 23:39] Eneuman commented on #117
I have the same problem using VS 2019 16.2 Preview 2

[2019-06-18 16:13] YuzorMa commented on #66
@jelster I'm not sure if you're seen it, but we published a post recently that builds on the scenario you describe: https://medium.com/microsoftazure/kubernetes-github-and-devops-putting-it-all-together-to-increase-confidence-in-pull-request-3797e8fea3f7.  If you get a moment, try it out and let us know what you think.

[2019-06-18 16:14] #100 closed

[2019-06-18 18:08] xinyanmsft commented on #118
thanks for reporting this issue. unfortunately this seems to be a limitation when building any Docker container. on your local machine, if you do 'docker build .' it should fail with the same error.

[2019-06-18 20:51] dbreshears commented on #113
Thanks for feedback on this.  Alpine requires a different version of the VSDBG debugger and it  appears we do not currently have support for this debugger currently in Dev Spaces.   We will investigate support for this.

[2019-06-19 08:39] feroz-ahmmed opened #120 "Add support for multiple project azds debug configuration on vscode extension"
I have a dotnet solution with multiple projects under it.
service.sln
--> service.API.csproj
--> sevice.Model.csproj

How do I crate initial templates for azds for this?

[2019-06-19 15:29] YuzorMa commented on #115
This has been fixed.

[2019-06-19 15:29] #115 closed

[2019-06-19 16:19] jelster commented on #66
Great post in your link, @YuzorMa!

![image](https://user-images.githubusercontent.com/1508500/59781892-6cc89800-9282-11e9-8217-21f3dcc056b2.png)

No words. They should've sent a poet. *sniff* :)

In all seriousness, this is exactly the thing that I think has massive potential for just about everyone involved in a project. This is a great step to broadening participation in the development process

[2019-06-19 17:32] xinyanmsft commented on #118
The problem is that Visual Studio is saving some C# files (such as Razor page) in a file encoding (Western Europe - Code Page 1252) that the .NET Core CLI tools (and .NET Core in general) cannot properly read.  Consequently, using Visual Studio to add non-ascii characters to such C# files causes compilation using dotnet on the CLI to fail.

The proper way is to fix the Visual Studio template to us

[2019-06-19 18:23] Eneuman commented on #118
Yeah I noticed this strange behavior aswell. Adding a new controller will add it with UTF8 encoding so foreign characters will work, but adding a razer page adds it with Western Europe -Code Page 1252 so the compilation works fine localy, but failes when compiling inside a Linux Docker Container as Azure Dev Spaces is doing.

@DamianEdwards Is this bug already posted somewhere or should this be mo

[2019-06-19 22:39] ynambiar commented on #120
Thanks for your question @feroz-ahmmed!

Assuming you've enabled the Azure Dev Spaces extension for VS Code, you should be able to prep the second project by following these steps:

- Open the first project in VS Code
- Add the second project by going to 'File > Add Folder to Workspace...'
- To prepare the config files for the second project, go to 'View > Command Palette > select 'Azure Dev Space

[2019-06-20 03:04] Vijay-Nirmal opened #121 "Calling service (in default dev space) with different dev space URL is not working"
I have two services say service A and service B. Service A calls Service B. I have pushed this into AKS via Azure Dev Space. Both the service are in Default dev space. Now I can call service A http://default.servicea.1aa1aa.cus.azds.io/api/values which in turn call service B with http://default.serviceb.1aa1aa.cus.azds.io/api/values.

Now I have created new dev space (with *default* as the parent)

[2019-06-20 04:53] feroz-ahmmed commented on #120
@ynambiar , I only need azds configuration for service.API project. But this project have reference of service.Model project. My problem is the auto generated files (i.e - Dockerfile) are not considering the referenced projects. I also intend to have support for remote debugging as well on launch configuration for vscode such that I can have my debugger attached on both of my projects.

[2019-06-20 04:56] feroz-ahmmed commented on #120
@ynambiar , It looks like visual studio 2017 is doing everything perfectly with their extension for kubernetes as we have the context of a solution there. But vscode is being a bit naive here.

[2019-06-20 11:27] feroz-ahmmed opened #122 "Show example of running tests for dotnet project inside docker"
The BikeSharingSampleApp is really helpful. Can you add an example how to run tests inside docker? Of course, I can run `dotnet test` inside docker file. But how do I publish the test result so that I can find the result on pipeline build summary.

[2019-06-20 12:52] walterfranssen commented on #19
Is there a workaround  for it, i reaaaalllly need it

[2019-06-20 17:48] stepro commented on #121
Did you include code in service A that propagates the `azds-route-as` header from the incoming request headers to the outgoing request you are making to service B?

[2019-06-20 18:14] Vijay-Nirmal commented on #121
@stepro Yes, Problem is that I can even hit the service A

[2019-06-20 18:28] stepro commented on #121
Looking carefully at your url, did you include the ".s." part of the domain after `newspace`?

http://newspace.s.default.servicea.1aa1aa.cus.azds.io/api/values

[2019-06-21 00:30] ynambiar commented on #120
@feroz-ahmmed, that makes sense. We are actually working on this feature now, and will update here when it's in production. Thanks!

[2019-06-21 03:09] Vijay-Nirmal commented on #121
Yes, here is my output

![image](https://user-images.githubusercontent.com/24755596/59894821-a8d53780-93ff-11e9-8abe-9f89832c9542.png)

![image](https://user-images.githubusercontent.com/24755596/59894852-c5716f80-93ff-11e9-8540-66cc4dd9a4ec.png)

[2019-06-21 04:12] xinyanmsft commented on #118
Link to https://github.com/Azure/dev-spaces/issues/118 as the cause of the issue.

[2019-06-21 16:05] stepro commented on #121
Ok, this is an indication that the ingress objects in your cluster did not get configured correctly. What is the output of the following commands:

[code]

[2019-06-21 21:43] YuzorMa commented on #116
@bjbennet has reported that he could not reproduce this with the latest version of VS 2019.  Closing as we have not heard anyone else encounter this problem.

[2019-06-24 04:12] Vijay-Nirmal commented on #121
![image](https://user-images.githubusercontent.com/24755596/59991283-68c2be80-9664-11e9-92bc-e146f7751709.png)

[2019-06-24 16:47] stepro commented on #121
As I thought, there is an ingress rule missing for `backend-work.s.default.maincontroller`. This indicates a problem on our side. Is your cluster in central US? I will work with the team to figure out what is wrong and get back to you.

[2019-06-24 16:53] Vijay-Nirmal commented on #121
@stepro I think it is East US. Just to clarify, How there will be ingress for `maincontroller` in `backend-work` if I am only working on other services in that dev space?

[2019-06-24 17:03] stepro commented on #121
Dev spaces runs an ingress manager that watches the ingress objects you define and creates derivative ingress objects based on the state of dev spaces in your cluster. In your case, you have a `default` dev space and a child `backend-work` dev space. With this configuration, if an ingress object is created in the `default` dev space that does not also existi in the `backend-work` dev space, a deri

[2019-06-24 17:11] Vijay-Nirmal commented on #121
@stepro Nice insights. This info is missing in [How Azure Dev Spaces works doc](https://docs.microsoft.com/en-us/azure/dev-spaces/how-dev-spaces-works#run-your-code).

So, Is the problem on your side? Any ETA if yes?

[2019-06-24 17:13] stepro commented on #121
I'm looking into it now and will update shortly. I agree that information should be in the documentation; I'll ask our doc writer to make some updates.

[2019-06-24 17:15] stepro commented on #121
Actually there's a section in that doc that talks about the ingress manager and how routing works: https://docs.microsoft.com/en-us/azure/dev-spaces/how-dev-spaces-works#how-routing-works. Do you feel there is some additional context I provided above that is missing in the documentation?

[2019-06-24 17:19] Vijay-Nirmal commented on #121
@stepro But in that doc, there is no info about "what happens in child dev space when it doesn't have ingress"

This part

[2019-06-24 17:23] stepro commented on #121
You are right, I was more specific on that than in the docs (it only says "The ingressmanager service monitors AKS clusters with dev spaces and augments the Azure Dev Spaces Ingress Controller in the cluster with Ingress objects for routing to application pods." which is pretty vague). I'll see if we can get another paragraph added to that section that talks more about precisely how the ingress ma

[2019-06-24 17:54] stepro commented on #121
Ok, so I drilled in and you have found a bug that we fixed 10 days ago but will not be in production until next week. Your best workaround right now is to not have any ingress objects that do *not* specify a host as part of the ingress rule.

Right now, it looks like you have a `orm-manager` ingress object that does not specify a host name. If you either remove this ingress or specify a host on th

[2019-06-24 17:59] Vijay-Nirmal commented on #121
@stepro I will try the workaround. Thanks

[2019-06-24 18:03] Vijay-Nirmal commented on #121
@stepro How to remove a particular service (`orm-manager`)? Commands?

[2019-06-24 19:57] stepro commented on #121
The raw command you would need is `kubectl delete ingress orm-manager`, but I would advise against that. Instead, you'd want to look at how you installed `orm-manager` into your cluster and use the reverse of whatever that mechanism is to remove it along with all the related assets from the system. For instance, if you got that there through `azds up`, you'd want to `azds down` it. If you got it t

[2019-06-25 07:29] Vijay-Nirmal commented on #121
@stepro I deleted that service, now it works. Thanks

[2019-06-25 15:26] stepro commented on #121
Glad that solution worked for you!

[2019-06-25 15:26] #121 closed

[2019-06-26 21:57] #78 closed

[2019-06-26 21:57] #99 closed

[2019-06-26 21:58] YuzorMa commented on #108
This should be fixed in newer versions of the VS extension

[2019-06-26 21:58] #108 closed

[2019-06-26 21:59] #118 closed

[2019-06-27 08:35] Eneuman opened #124 "Missing devspace buildnumber in K8 events"
Is this realy correct?
It looks like something should have been replaced here

![image](https://user-images.githubusercontent.com/12099277/60250533-1df4b100-98c7-11e9-82bc-a4f07f005daa.png)

[2019-06-27 15:24] stepro commented on #124
I believe this is correct event output (it's the name of the init container, not the name of the image being used). Are you running into a specific issue that you think may be caused by something like this?

[2019-06-27 15:29] Eneuman commented on #124
No, I though it just looked strange since { and } are often used as prefix and sufix for variables to be replaces by values, and It looks like k8 is using " " (space) as delimiter in the "Source" field before it.
I'll close this issue since this is by design :)

[2019-06-27 15:29] #124 closed

[2019-07-01 15:21] skwasiborski opened #125 "Document all $(...) values available in azds.yaml"
Is there a list of $(...) place holders that are substituted in azds.yaml during `azds up`? I am specifically interested in getting the namespace that is used for the deployment.

In my setup I am explicitly assigning namespaces to my resources because my meta chart deploys to multiple namespaces thus I do not relay on the `--namespace` flag passed to `helm install`. This does not play well with a

[2019-07-03 02:01] danegsta commented on #117
There are a few changes to the Dev Spaces extension in VS 2019 16.2 Preview 3 that make project warmup behavior less aggressive; an unnecessary warmup event to refresh the service running in your space could have left the network gateway offline until it was restarted by your debugging session.

If you have the chance, could you try your scenario again with Preview 3?

[2019-07-03 17:30] ShrutiPPathak commented on #93
@markphillips100 : Based on your feedback, we identified an issue in our code where we were quoting arguments unnecessarily. I just submitted a fix for it and I expect it to start rolling out in a couple of weeks. After the fix, you will have to update your azds.yaml as you no longer need to wrap json values in escaped doublequotes. Apologies for the inconvenience and thanks again for your valuabl

[2019-07-03 18:43] Eneuman commented on #117
I just tried the latest Preview 3 but with same result.
As soon as I press the "Stop debugging" button in VS, I get a "Starting warmup for project" in Dev Spaces output window, and the site starts to return "Bad gateway"

[2019-07-03 18:56] danegsta commented on #117
As a quick workaround, you can disable the warmup behavior in the VS tooling through the Visual Studio Options menu (Tools/Options). Under the "Azure Dev Spaces Tools" settings entry there's an option "Automatically warm up project with Azure Dev Spaces" that's checked by default. If you uncheck that option, the tooling won't execute any warmup steps. The impact would be a slower initial build whe

[2019-07-03 19:33] knoxi opened #126 "PathTooLongException"
When I try to start debugging an instance on Azure Dev Spaces, I get the `PathTooLongException` while building / start debugging.

I enabled verbose logging for build and I get the following:
[code]

Output window trace:
[code]

Any idea how to fix it?

[2019-07-03 20:59] Eneuman opened #127 "Error deploying service when following the CI documentation"
I have been trying to deploy my microservice using the CI documentation found here: https://docs.microsoft.com/sv-se/azure/dev-spaces/how-to/setup-cicd

My build works fine and the container is pushed to ACR.
I can confirm that the tag and the acr file found in the image catalog looks fine.

When the release pipleline runs, it failes on the "helm upgrade" task with the following error:
`UPGRADE FA

[2019-07-03 21:21] Eneuman commented on #117
You workaround works great! After uncheck the box, the site does not go down.

I do however see a short (10 sec) delay between pushing the stop debugging button and before I can browse the site again. In this time, I still see the "Bad gateway" error. I think this is abit strange. Im accessing my public service (with full dns name) so there must be a problem for the ingress controller to contact m

[2019-07-03 21:33] xinyanmsft commented on #117
After pushing the stop debugging button, DevSpaces agent will terminate the previous debugging session (kill processes) and re-launch the process. During this period of time, you will see BadGateway error before the relaunched process binds to the network port and start serving.

[2019-07-03 21:51] Eneuman commented on #117
So it’s nothing to worry about then :)
Thanks for the explanation!

[2019-07-03 22:04] stepro commented on #125
The two you mention are the only ones. This particular placeholder syntax has a single purpose - to allow a dev spaces user to get a public endpoint without needing to know and manually specify the host name to use in the ingress rule.

If you are looking for your code to have access to the namespace in which it was deployed, check out the [downward API](https://kubernetes.io/docs/tasks/inject-dat

[2019-07-08 06:04] solacens opened #128 "Any chance to remove tiller when helm 3 is ready?"
helm 3 is in alpha stage and its quite a revolution that the tiller is finally gone!

Any chance that devspace will get upgraded to helm 3 after the official release of helm 3?

[2019-07-08 16:20] sanar-microsoft commented on #128
@solacens There are plans to upgrade to Helm 3(or remove Tiller dependency) in the pipeline. Helm 3 isn't stable enough yet to test and make changes, once it is closer to a stable release we will upgrade.

[2019-07-08 17:08] sanar-microsoft commented on #126
@knoxi
Does setting the registry key mentioned [here](https://docs.microsoft.com/windows/win32/fileio/naming-a-file#maximum-path-length-limitation) help?

This is the key:
HKLM\SYSTEM\CurrentControlSet\Control\FileSystem LongPathsEnabled (Type: REG_DWORD)
Value needs to be 1.

[2019-07-08 17:55] sanar-microsoft commented on #127
@Eneuman Can you check the image pullPolicy defined in deployment.yaml for your project? If it says something like this {{ .Values.image.pullPolicy }} then you'll have to check the values.yaml file that is being used.

The correct image pullPolicy should be 'IfNotPresent'. From the error it looks like the pullPolicy is set to 'Never'.

[2019-07-08 18:02] Eneuman commented on #127
Hi

The deployment.yaml has it set to `{{ .Values.image.pullPolicy }}` and in the values.yaml it is set to
[code]
It's realy strange.
I can also see that the help  upgrade command, set the image.repository and image.tag correctly in the command line.

[2019-07-08 18:07] sanar-microsoft commented on #127
Was this chart deployed using azds earlier? In that case azds.yaml file is used which has pullPolicy set to 'Never'.

In the helm upgrade command, can you also override image.pullPolicy to IfNotPresent?
image.pullPolicy=Never

[2019-07-08 18:16] Eneuman commented on #127
Aaa, yeah, Im trying to deply to a namespace where I previously have deployed my service to using DevSpaces from VS. So maby thats what causing this issue.

Looking at this image, it looks like this should be working (DevSpaces is enabled in Dev namespace).

![image](https://user-images.githubusercontent.com/12099277/60832714-dae6e780-a1bc-11e9-90b8-e2a7b85cc24c.png)

[2019-07-08 18:25] sanar-microsoft commented on #127
I believe this image doesn't take into account doing helm upgrade and debugging on the same deployment. Because if you do CD and then use AZDS for VS for the same deployment, image pull policy will be overridden. I'll add a work item on the team to fix this.
To unblock your CD scenario, setting image.pullPolicy in the helm upgrade step should hopefully solve this issue.

[2019-07-08 18:27] Eneuman commented on #127
Awesome!
Thanks alot for helping me out!

[2019-07-08 18:27] #127 closed

[2019-07-08 22:49] xinyanmsft commented on #126
knoxi, this error indicates when DevSpaces tries to synchronize your project folder, it encountered a path longer than MAX_PATH (260). And based on the callstack you posted, there is one folder that was at least 20 levels deep when this error occurs.
I have seen similar errors caused by insufficient ignore rules that leads DevSpaces tries to synchronize folders that should be ignored. For example,

[2019-07-10 11:13] skwasiborski commented on #125
I am new to Helm, of course I can use `.Release.Namespace` to get the namespace to which the chart is being deployed which is what I was after.

[2019-07-10 11:13] #125 closed

[2019-07-10 11:18] skwasiborski opened #129 "Support for kustomize.io"
Hi, would you consider adding support for [Kustomize](https://kustomize.io/)? It was merged to `kubectl` some time ago so it seems like fairly mature approach. From the outside it seems like it could be done in fairly clean way for instance by adding a kustomize overlay for azds.

[2019-07-10 19:14] jdharmon opened #130 "Port forwarding not working"
If I start a project either with Visual Studio or ```azds up```, the container builds successfully, I see the following message, but I am not able to connect to the service at http://localhost:54589.

[code]

Using ```kubectl port-forward``` works fine. I am able to connect to my service on http://localhost:55555:

[code]

[2019-07-10 23:51] sanar-microsoft commented on #130
@jdharmon Do you consistently hit this issue this? On AKS the port forwarding uses tunnelfront pod in the kube-system namespace and it is possible that a transient issue there caused this error. If this is a consistent repro, can you share the controller information for further investigation?

[2019-07-10 23:53] sanar-microsoft commented on #129
@skwasiborski What kind of support are you looking for here? A dev space(namespace) specific azds.yaml for the project?

[2019-07-11 00:41] jdharmon commented on #130
The issue is consistent on machines behind a corporate firewall. Which ports should I request be opened for tunnelfront?

[2019-07-11 08:39] skwasiborski commented on #129
Hi, as far as my understanding goes my application needs to have a helm chart for azds to work. azds uses that helm chart to deploy my app and to set some values e.g. docker image tag and host for ingress. Is my understanding right or can I use azds without having a helm chart for my app?

What I would like to do is to not have a helm chart for my app but only kustomizations. That would require me

[2019-07-11 16:18] sanar-microsoft commented on #130
You don't have to do that, it is AKS's API server that uses tunnelfront for long running connections like port forwarding. Can you also try one more thing? Are you able to manually use port 54589 for port forwarding using kubectl?

[2019-07-11 16:45] stepro commented on #129
@skwasiborski, this is certainly a scenario of interest for Dev Spaces, and it's something we hope to support in the future, but we do not have a concrete schedule for it at this time. Please feel free to upvote the issue to help bump its priority!

[2019-07-11 18:06] jdharmon commented on #130
Manually forwarding to 54589 does work.

[code]

[code]

[2019-07-11 18:34] sanar-microsoft commented on #130
Can you run `azds up -v`? This will generate verbose logs on the console. Do you see any error on the console? Also can you share the controller information? You can get that information by running `azds controller list -v`.

[2019-07-11 20:18] jdharmon commented on #130
Here is the output from both commands:
[code]

[code]

[2019-07-12 04:32] xinyanmsft commented on #130
@jdharmon, you said "The issue is consistent on machines behind the corporate firewall". What kind of corporate firewall do you have?

[2019-07-12 13:28] jdharmon commented on #130
We're using a Check Point firewall. I was initially unable to enable Dev Spaces or use kubectl because of HTTPS inspection. After inspection was disabled, everything seems to be working except the forwarded ports.

[2019-07-13 06:04] xinyanmsft commented on #130
[portforward-tester.zip](https://github.com/Azure/dev-spaces/files/3388499/portforward-tester.zip)
@jdharmon, I built a 'port forward tester' program. can you try this on your machine, and send me back the log it captured?
Take this zip file, unzip to your local machine, and open the solution in Visual Studio. The startup project should be 'portforward-tester'. Run this program, enter the namespac

[2019-07-13 14:24] jdharmon commented on #130
@xinyanmsft Thank you. I will run the tester Monday morning.

[2019-07-13 23:52] PingPongSet opened #131 "Official reference document for azds.yaml"
Is there official reference document for azds.yaml, like below?

https://github.com/Azure/dev-spaces/blob/master/samples/BikeSharingApp/BikeSharingWeb/azds.yaml

[2019-07-14 23:03] stepro commented on #131
There is a pretty complete reference buried in [this](https://docs.microsoft.com/en-us/azure/dev-spaces/how-dev-spaces-works#how-running-your-code-is-configured) documentation.

[2019-07-14 23:03] #131 closed

[2019-07-15 00:17] PingPongSet opened #132 "Projects dependency configuration file generation via Helm"
The projects below seems using Helm to define projects dependency on file `requirements.yaml` below,  and azds.yaml and Chart project for each project.

https://github.com/Azure/dev-spaces/blob/master/samples/BikeSharingApp/charts/requirements.yaml
https://github.com/Azure/dev-spaces/tree/master/samples/BikeSharingApp/charts

My questions are:
1 Is my understanding above correct?

2 Is the whole f

[2019-07-15 21:54] daniv-msft commented on #132
Thanks for reaching out to us.

1. Yes, your understanding is correct. The "charts" folder you linked above defines in `requirements.yaml` all the services we need to install to get the Bike Sharing sample to work. That way, it is possible to install all services in one helm command, rather than having to install each of them independently.
As you pointed out, each of these services has still its

[2019-07-15 23:49] PingPongSet commented on #132
Great, thanks.

That is what I am thinking, and the opening post was to confirm that.

I am new to kebernetes and Helm.

How to define Helm yaml that

[2019-07-16 18:45] YuzorMa commented on #110
We have deployed changes as @xinyanmsft described.  Closing this issue.

[2019-07-16 18:45] #110 closed

[2019-07-16 18:45] #111 closed

[2019-07-16 19:34] PingPongSet commented on #131
I knew that link, but it is more like an informal page.

[2019-07-16 21:17] stepro commented on #131
We don't currently have a reference section in the documentation that describes the schema for azds.yaml in a more traditional format. Let us know if you feel there is something missing from the link I sent and we can work to include the information you would like to know.

[2019-07-16 22:11] PingPongSet commented on #131
The script on file azds.yaml is not Helm, not K8ts, it is AZDS's own script?

[2019-07-17 00:14] stepro commented on #131
The azds.yaml file is a Dev Spaces defined schema that enables a dev experience by defining information that drives Helm and Kubernetes. It is not itself a Kubernetes object spec.

[2019-07-17 01:59] solacens commented on #128
Good to hear that. Looking forward to see its coming!

[2019-07-17 11:57] Eneuman opened #133 "Dev Spaces and Kured does not seem to work well together"
I have a 2 node cluster with dev spaces and kured. Yesterday I received a mail telling me that I needed to reboot my nodes because of pathed linux kernel.
I’m using Kured to handle this as suggested by the AKS documentation.

This morning my app in the dev space cluster says, Service Unavailable.

Doing a Kubectl get nodes, reveals that a lot of my pods are down with status ErrImageNeverPull.

Any

[2019-07-17 17:25] sanar-microsoft commented on #133
@Eneuman Was any webhook pod in `azds` namespace running when these pods were re-scheduled? If it is running now, can you try deleting the pod so that they can be re-scheduled? Webhook will try to insert the init container that is responsible for generating the Docker image.

[2019-07-17 18:52] chrisjohnson commented on #19
With dev spaces out of preview, what is the solution to this problem? What is the `azds` command for calling `helm repo add`?

[2019-07-17 19:08] Eneuman commented on #133
Hi
Yes, all services in azds namespace is running fine, and the webhook pod is also up and running.
About 1/2 of all my pods (roughly 12) was down with ErrImageNeverPull status.
After deleting them, they started up fine (rescheduled).

Any Idea what can causes the pods to wrongly initialize when Kured reboots the nodes?

[2019-07-17 19:23] xinyanmsft commented on #130
after investigation, this seems to be a system limitation on Windows Server 2012 R2. I've created bug https://github.com/kubernetes-client/csharp/issues/290.

[2019-07-17 19:46] robertjf commented on #120
@ynambiar I've been looking into this issue as well - is it possible to have the tooling for VS Code generate the launch and tasks in .vscode from a Solution instead of a project?  It seems like a logical thing to do for me.  When I try to prep the primary project (sitting in a sub directory) it creates the azds.yaml and docker.develop files, but doesn't go far enough to create the debug configura

[2019-07-17 19:55] sanar-microsoft commented on #133
My guess is either Kured took down both webhook pods or at least the pod that was serving the request for these pods, or after the reboot webhook pod reached a running state after these pods. So these pods were not instrumented. I'll add a bug on the team to handle this scenario.

[2019-07-19 17:44] cjbush commented on #116
I'm experiencing this issue with the latest update to VS 2019 (16.1.6) installed. Is there something I can do to get more information as to what's causing it?

[2019-07-19 18:45] YuzorMa commented on #130
Dev Spaces does not fully support Windows Server 2012 R2 (or Windows 7) and we will update out installer to block earlier.  Closing out the issue.

[2019-07-19 18:45] #130 closed

[2019-07-19 20:39] danegsta commented on #116
@cjbush this particular error message is due to a Newtonsoft.Json assembly version mismatch between the Dev Spaces tooling and Microsoft Rest library that should be resolved in the VS2019 16.2 release, which is currently in preview.

Can you try your scenario with the VS2019 preview channel release (available through the "Download Preview" link for your particular edition of Visual Studio on the [

[2019-07-20 00:12] daniv-msft commented on #120
As of today, the easiest way to make solutions work with our VS Code extension is to open its projects as workspaces in Visual Studio Code. That way, it is possible to prep and debug them in a somewhat similar way as what we would have with a solution.
Please note though that we don't handle well upgrades of azds.yaml files in multi-workspaces scenarios, which may cause confusion. We have a fix fo

[2019-07-20 00:35] daniv-msft commented on #132
Q1
Helm has a different purpose than Azure Dev Spaces, so it's hard to compare Helm alone to Azure Dev Spaces using Helm. As of today Dev Spaces has a dependency on Helm, but that's something that _might_ change in the future.

Q2
I don't have much more to mention here compared to what was mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/34889.

Q3
If you want to understand Helm cha

[2019-07-20 00:58] PingPongSet commented on #132
It is true that Helm charts can be generated by azds prep command for a project. However, for project dependency, charts files have to create manually. Thus, I guess I need to understand all related features of Helm.  Ideally, I only want to learn the minimum for dependency. However, I might have to learn more to know what is minimum :<.

[2019-07-20 02:58] xinyanmsft commented on #120
@robertjf when you have the 'vsdbg' problem with VSCode, there should be a 'azds' process running on your machine, and the command line argument looks something like 'azds daemon ...'. What is the full command line argument for that process?
If you are using Windows, go to 'Task Manager' and look for 'azds.exe' processes, one of them should have argument 'azds.exe daemon ...'. If you are using Mac

[2019-07-20 12:34] PingPongSet opened #135 "Helm install failed with projects that has project dependency"
I, based on the sample below, created both webfrontend and mywebapi,
https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore-visualstudio

and based on the charts folder below from this example, I created similar charts folder for the example above.
https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-team-development
https://github.com/Azure/dev-spaces/tree/master/samples/Bi

[2019-07-20 23:35] robertjf commented on #120
@xinyanmsft I managed to get it working by setting the VS Code workspace to the API project directory and running the `>Azure Dev Spaces: Prepare configuration files for Azure Dev Spaces` command from there - everything worked out of the box, all I had to do was delete the generated charts directory as I'm using charts from a different repository and have already set up the azds.yaml file for that

[2019-07-22 16:19] saradotramli commented on #109
Using the default ingress controller that azds uses (traefik), is it possible to enable https access for an ingress?

[2019-07-22 18:03] xinyanmsft commented on #120
@robertjf from your description, it doesn't look like the VSCode extension for DevSpaces is working as intended. I am very curious how you setup your workspaces in VSCode. Here's how I work:
1. In VSCode, open directory src\AddressBook\AddressBook.API.
2. In VSCode, 'Save Workspace As', create something like src\AddressBook\myapp.code-workspace
3. In VSCode, use "add workspace folder", add directo

[2019-07-22 18:42] robertjf commented on #120
That's what I've done to get it working - the only difference is that I already had custom `azds.yaml` and `dockerfile.develop` files (derived from eShopOnContainers) and my charts are sitting in a different directory; but all I had to do was delete the charts directory that was generated when I ran "Azure Dev Spaces: Prepare configuration files for Azure Dev Spaces" (it left the azds.yaml and doc

[2019-07-22 19:31] xinyanmsft commented on #120
@robertjf Do you have multiple instances of VSCode running at the same time? There is a case if 2 VSCode instances both open src\AddressBook\AddressBook.API, one of them may not see the log.

[2019-07-22 20:02] sanar-microsoft commented on #19
@walterfranssen @chrisjohnson Because the repo information is not available to the helm client that `azds` uses right now, one way is to add a charts sub-directory and [adding the dependencies there manually](https://helm.sh/docs/developing_charts/#managing-dependencies-manually-via-the-charts-directory) or you can do a `helm repo add` and `helm dep update` manually for the chart and once the depe

[2019-07-22 20:13] #132 closed

[2019-07-22 20:31] sanar-microsoft commented on #135
@PingPongSet I see you are using `helm` command here without specifying `azds.yaml` as the values file. The ingress rules(hosts) are defined in `azds.yaml`.

[2019-07-22 21:11] robertjf commented on #120
Aha - I do use multiple instances constantly.  Will do some tests and see if it makes a difference

[2019-07-22 21:22] xinyanmsft commented on #120
@robertjf please let us know what you find. Limiting to a single VSCode instance should resolve your issue. In the meantime I will create a work item in DevSpaces to address multi-instances VSCode scenario.

[2019-07-22 22:10] robertjf commented on #120
@xinyanmsft I closed down all instances (there was only one running) and re-opened VSCode - I then closed the folder and temporary workspace that came up so I had a single empty VSCode window and loaded the AddressBook.API workspace, but still no logs.  It seems the log is completely missing.

I've just noticed also that the workspace was at the solution level, not the project level.  At this leve

[2019-07-23 00:05] xinyanmsft commented on #120
@robertjf I think the temporary workspace is what make things broken. Can you save the workspace, from VSCode do 'Close Folder' or 'Close Workspace', and quit VSCode? Then open VSCode (make sure it's empty) and open that workspace? VSCode will start new instances when transitioning from temporary workspace to folder or another workspace.

[2019-07-23 01:37] robertjf commented on #120
Hi @xinyanmsft the temporary workspace in the Project Folder worked fine, but the saved one in the solution directory didn't.

When I saved the project workspace and closed it, then quit VSCode and restarted it, I then opened the original workspace at the solution level and tried to debug - I received this error again:

[code]
I tried to do a `ps aux | grep azds` but nothing showed up, so clearly

[2019-07-23 05:09] feroz-ahmmed commented on #120
hi @xinyanmsft, followed your steps. But the auto generated files from dev spaces command still same.

[2019-07-23 05:41] xinyanmsft commented on #120
@robertjf @feroz-ahmmed sorry the VSCode extension is having problem with workspace enabled. Here is a work around for this issue.
1. Quit / Close all VSCode windows. Make sure no 'azds' process is running.
2. Open a console terminal, go to the directory where 'azds.yaml' file exists. Run this command (if it's a C# project)
      azds daemon --import azds/azds-vsdbg:15.3@/vsdbg:/vsdbg
or (if it's

[2019-07-23 05:58] robertjf commented on #120
thanks @xinyanmsft - look forward to a progress update.

[2019-07-23 17:35] PingPongSet commented on #135
you meant both `helm `commands? I think the issue is the settings under all charts folders.

[2019-07-23 20:01] sanar-microsoft commented on #135
`helm install` is failing because the ingress.yaml is referencing the rules from a values file. When you run `azds up` azds.yaml adds and overrides the fields in values.yaml. The ingress error:

is because in ingress.yaml, the rules are read from the values file:

[code]

If no values file is specified, the default values.yaml is picked and it doesn't have any rule defined, the rule(hosts) is defi

[2019-07-25 03:27] robertjf opened #138 "Including a gitignored file not working"
I have an azds that contains the following snippet:

[code]
however the ignored (in .gitignore) file is still not being copied into the docker image to be used while building.  I've tried several versions including the following as indicated in this documentation (which looks wrong by the way):
[code]
I've tried several things with the file listed in the .gitignore including:
[code]
which fails wi

[2019-07-25 03:28] robertjf commented on #138
I initially reported this over at the documentation issue tracker: https://github.com/MicrosoftDocs/azure-docs/issues/35159

[2019-07-25 17:48] danegsta commented on #116
VS2019 version 16.2, which fixes this particular error, is now out of preview (https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#16.2.0).

[2019-07-26 05:21] gavinwilliams opened #139 "azds and non dev space namespaces"
The documentation here - https://docs.microsoft.com/en-us/azure/dev-spaces/how-to/setup-cicd suggests using production in the same cluster as azure dev spaces. This would be awesome, if it weren't for developers seeing the non azure dev space for production in azds use.

Is there a way to exclude any name space that doesn't have `azds.io/space: true` from this command?

[2019-07-26 18:02] robvet opened #140 "Cannot install AZDS CLI."
Want to present Dev Spaces to customer.

I can install DevSpaces from Visual Studio and it does work, but cannot install the command line tool onto the client.

Here are the errors I see:

1) I attempt to install dev spaces tooling on client....

c:\,,,,,,,,,>az aks use-dev-spaces -g <rg> -n <cluster name>

Failed to list Azure Dev Spaces Controllers.
Please include the following Request ID when c

[2019-07-29 16:33] jikuma commented on #139
Thanks, @gavinwilliams for reporting your concern, there is currently no way to enforce that developer can not select specific namespace. I have taken it as feature request right now and will update the thread if I find some workaround for near term solution.

[2019-07-29 17:03] jikuma commented on #140
Hi @robvet can you try doing az aks use-dev-spaces with --upgrade flag. This will install the latest azds client for you.

[2019-07-30 12:13] spaelling commented on #140
I am having somewhat the same issue. Already enabled DevSpaces from the portal. When running below nothing happens.

[code]

and with the `--upgrade` flag

[code]

[2019-07-31 00:04] Greenie0506 opened #142 "Azure Dev Spaces Preview Program"
The Azure Dev Spaces engineering team is seeking customers to test upcoming features.  By opting-in to the preview program, you're shaping the future of the product by partnering with and giving feedback directly to PM’s and engineers working on Azure Dev Spaces.

For more information on upcoming features as well as instructions on how to opt-in, please visit the link below:

[Azure Dev Spaces Pre

[2019-07-31 05:08] xinyanmsft commented on #120
@robertjf we are working on fixing this issue. to make sure we are working on the right problem, can you help me collect some client logs? please:
1. DevSpaces client logs are saved under $TMPDIR/Azure Dev Spaces/ folder. Kill all existing 'azds' processes, clean this directory.
2. Reproduce this bug. Then close all VSCode instances, and verify all 'azds' process are terminated.
3. Send (xinyan@mi

[2019-08-01 08:21] thargy commented on #109
I've been scratching my head for a couple of days now trying to get a simple ASP.NET Core 3 blank project authenticating via AzureAD.  AzureAD requires an HTTPS endpoint for authentication flow, and won't let you configure an HTTP endpoint for login redirection.

Setting up a new Dev Space in VS2019 is really nice, except there's no easy way to enable SSL.  All the online documents assume you set

[2019-08-01 20:40] thargy commented on #109
I've [added an issue to the relevant docs](https://github.com/MicrosoftDocs/azure-docs/issues/36353) too.

[2019-08-03 05:48] saradotramli commented on #109
I was able to follow these instructions to achieve this eventually:
https://docs.microsoft.com/en-us/azure/aks/ingress-tls
 As @stepro pointed out, the key is to swap out the ingress class in the azds.yaml and match it to the documentation.

[2019-08-03 06:21] thargy commented on #109
Thanks @saradotramli, I had seen that doc but it was a step too far for me, when what I wanted was to get to coding.

In the end enabling Remote Debugging on an App Service was significantly easier to achieve, and less expensive in Azure Credits.  Spending >£10 of credit to get nowhere with Dev Spaces rules it out for me when the point is to be able to quickly and conveniently get the environment

[2019-08-03 23:37] robertjf commented on #120
@xinyanmsft can you tell me where to find the log files on OSX perhaps?

[2019-08-04 03:35] xinyanmsft commented on #120
in OSX, the directory is $TMPDIR/Azure\ Dev\ Spaces
on my machine, this expands to:

/var/folders/bd/2cvhy2894kq1fsxnr6fms40000gn/T/Azure Dev Spaces

[2019-08-04 23:17] robertjf commented on #120
@xinyanmsft logs attached... I ran this from the Solution directory as mentioned above (https://github.com/Azure/dev-spaces/issues/120#issuecomment-514018247) - let me know what other tests you would like me to do...
[azds.zip](https://github.com/Azure/dev-spaces/files/3465421/azds.zip)

[2019-08-05 11:15] Eneuman commented on #62
It seems like they are working on fixing some of the problems with PAT and private artifact feeds.
Some are adressed here: https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/artifacts-in-pipelines.md
and it's also mentioned here: https://devblogs.microsoft.com/devops/azure-devops-roadmap-update-for-2019-q3/

It would be nice if they included Dev Spaces as use case for theese chan

[2019-08-05 21:48] xinyanmsft commented on #120
@robertjf from your log, it seems DevSpaces VSCode extension didn't launch the daemon process. The VSCode extension looks at the current directory for 'azds.yaml' file, and launch the daemon process if that file exists. In this case, if you open VSCode on the solution directory, it doesn't have azds.yaml file and thus will fail to debug. I don't know how you have launch.json file at the solution l

[2019-08-05 22:59] robertjf commented on #120
hi @xinyanmsft that's worked a treat - I had to modify the launch.json `cwd` and `program` parameters to match the docker image file structure but all good apart from that.

[2019-08-06 14:46] aaronwjha opened #143 "AZDS debugging and API Gateway pattern (Ocelot)"
I am currently working to setup an AZDS team development environment. The application uses the API Gateway pattern with Ocelot. Are there any known issues with debugging services in child spaces in this type of configuration? I am finding that API calls are not being routed properly when using child namespace URI's.

[2019-08-07 06:53] knoxi commented on #126
@sanar-microsoft the registry setting key is already set

@xinyanmsft thanks for your explanation, this makes absolute sense. But unfortunately, the error still appears after I excluded the npm folder in the dockerignore file. I also deleted the npm folder from the solution but I still get the error.
In the meantime I have also updated VS and now the exception stack trace no longer appears in the

[2019-08-07 15:37] snowaa opened #144 "Any plans to allow debugging of things like K8 Cron Jobs"
It looks like only Web services are really supported.

[2019-08-07 19:02] garybond commented on #143
We came across a couple of issues when starting to use Ocelot with Kubernetes and DevSpaces.

1. When setting namespace in Ocelot config, just use the child namespace without the parent. So if you main namespace is “dev” and your child is “Aaron”, just use “Aaron”, not “dev/Aaron”.

2. If you are overriding the namespace in an `ocelot.Development.json` file, and that file is in your `.gitignore` a

[2019-08-08 00:44] aaronwjha commented on #143
Thanks for the response, Gary. The only way I can get debugging to work is to run Ocelot in the child namespace along with the service I'm trying to debug. Did you find the same thing?

[2019-08-08 13:27] garybond commented on #143
It depends on what your entry point is. If you’re running your backend service in VS using debug with DevSpaces, then hitting the public endpoint on your Ocelot deployed to parent namespace will get routed to the parent namespace backend, not your debugging instance in your child namespace. Can you not make a request directly to your backend service once it’s running in DevSpaces? If you HAVE to g

[2019-08-08 16:11] YuzorMa commented on #140
@robvet Were you able to upgrade successfully with @jikuma's instructions?

[2019-08-08 16:12] #66 closed

[2019-08-08 16:13] #116 closed

[2019-08-08 16:13] #117 closed

[2019-08-12 16:02] stepro commented on #144
This has been considered, but there are no current concrete plans to implement it.

[2019-08-13 12:28] Anakinn opened #145 "Change dev space in visual studio"
I did not find a way to change dev space in visual studio. It is not covered with documentation. Can someone please share how to do it?

Found it. Properties on csproject and in debug there are settings for this.

[2019-08-13 12:33] #145 closed

[2019-08-14 01:46] Sveno55 commented on #63
Same issue. My solution has a project that makes references to sister projects. From within the project the dockerfile cannot make reference to anything outside of the current project folder. As such, I'm not able to make Azure Dev Spaces work, because I'm unable to modify Azure Dev Spaces Visual Studio plugin to path to dockerfile in order to leverage the docker file that is at the root of the so

[2019-08-14 15:38] stepro commented on #63
I believe if you choose to use Dev Spaces on a project in VS that it will generate the correct Dockerfile. It navigates project-to-project references and determines all the projects that need to be built in the Dockerfile, and the build context is set to the solution. The `azds prep` command doesn't support solutions in the way Visual Studio does which explains why the Dockerfile it generated didn

[2019-08-14 20:03] ShrutiPPathak commented on #59
@cmendible: We now support adding the "azds.io/proxy-resources" annotation. As mentioned in the preview comment, the value for this annotation has to be a JSON object representing the resource requirements that you want to set on the devspace-proxy container, for example:
azds.io/proxy-resources: "{\"Limits\": {\"cpu\": \"300m\",\"memory\": \"400Mi\"},\"Requests\": {\"cpu\": \"150m\",\"memory\": \

[2019-08-14 20:06] cmendible commented on #59
Cool!!! I'm on vacations but I'll try it ASAP and come back to you with my findings.

[2019-08-15 06:42] Sveno55 commented on #63
@stepro It becomes a headache to figure out how to do it right with a dockerfile that can be run locally and in Azure DevOps Build Pipeline for CI. Especially with references to private nuget packages and references to other sister projects. There's so much to figure out and all the magic that azds tries to do, doesn't work well in very custom scenarios. It feels like it's a tool that you have to

[2019-08-15 14:24] csnance opened #146 "Liveness and readiness probes not working"
Hello,

I am trying to test liveness and readiness probes inside an ASP.NET Core 2.2 application running in devspaces.
What I did:

1) Edit values.yaml to set probes.Enabled: true
2) Edit deployment.yaml with appropriate values for my applications
 Microsoft.Extensions.Diagnostics.HealthChecks.IHealthCheck probes:
`{{- if .Values.probes.enabled }}
          livenessProbe:
            httpGet:

[2019-08-15 20:08] stepro commented on #63
I recognize the pain here. A lot of it stems from Dev Spaces being a relatively new product where we're still learning about the scenarios you mention and how or if we can automatically accommodate them when generating Dockerfiles.

For your particular problem, if you use Dev Spaces to generate a Dockerfile, then it *should* account for references to other projects and configure the build context

[2019-08-15 20:53] stepro commented on #146
What you are observing here is that when Dev Spaces runs a container for debugging, it automatically removes any probes. If it didn't, then any time you stop on a breakpoint, the application is hung and won't respond to any probes, causing Kubernetes to kill the pod.

Is there a scenario where you need to be able to live debug that the actual calls Kubernetes is making to probe the pod?

[2019-08-15 21:11] zr-msft commented on #109
This was just recently published, which seems to cover the initial question posed by @Eneuman :

https://docs.microsoft.com/azure/dev-spaces/how-to/ingress-https-traefik

[2019-08-15 21:24] csnance commented on #146
I suppose not, I am working on moving our application from local docker into AKS so I was running through the different aspects of the application. Thank you very much for the information and quick response!

[2019-08-15 21:24] #146 closed

[2019-08-16 15:01] aaronwjha commented on #143
Thanks again for the help.

[2019-08-16 15:01] #143 closed

[2019-08-19 21:05] madan81k commented on #140
not able to install azds cli in win 7.

[2019-08-19 21:08] YuzorMa commented on #140
The AZDS CLI is only supported on Windows 8 and above: https://docs.microsoft.com/en-us/azure/dev-spaces/about#supported-regions-and-configurations

[2019-08-19 21:13] madan81k commented on #140
ok thank you. i thought i could play around dev spaces in my local machine, but turns out i might have to use vm.

[2019-08-19 21:28] #120 closed

[2019-08-19 21:30] #135 closed

[2019-08-21 11:35] senare commented on #129
BUMP ?

[2019-08-22 03:18] feroz-ahmmed commented on #138
Our team also facing the same issue. Why no one is replying to this thread? We decided to use dev spaces as much as we can. Maybe we need to rethink about it.

[2019-08-22 16:26] stepro commented on #138
According to the issue linked by @robertjf, this is an outstanding issue with the Dev Spaces client, which has an incorrect ordering of rules. As @xinyanmsft said, it should apply .gitignore first, then .dockerignore, then azds.yaml ignore rules. This was the original design, so something regressed.

I can confirm that the internal work item was resolved at the end of July, so it should be showing

[2019-08-22 19:01] robertjf commented on #138
that's great news @stepro - thank you so much :)

[2019-08-22 20:42] jdharmon opened #149 "Option to prevent deployment to parent namespace from Visual Studio"
Periodically one of our developers will deploy from Visual Studio into the parent namespace. When this happens, our CD pipeline fails to upgrade. It also makes debugging difficult because we have no idea what code is actually running.

The resolution #127 would quietly fix this. However, we would prefer that developers never deploy into the parent namespace. We would like the option to lock the pa

[2019-08-24 00:02] philon-msft commented on #149
Our plan for this scenario is to rely on Kubernetes RBAC, which you could use to restrict permissions on the root namespace so only certain team members can deploy there. Currently Dev Spaces doesn't fully support RBAC, but that should come in a future release.

[2019-08-28 08:10] knoxi commented on #126
@xinyanmsft after investigating more time into this issue I noted that the 'node_modules' folders aren't ignored though it's in the .dockerignore file. After deleting all of them manually I could run the service.

[2019-08-28 08:10] #126 closed

[2019-08-28 17:04] gavinwilliams commented on #139
Thanks @jikuma

[2019-08-29 11:39] joaoneves792 opened #152 "Failures to deploy to new nodes after scale"
After I have scaled my AKS cluster from 1 to 2 nodes, devspaces doesn't work on the new node.
azds up hangs with the follwing message, whenever an app is scheduled to the new node:
(It works fine when it is scheduled on the other node)

[code]

I have traced the problem to the devspaces-build container in the created pod, which crashes with the following output:

[code]

[2019-08-29 18:39] philon-msft commented on #152
Thanks for reporting this @joaoneves792 - I've opened a bug on our side to investigate. We'll update this issue when we know more.

[2019-08-30 21:49] philon-msft commented on #152
@joaoneves792, we're having trouble finding an explanation for this error -- is it possible this is a transient issue with brand new nodes? Or are you still seeing it after the node has been up for a while? Are other pods (non Dev Spaces) able to run on this node without problems?

[2019-08-30 22:05] #140 closed

[2019-08-30 22:07] YuzorMa commented on #59
More information can be found at https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting#horizontal-pod-autoscaling-not-working-in-a-dev-space

[2019-08-30 22:07] #59 closed

[2019-08-31 10:15] joaoneves792 commented on #152
The error is not transient, still getting it after the node has been up for over 48 hours.
Other pods (non Dev Spaces) are working fine on the node.
I have also upgraded the cluster to the latest available kubernetes version, and removed/recreated the devspaces controller, and I am still hitting the same issue.

Next monday I will try scaling the cluster back down to 1 node and then back to 2 node

[2019-09-02 15:13] joaoneves792 commented on #152
After eliminating the second node, and scaling again, devspaces is now working as expected on both nodes.
Closing the issue for now, thank you for your time.

[2019-09-02 15:13] #152 closed

[2019-09-02 17:11] cmendible commented on #59
Hey guys sorry I couldn't come back to you sooner. I just tested the solution and can confirm it's working as expected!

Thanks you!!!

[2019-09-04 17:39] ajaffie opened #153 "Requests not routing from parent space to selected space"
We have several services, one of which is exposed publicly, which we will call the BFF. The BFF is a node/apollo server that makes calls to other services using gRPC (via [grpc-caller](https://www.npmjs.com/package/grpc-caller)). I know that in order to properly use services in the current dev space the `azds-route-as` header needs to be propagated, and my searches led me to believe grpc metadata

[2019-09-04 21:14] stepro commented on #153
You are likely doing everything correctly. Unfortunately what you are running into is the fact that Dev Spaces doesn't currently support routing gRPC calls, only http/1.1. It is on the backlog to support additional protocols, but we don't have a timeline for that work yet.

[2019-09-05 07:32] Eneuman opened #154 "Devspace-build crashes"
Today I started to have a problem with a pod being stuck at initializing when we tried to build it using VS 2019 and Dev Spaces.

After som digging I found that the devspace-build container throws a error and halts, leaving the build in limbo. VS was telling me that it was still building.

This is the error log from the devspace-build container:

It would be nice if a error occures in the build co

[2019-09-05 09:25] Eneuman commented on #154
I think this can be reproduced by doing this:

1) Create a service in VS 2019
2) Select to run it in AKS Dev Space
3) Start debugging so it gets deployed
4) Open AKS Dashboard (AKS Browse)
5) Remove the deployment (but not the service)
6) Deploy again from VS 2019

[2019-09-05 18:50] YuzorMa commented on #154
Thanks for reporting @Eneuman .  We're investigating the issue and we'll let you know what we find.

[2019-09-05 18:52] Eneuman commented on #154
Thanks. It's a blocking issue for us atm so please let me know if I can be of any assistans in trouble shooting this.

[2019-09-05 22:21] pragyamehta commented on #154
Hi Per,

I am not able to reproduce this bug using a simple dotnet web application. Can you confirm if this reproduces for you consistently? Also I am re-iterating the steps you mentioned, just to make sure I understood correctly :
1. Create a dotnet web application in VS 2019
2. Select to run it in AKS Dev Space
3. Start debugging (and optionally stop it)
4. Open AKS dashboard
5. Delete only the

[2019-09-06 15:50] YuzorMa commented on #138
This should be fixes in the latest version of the CLI (1.0.20190904.13)

[2019-09-06 15:50] #138 closed

[2019-09-06 18:38] jdharmon opened #155 "Build fails when using imagePullSecrets"
Container images fail to build when values are specified for `imagePullSecrets` in `values.yaml`.

**values.yaml**
[code]

[code]

The build just hangs at this point.

[2019-09-09 19:34] rakeshvanga commented on #155
@jdharmon Thanks for reporting this issue. We are currently tracking this and will update you with a reason or a workaround.

[2019-09-09 22:17] sanar-microsoft commented on #155
@jdharmon The error suggests that this image pull secret doesn't exist in the space that you are trying to up the service in. Can you check the namespace to verify this?

It can be created by following the steps [here](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#registry-secret-existing-credentials) if it doesn't exist.

[2019-09-09 23:07] jdharmon commented on #155
@sanar-microsoft You are correct—the secret doesn’t exist in the child namespace. However, it’s an image pull secret, and should not be mounted in the pod. We weren’t getting this error a couple weeks ago.

[2019-09-09 23:25] sanar-microsoft commented on #155
@jdharmon Right, this change was introduced recently to support pulling base image from a private repository where the secret is mounted in one of the init containers.
I guess to unblock your scenario you can create a dummy secret with this name. In future, we can handle this better in our services by only mounting secrets that exist.

[2019-09-10 14:11] jdharmon commented on #155
@sanar-microsoft It makes sense now why the secret is being mounted in the pod. I don't think this should be the default behavior. Adding an attribute to `azds.yaml` to enable pulling base images from private repos would be preferred.

[2019-09-10 23:41] chrisjohnson opened #157 "Documentation around outbound requests is inconsistent"
In https://docs.microsoft.com/en-us/azure/dev-spaces/team-development-nodejs#use-dev-spaces-for-team-development you can see a line that says one possibility for developing a single service in a micro-services architecture (with the implication that this is not desirable and that you can use dev spaces to alleviate it) is to `Add development-focused code to webfrontend that allows the developer to