[2020-10-01 14:46] Eneuman commented on #407
@philon-msft  Yes, I am in the West Europe region.

And like clockwork, the synchronization just stoped working again :(
"Timed out after 42s trying to list azds pods"

Running "kubectl get pods" returns the pods in under a second.

At the moment, dev spaces is unusable for us after 16:30.

[2020-10-01 16:36] Eneuman commented on #407
And now its back up and working without any changes on our side. This got to be a resource problem.

[2020-10-06 18:05] rakeshvanga commented on #408
@Genysys Not right now. The minimum required role is contributor. I have opened a user story in our backlog.
However, please note that because our engineering efforts are presently focused on Bridge to Kubernetes, this is not at the top of our backlog.

Would you consider giving a try to Bridge to Kubernetes to determine if it can replace Azure Dev Spaces for your scenario? As mentioned above this

[2020-10-12 23:31] greenie-msft opened #410 "Azure Dev Spaces is retiring on 31 October 2023"
### **Azure Dev Spaces is retiring on 31 October 2023**.

Azure Dev Spaces will be retired on October 31, 2023. Developers should move to using [Bridge to Kubernetes](https://aka.ms/bridge-to-k8s-ga), a client developer tool.

The purpose of Azure Dev Spaces was about easing developers into developing on Kubernetes. A significant tradeoff in the approach of Azure Dev Spaces was putting extra burde

[2020-10-13 20:11] ckapatch opened #411 "Dev Space Controller Keeps Failing"
**Describe the bug**
I have had no issues for the past couple months with Azure Dev Spaces but today my controller wasn't working and reported that the ProvisioningState was failed. I recreated the controller and after about an hour it also failed. I have repeated this 3 times now with the same result.

What else can I do to debug this issue?

**To Reproduce**
Create controller: azds controller cr

[2020-10-13 21:12] shpathak-msft commented on #411
@ckapatch Sorry that you are running into this issue. Could you please email me your subscription id and region at shpathak@microsoft.com to investigate further?

[2020-10-17 21:00] #411 closed

[2020-10-23 10:53] ahaeber commented on #410
The tool `azds prep` has been helpful to quickly generate Dockerfiles and Helm chart templates for a project. Will that tool continue to exist somewhere?

[2020-11-07 10:54] Eneuman commented on #407
Synchornization stoped working again 6/11 14:45 UTC
Today 7/11 11:00 UTC it is still not working. Even small projects receive Synchronization Timout.
This is realy frustrating...

Cluster looks fine, no changes has been made.

[2020-11-08 10:41] Eneuman commented on #407
Still not working :(

[2020-11-09 18:34] Eneuman commented on #407
Still not working :(
[code]

[2020-11-09 18:37] daniv-msft commented on #407
@Eneuman Sorry you're encountering this issue. :( We're having a look into this, and will keep you updated.

[2020-11-09 18:42] daniv-msft commented on #407
Adding @shpathak-msft, who is looking into this.

[2020-11-09 18:42] Eneuman commented on #407
Thank you!
Let me know of there is anything I can do to help!

Feel free to access our cluster if you need to troubleshoot.

//Per

[2020-11-09 19:00] shpathak-msft commented on #407
@Eneuman Could you please reach out to me at shpathak@microsoft.com? I have some logs from our backend service that I would like to share with you.

[2020-11-09 19:09] Eneuman commented on #407
You got mail :)

________________________________
Från: shpathak <notifications@github.com>
Skickat: Monday, November 9, 2020 8:00:19 PM
Till: Azure/dev-spaces <dev-spaces@noreply.github.com>
Kopia: Per Bornsjö <per.bornsjo@links.se>; Mention <mention@noreply.github.com>
Ämne: Re: [Azure/dev-spaces] Synchronization timeouts (Dev Spaces) (#407)

@Eneuman<https://github.com/Eneuman> Could you please

[2020-11-09 21:46] shpathak-msft commented on #407
Thank you for reaching out and glad to know code synchronization is now working for you. I suppose you already know this, but I would suggest reaching out to AKS support if you continue to see the "could not get apiVersions from Kubernetes: unable to retrieve the complete list of server APIs: metrics.k8s.io/v1beta1" error.

[2020-11-09 23:37] greenie-msft commented on #410
Hi @ahaeber,

Thank you for your question.

Generating a Dockerfile and Helm Chart is not a capability Bridge supports. We encourage customers to leverage their own practices and tooling for deploying their application to Kubernetes. Bridge enters the picture once the application is successfully running in the cluster.

With that said, the existing Azure Dev Spaces tooling will continue to work fo

[2020-11-12 07:54] Eneuman commented on #407
Thanks you for getting synchronization working again.
This has happend to use before and it's blocking us from working when it does. Are there any actions being taken to stop this issue from happen again?

[2020-11-13 23:57] daniv-msft commented on #407
@Eneuman Happy that we unblocked you! The issue you encountered is tricky to investigate because it is either transient, or it relies on us restarting the component on our side associated with your Azure Dev Spaces controller. This component didn't show specific errors itself that would help us finding the root cause of this. When this issue happened, this also didn't match to a deployment on our

[2020-11-14 00:15] Eneuman commented on #407
Yes we are interested in transitioning to Bridge to Kubernetes but two features are missing.

Pod Identity (as you said) and the ability to stop all other instances of a particular pod when we start debugging it.

We rely heavily on azure service bus and pub/sub, so when debugging a service, we don't want any other running instances, of the pod we are debugging,to receive the events.

[2020-11-14 00:48] daniv-msft commented on #407
@Eneuman Thanks for your quick reply.
All right, as of today we indeed expect the targeted service to be backed by only one pod, and fail if it's not the case. We should be able to automatically decrease the number of pods to 1 when debugging, and increase it back afterwards. I'm bumping the priority of this in our backlog so that we align it with our pod identity story.

Regarding pod identity, c

[2020-11-14 08:24] Eneuman commented on #407
Yes, we are only using Windows machines and Visual Studio 2019 Pro.

Really looking forward to trying the new bits out :)

[2020-11-16 23:17] daniv-msft commented on #407
@Eneuman All right, thanks for confirming!
Sounds good, we'll keep in the loop as soon as we have a beta for pod identity.

[2020-12-17 15:34] ajaffie opened #415 "Dev Spaces Controller in "Failed" State"
**Describe the bug**
Yesterday our dev spaces controller which had been stable for a while seems to have died. `azds` commands result with "Network connection failed. Please reselect your controller and try running the command again." and then `az aks use-dev-spaces -g Dev -n DevTest -s dev -y` results with:

This was fixed after disabling dev spaces in Azure portal (or with `azds remove`), deleti

[2020-12-17 20:45] daniv-msft commented on #415
Thank you for reporting this issue and sorry you encountered it.

We have seen a couple of failures across regions, but from what we see they should be resolved now.
Do you still see an issue with your Dev Spaces controller?

Also, the code behind Dev Spaces is quite complex and not fully reliable, which is one of the reasons why we announced its retirement and created a new product to replace it.

[2020-12-17 21:01] ajaffie commented on #415
We haven't really had time to assess if our workflow maps to Bridge. I'll probably open an issue on the mindaro repo at some point in the future for assistance.
For now though, the controller hasn't failed yet since I re-enabled it earlier today so I will report back here if it happens again. Thank you!

[2020-12-17 22:40] daniv-msft commented on #415
Thanks for your reply! Yes, please don't hesitate to let us know if you encounter new issues with your controller, and if you need any help transitioning to Bridge to Kubernetes.

[2020-12-18 09:44] ciacco85 opened #416 "This version of Kubernetes is no longer supported. Please upgrade your cluster to a supported Kubernetes version and retry."
Since today, yesterday was working without problem, this message is shown

This version of Kubernetes is no longer supported. Please upgrade your cluster to a supported Kubernetes version and retry.

I've the latest version of kubernetes (1.19.3) and 3 node:
1 with 1.18.10 version
2 with 1.19.3 version

I'm using 1.18.10 node version for azds due to containerd upgrade in 1.19.3 since socket to cal

[2020-12-18 10:31] ciacco85 commented on #416
I've downloaded the latest exe for dev space cli and it seems the process is killed right after started!

[2020-12-18 11:28] ciacco85 opened #417 "Can't install CLI"
I'm upgrading the CLI since the warning of unsupported kubernetes version.
The latest exe doesn't work. It start but nothing happens

I've uninstalled, the CLI the same happens if i try to install from scratch

[2020-12-18 13:47] amsoedal commented on #416
Hi @ciacco85, sorry you're running into this issue. If you've applied a nodeselector I think that *should* work. Let me log a bug for our team to investigate and get back to you.

[2020-12-18 13:49] amsoedal commented on #417
@ciacco85 what OS are you using? Are you able to see any logs in the log folder ($TMPDIR/Azure Dev Spaces on Mac/Linux, %TEMP%/Azure Dev Spaces on Windows)?

[2020-12-18 15:10] ciacco85 commented on #416
nodeselector has has worked fine until today!
Maybe the problem is more on the Azure Dev Space CLI upgrade than in kubernetes version and node selection

[2020-12-18 15:20] ciacco85 commented on #417
Windows 10
[Azure Dev Spaces.zip](https://github.com/Azure/dev-spaces/files/5716484/Azure.Dev.Spaces.zip)

All Errors come from the stdout of "azds up"
No sign of failed install log  #416

[2020-12-18 16:14] ghostcoach opened #418 "EndpointManager launch process fail"
When migrating to Bridge to kubernetes from Dev Spaces the elevation process fails for me. After accepting the elevated privileges I get the error "The EndpointManager launch process has exited". As far as I can see no logs (logs are enabled) for bridge to kubernetes are produced in my Temp folder.

Do I need to configure my client in any additional way to support endpoint manager?

![bild](https:

[2020-12-18 19:18] rakeshvanga commented on #417
@ciacco85 Can you also share the logs files matching the pattern %TEMP%\Azure_Dev_Spaces_*.log to confirm the issue with installer?

[2020-12-18 19:40] rakeshvanga commented on #416
@ciacco85 Are you blocked with using Azure Dev Spaces when you see the error: `This version of Kubernetes is no longer supported. Please upgrade your cluster to a supported Kubernetes version and retry.`
Can you share in what operation are you seeing this error message? Apart from the CLI install issue I'm trying to understand if there are any other issues that is stopping you from using Azure Dev

[2020-12-18 20:27] rakeshvanga commented on #416
@ciacco85 I've investigated the issue. No need for additional details from you. We are working on fixing the issue.

[2020-12-18 21:54] daniv-msft commented on #418
Thank you for logging this issue and sorry you encounter it.
This looks like a bug on our side, and we would need more logs to investigate further.

Could you please provide the latest logs present in `%TEMP%/Bridge to Kubernetes`?
I'm especially interested by the latest `bridge-endpointmanager-*` and the `bridge-library-*` logs that should contain more information.
These logs might contain person

[2020-12-19 00:55] ghostcoach commented on #418
Thanks for your reply. I stopped World Wide Web Publishing Service manually with the result that VS no longer tries to stop it. Unfortunately, the problem still persist.

I am attaching the logs from my latest try.

[bridge-library-2020-12-19-00-47-02-30860.txt](https://github.com/Azure/dev-spaces/files/5718677/bridge-library-2020-12-19-00-47-02-30860.txt)
[bridge-mindarocli-2020-12-19-00-46-42-30

[2020-12-19 01:17] daniv-msft commented on #418
Thanks @ghostcoach for your reply and sharing these logs.
I confirm we get an exception when starting the EndpointManager. The exception happens when we instantiate a `new System.Net.Sockets.Socket(AddressFamily.Unix, SocketType.Stream, ProtocolType.Unspecified)` and we get a SocketException: `An address incompatible with the requested protocol was used.`.
Please note that even though we're mentio

[2020-12-19 05:45] rakeshvanga commented on #417
@ciacco85 No need for further logs from you. We have found the issue and should release a fix soon.

[2020-12-21 19:51] daniv-msft commented on #417
@ciacco85 We fixed the CLI release. Could you please confirm it works for you as well? Thanks for reporting this issue!

[2020-12-21 19:55] daniv-msft commented on #416
We deployed a new version that should unblock you. Could you please validate this fix on your side?
Also, could you please let us know if the solution provided in the [other issue](https://github.com/microsoft/mindaro/issues/84) to debug multiple services at the same time in Bridge to Kubernetes works for you?

[2020-12-21 22:57] ciacco85 commented on #416
After a lot of headache, multiple service debug with bridge to kubernetes is working fine
I'm installing the new release of CLI right now and, at least, the setup has completed successfully.
Honestly, thanks for your support, but since dev spaces is deprecated, now we'll put our effort on bridge to kubernetes since it's working.
I'll try to give you feedback on dev space asap, I'm not the kind of

[2020-12-21 22:57] ciacco85 commented on #417
New version is working fine

`Azure Dev Spaces CLI
1.0.20201219.2
API v3.2`

[2020-12-21 22:57] #417 closed

[2020-12-21 23:33] daniv-msft commented on #416
Thank you for your reply, and sorry transitioning was more complicated than we would have liked.
No pressure at all to reply on this issue: your deadlines are far more important than replying and, as you mention, Dev Spaces is being retired now.

I'm closing this issue for now, but please let us know if we can help you in the future!

[2020-12-21 23:33] #416 closed

[2020-12-22 19:14] amsoedal commented on #418
Hi @ghostcoach, thanks for reporting this issue!  I'm not able to repro this issue myself, but I'm wondering if it could be due to any socket or IP configurations on your side.  Would you be open to trying a winsock reset as described [here](https://www.lifewire.com/netsh-winsock-reset-4684099)?  If that doesn't fix it, my second guess would be to try running `ipconfig /release && ipconfig /renew`

[2020-12-28 08:22] ghostcoach commented on #418
Thanks for taking the time @amsoedal to try to reproduce my issue. Winsock reset or ipconfig did not solve the issue.

In order to try a more clean scenario I reinstalled Windows on my client and reinstalled all programs and sdks. Then I followed [this guide](https://docs.microsoft.com/sv-se/visualstudio/containers/bridge-to-kubernetes?view=vs-2019) so I could try with a new service in a new k8s-c

[2020-12-28 13:53] amsoedal commented on #418
Hi @ghostcoach, thanks for giving that a try & sorry it didn't unblock you! Can you tell me more about your system -- when you say you reinstalled Windows on your client, are you running a VM? What OS version are you running?

[2020-12-28 16:16] ghostcoach commented on #418
@amsoedal, when I say reinstalled Windows I mean reinstalled my computer.  My system information are:

![image](https://user-images.githubusercontent.com/63369949/103228098-4af8a880-4930-11eb-951e-8b48fc570445.png)

[2020-12-28 19:04] amsoedal commented on #418
Thanks for providing those details @ghostcoach! I've reached out to the dotnetcore team to see if they can help as well, although I'm expecting a delayed response due to the holidays. I'll try to keep this thread updated as soon as I hear back from them.

[2020-12-30 10:57] catnip-se opened #419 "RoutingManager fails with Null ref in AddLoadBalancerTriggersAsync'"
Routing manager throws exception 'Null ref in AddLoadBalancerTriggersAsync' and Visual studio fails to connect displaying message

![image](https://user-images.githubusercontent.com/72073559/103347247-beb4c580-4a96-11eb-9cc9-bbbb408f93ba.png)
[routingmanager.log](https://github.com/Azure/dev-spaces/files/5753973/routingmanager.log)
[bridge-library-2020-12-30-10-59-35-26868.txt](https://github.com/

[2020-12-30 14:25] amsoedal commented on #419
Thanks so much for reporting this @catnip-se! We'll investigate and let you know as soon as the fix is available.

[2021-01-01 22:03] rroman81 commented on #28
i am interested to use devspaces as well with windows containers. I work on Sitecore related projects and they heading towards headless and microservices based approach.  I am looking to use both windows and macos dev hosts and understand how the integration would work.

[2021-01-04 11:27] amsoedal commented on #28
Hi @rroman81, thank you for letting us know! You might already know this but Dev Spaces is being deprecated in favor of [Bridge to Kubernetes](https://github.com/microsoft/mindaro) which should provide similar functionality.  We currently only support debugging Linux workloads but we have Windows containers on the backlog, and hearing that Windows containers are important to you helps us prioritiz

[2021-01-04 17:53] amsoedal commented on #28
@rroman81, would you be using Windows containers for .NET core applications or full .NET framework ones?

[2021-01-05 08:11] catnip-se commented on #419
Some more information.
I have tested on a different cluster (without any ingresses) and even though no exception is thrown in the RoutingManager there the problem with getting the routing manager deployment status from Visual Studio remains.

[2021-01-05 14:16] amsoedal commented on #419
@catnip-se, can you attach the routing manager log for the second issue you're seeing?

[2021-01-05 15:10] catnip-se commented on #419
Sure, here it is.
[routingmanager.log](https://github.com/Azure/dev-spaces/files/5770874/routingmanager.log)
[bridge-library-2021-01-05-14-49-58-22788.txt](https://github.com/Azure/dev-spaces/files/5770911/bridge-library-2021-01-05-14-49-58-22788.txt)

In  this case it seems to be some timeout problem in VS. If I made a second attempt to connect from VS after the routing manager had completed the

[2021-01-06 01:16] pragyamehta commented on #419
Hi @catnip-se According to the logs you sent last, It seems as though the envoy pods we start in your cluster for debugging were not able to come up in time. This could be something intermittent with your kube-api, but if you see this consistently, please check if you have enough space on your cluster to spin up these additional pods for setting up debugging. Thanks!

As for the nullref you are se

[2021-01-06 01:16] #419 closed

[2021-01-06 16:36] rroman81 commented on #28
I am looking to see the best way to develop for Sitecore 9.x and 10.x
Currently its platform utilizes the combination of .Net Core and .Net Full
Framework.  I want to see if Dev Spaces is the best approach to
standardizing the dev environments.  I'll look into "Bridge to k8" next
just to familiarize with current capabilities.

On Mon, Jan 4, 2021 at 10:53 AM amsoedal <notifications@github.com> wro

[2021-01-06 20:09] amsoedal commented on #28
@rroman81 Unfortunately Dev Spaces is being retired and isn't accessible to new customers right now. Bridge to Kubernetes doesn't support Windows containers yet, and if we eventually do we'll likely only support .NET Core projects, so we may not be the right tool for your project.  If you do decide to assess Bridge, however, please don't hesitate to ask any questions or give feedback if you encoun

[2021-01-07 13:11] amsoedal commented on #418
Thanks for the patience @ghostcoach. It turns out the Unix Domain Sockets we're using for IPC are only supported on Windows 10 version 1803 (10.0.17134) and onwards. I believe upgrading your Windows version should fix the issue!

[2021-01-08 09:50] ghostcoach commented on #418
I can happily confirm @amsoedal that updating Windows 10 to a newer version solved to problem for me!
Thanks a lot for your troubleshooting and the coordination with the dotnetcore team. This really makes a difference for me and my development team.

[2021-01-08 09:50] #418 closed

[2021-01-08 11:43] amsoedal commented on #418
I'm happy to hear it!

[2021-01-11 13:00] ghostcoach commented on #419
@pragyamehta Do you have an ETA on the fix for the nullref error? Looking forward to this fix :)

[2021-01-11 19:29] pragyamehta commented on #419
Hi @ghostcoach We are releasing the fix tomorrow. Thanks for your patience :)

[2021-01-13 11:19] ghostcoach opened #420 "Failed to get deployment status when enable routing isolation"
When trying to debug using routing isolation it fails with error message "Failed to get deployment status". When this is disabled debugging using Bridge to Kubernetes works

To Reproduce
I followed [this guide](https://docs.microsoft.com/sv-se/visualstudio/containers/bridge-to-kubernetes?view=vs-2019#connect-to-your-cluster-and-debug-a-service) to create a test k8s-cluster and used the same applic

[2021-01-13 11:35] ghostcoach commented on #420
I realized that this issue should be raised in the https://github.com/microsoft/mindaro github and that there is a [similiar issue there ](https://github.com/microsoft/mindaro/issues/103).

Closing the issue to avoid duplicates.

[2021-01-13 11:35] #420 closed

[2021-01-13 18:47] pragyamehta commented on #420
Hi @ghostcoach it seems you are using an old version of the extension. Could you update your extension to the version v1.0.120210113 and try again? Let me know if you face issues

[2021-01-13 21:51] ghostcoach commented on #420
Thanks for the information @pragyamehta. I can't see the latest version of the extension in Visual Studio or [on this page](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.mindaro). I guess I am missing something?

![bild](https://user-images.githubusercontent.com/63369949/104514614-d4c39980-55f1-11eb-9925-3e2e0f367a02.png)
![bild](https://user-images.githubusercontent.com/633699

[2021-01-13 23:55] pragyamehta commented on #420
I apologize, I thought you were on VSCode. The fix for this on VS would be released sometime this month. In order to get unblocked, you can try our latest extension on VSCode. Thanks!

[2021-02-02 10:01] kenneth-trivec opened #422 "Creating new spaces with azds space select isn't working"
**Describe the bug**
Error create new space with azds space select

**To Reproduce**
Create a new devspace controller and create a new devspace linked to a parent space

**Expected behavior**
Space gets created succesfully

**Logs**
Attach logs from the following directory:
[azds-sdk-2021-02-02-09-58-09-23792.txt](https://github.com/Azure/dev-spaces/files/5910255/azds-sdk-2021-02-02-09-58-09-23792

[2021-02-02 13:20] amsoedal commented on #422
Hi @kenneth-trivec, thanks for reporting this. I will take a look and update this thread with my findings.

[2021-02-02 14:45] letmagnau commented on #422
Hi guys,
same problem here with all commands of azds cli :
in attach  our stacktraces
[first.txt](https://github.com/Azure/dev-spaces/files/5911926/first.txt)
[second.txt](https://github.com/Azure/dev-spaces/files/5911927/second.txt)

[2021-02-02 16:08] #415 closed

[2021-02-02 18:49] amsoedal commented on #422
We had a cert issue on our end. Our monitoring is showing this region has recovered, please do give it a try and let me know if you run into issues. Thanks again for your patience!

[2021-02-03 08:15] letmagnau commented on #422
hi @amsoedal , thanks for your quickly answer, today seems we have no ssl error until now
but controller passing to Failed status without any reason
I'm recreating it and we'll check during this daily work

regards

[2021-02-03 08:24] letmagnau commented on #422
update: seems to be present other problems

I'm trying to recreate controller , removing and reusing dev-space in our AKS but it failing

**Azure Dev Spaces is being retired. Are you sure you would like to create an Azure Dev Spaces Controller?
Bridge to Kubernetes is an improved alternative to many of the Azure Dev Spaces development scenarios. Learn more here: https://aka.ms/migrate-to-bridge (y

[2021-02-03 13:02] amsoedal commented on #422
Hi @letmagnau, sorry to hear you're still facing issues. Could you please confirm that this is the same subscription you've used to create controllers in the past?

[2021-02-03 14:05] letmagnau commented on #422
yes is the same

[2021-02-03 14:18] amsoedal commented on #422
@letmagnau OK. Can you try again now?

[2021-02-03 14:32] letmagnau commented on #422
Hi @amsoedal , thanks for your support.
Now we are able to create controller again
I'll test the system and I'll inform you if we found other problems

Many thanks again

[2021-02-03 15:48] ghostcoach commented on #422
The problem still persists for us (same error message as @letmagnau) when trying to create a dev space controller.
The cluster is located in North Europe.

az aks use-dev-spaces -g XXXXX -n XXXX -s default -y
The behavior of this command has been altered by the following extension: dev-spaces
For more information, please see https://github.com/Azure/dev-spaces/issues/410
Creating and selecting Azu

[2021-02-03 15:53] amsoedal commented on #422
@ghostcoach can you email me your subscription # at BridgeToKubernetes@microsoft.com? Thanks in advance!

[2021-02-15 14:18] Eneuman commented on #407
@daniv-msft I think we just got this issue again :(
Can you please take a look and see if you can get it running again?

[code]
Regards
Per

[2021-02-15 14:59] amsoedal commented on #407
Hi @Eneuman, I've restarted some of the components on our side. Can you let me know if the issue keeps reproducing? Thanks!

[2021-02-15 15:04] Eneuman commented on #407
Hi @amsoedal
Yes, now it running smooth again. Thanks you !

[2021-02-15 16:58] Eneuman commented on #407
@amsoedal
Hi again, maby I was too fast there.
I still am having problems with atleast two of my pods.

One is giving me this error. Is this on my side ?

pods/klinikportalservice-757c5cc75b-cd6b7: BackOff: Back-off restarting failed container

[2021-02-15 17:37] amsoedal commented on #407
Hi @Eneuman, sorry you're still having issues! Could you please run `kubectl logs pods/klinikportalservice-757c5cc75b-cd6b7 -p` (you might need to specify a container name with -c, but it should prompt you if necessary) to see what happened?

[2021-02-15 18:18] Eneuman commented on #407
@amsoedal

Hmm, for some reason it seems like Azure ADO Cert is no longer valid. Maby a service issue?

**kubectl logs -n dev pods/klinikportalservice-757c5cc75b-cd6b7 devspaces-build**
[code]

[2021-02-15 18:31] amsoedal commented on #407
Thanks for attaching this! Can you try again now?

[2021-02-15 18:44] Eneuman commented on #407
@amsoedal Yes, now its working again :) Thanks!

[2021-02-15 18:44] amsoedal commented on #407
Great! Happy to hear it :)

[2021-02-21 12:13] Eneuman commented on #407
@amsoedal Hi again. It looks like this problem has started to occure again :(
The logs shows the same problem as above.

Can you please apply your fix again?

[2021-02-21 17:04] Eneuman commented on #407
Ater upgrading my kubernetes version, i'm now receiving this error message: `This version of Kubernetes is no longer supported. Please upgrade your cluster to a supported Kubernetes version and retry` when running `azds up`

Might be related to: https://github.com/Azure/dev-spaces/issues/416

[2021-02-22 00:09] rakeshvanga commented on #407
@Eneuman Azure Dev Spaces is deprecated and is only supported till 1.18.* Kubernetes versions. After the upgrade what is the Kubernetes version of the cluster?
I'm looking into the SSL error and will update once it is resolved.

[2021-02-22 06:38] Eneuman commented on #407
@rakeshvanga Will I be able to install a AKS with version 1.18 all the way until 2023 when Dev Spaces is being deprecated?

[2021-02-22 18:24] greenie-msft commented on #407
Hi @Eneuman ,

Yes, Dev Spaces will only support v1.18 in AKS until 2023. Dev Spaces is being retired and at this point, while it might remain used for legacy reasons, it should not be used on new clusters.

We understand some limitations prevented you and your team from moving to Bridge to Kubernetes and we are actively working on those scenarios to unblock you. Bridge to Kubernetes now supports

[2021-02-22 19:07] rakeshvanga commented on #407
@Eneuman, I've fixed the SSL error on our side, can you try now?

[2021-02-22 20:31] Eneuman commented on #407
It's working fine now. Thank you!

[2021-02-24 11:35] Eneuman commented on #407
@rakeshakkera Hi
The SSL error is unfortently back :( Can you please take a look?

[code]

[2021-02-24 13:07] amsoedal commented on #407
Restarted the components again. Also I'll make sure we bump up the priority on getting this sorted -- no idea why this issue is affecting West Europe so frequently 😕

[2021-02-24 13:20] Eneuman commented on #407
@amsoedal Yes, everything is working fine now. Thanks you!

[2021-03-11 23:42] daniv-msft commented on #407
@Eneuman > We now have beta bits to try to pod identity/managed identity. As discussed previously, would you be willing to give them a try?
(Tagging @pragyamehta who worked on this on our side)

[2021-03-12 09:25] Eneuman commented on #407
@daniv-msft Hi, yes we are intrested in trying out the new bits. I just replied to @pragyamehta email about our current timeframe :)

[2021-03-12 09:27] Eneuman commented on #407
@amsoedal It seems like we have a problem again. Pods are giving us theese errors:

pods/klinikportalservice-858c9b7c7-lhvlq: BackOff: Back-off restarting failed container

[2021-03-12 11:25] amsoedal commented on #407
@Eneuman are there any logs or events on the pod? ☹ We did do a release recently but it shouldn't have changed any functionality to the controller.

[2021-03-12 11:39] Eneuman commented on #407
@amsoedal
pods/klinikportalservice-75588487b4-vtwp4: BackOff: Back-off restarting failed container
Oops... An unexpected error has occurred. A report of the error will be sent to Microsoft.
For diagnostic information, see Azure Dev Spaces logs at 'C:\Users\PerBornsjö\AppData\Local\Temp\Azure Dev Spaces'.
Please include the following Client Request ID when contacting support: ab587787-70e2-4d20-bbe

[2021-03-12 11:40] amsoedal commented on #407
@Eneuman OK thanks. I restarted our components, could you please see if it works now?

[2021-03-12 11:47] Eneuman commented on #407
@amsoedal  Yes, now its working again.
It did one `pods/klinikportalservice-75588487b4-vtwp4: BackOff: Back-off restarting failed container` but then it started to build.
Thanks!

[2021-03-14 19:26] Eneuman commented on #407
@amsoedal Seems like the problem is back, but now I also reecived this:

pods/klinikportalservice-844fb67df4-2ct56: BackOff: Back-off restarting failed container
Cancelling...
Timed out after 14m trying to start build logs streaming operation.

[2021-03-15 08:25] amsoedal commented on #407
@Eneuman our components restarted overnight, can you try the operation now?

[2021-03-15 08:53] Eneuman commented on #407
@amsoedal Some services can be installed with azds up but about 50% gives us timeouts or other strange errors :(

[2021-03-15 08:55] amsoedal commented on #407
@Eneuman that's very strange :( Can you send me your log files?

[2021-03-15 08:57] Eneuman commented on #407
@amsoedal
Here is a new error for us:
Azds up for <Our service> failed: Helm install failed with exit code '1': Error: UPGRADE FAILED: query: failed to query with labels: Get https://aks-we-eclinic-dev-dns-a2826232.hcp.westeurope.azmk8s.io:443/api/v1/namespaces/dev/secrets?labelSelector=name%3Dazds-b75d66-dev-organisationpersonalservice%2Cowner%3Dhelm%2Cstatus%3Ddeployed: dial tcp 51.138.35.185:44

[2021-03-15 09:00] Eneuman commented on #407
And we are also receiving this:
Timed out after 13s trying to start deploy release streaming operation.

[2021-03-15 09:02] amsoedal commented on #407
@Eneuman that's very strange... I'll take a look at the logs on my side. This might be a naive question, but is "helm install" for your chart working outside of an AZDS context?

[2021-03-15 09:05] Eneuman commented on #407
@amsoedal I have not used them outside of azds up so I can't say. But azds up has not been a problem before and nothing has changes in the service.

[2021-03-15 09:21] amsoedal commented on #407
@Eneuman I restarted the components again and looking at our backend logs in parallel, I see a lot of helm timeout exceptions as well. Not sure what is causing it. Let me know if restarting changed anything

[2021-03-15 11:57] Eneuman commented on #407
@amsoedal After a few retries they all got deployed :)
But is seems like there are some performance issues. The deployments take alot of time.

[2021-03-15 12:57] amsoedal commented on #407
@eneuman I'm glad you got unblocked! That gives us some more time to investigate hopefully

[2021-03-18 10:17] Eneuman commented on #407
@amsoedal Hi again. About 10 minutes ago it stoped working again. This time we receive this error message: `This version of Kubernetes is no longer supported. Please upgrade your cluster to a supported Kubernetes version and retry.`
after waiting for 5 min, the error went away. It's working now.

I'm beginning to see a pattern with theese outages.
Our main project has 3700 files in it. Suddenly it

[2021-03-27 12:34] Eneuman commented on #407
@amsoedal Hi.
I seems like the services are stuck again. Can you please restart them ?

[2021-03-29 16:43] daniv-msft commented on #407
+ @rakeshvanga who is looking at issues this week, as @amsoedal isn't available.

[2021-03-29 17:13] rakeshvanga commented on #407
@Eneuman I've restarted our components. Can you try now?

[2021-03-29 18:15] Eneuman commented on #407
@rakeshvanga Hi
It's working again :)
Thanks!

[2021-03-30 20:52] Eneuman commented on #407
@rakeshvanga Can you please restart it again.
Getting theese issues now:

Using dev space 'dev' with controller 'aks-we-eclinic-dev'
Synchronizing files...10s
This version of Kubernetes is no longer supported. Please upgrade your cluster to a supported Kubernetes version and retry.

Restart normaly fixes this :)

[2021-03-30 20:59] rakeshvanga commented on #407
Sure, I will update once I'm done.

[2021-03-30 22:04] rakeshvanga commented on #407
@Eneuman, I've restarted the pods. Can you try now?

[2021-03-30 22:41] Eneuman commented on #407
Now it’s working fine again :)
Thanks!

________________________________
Från: Rakesh Vanga ***@***.***>
Skickat: Wednesday, March 31, 2021 12:05:12 AM
Till: Azure/dev-spaces ***@***.***>
Kopia: Per Bornsjö ***@***.***>; Mention ***@***.***>
Ämne: Re: [Azure/dev-spaces] Synchronization timeouts (Dev Spaces) (#407)

@Eneuman<https://github.com/Eneuman>, I've restarted the pods. Can you try now?

—

[2021-04-01 16:02] Eneuman commented on #407
@rakeshvanga
Hi
It just crashed again, can you restart it plz ? :)

[2021-04-01 17:07] Eneuman commented on #407
I have attached todays crash logs if you want to take alook and see if you can figure out whats going on :)
[2021-04-01T08-07-10.4498504.log](https://github.com/Azure/dev-spaces/files/6245246/2021-04-01T08-07-10.4498504.log)
[2021-04-01T07-20-03.4750117.log](https://github.com/Azure/dev-spaces/files/6245247/2021-04-01T07-20-03.4750117.log)
[2021-04-01T15-59-25.5680363.log](https://github.com/Azure

[2021-04-08 07:05] Eneuman commented on #407
@daniv-msft It looks like the services are stuck again. Can you please ask someone to restart them ? :)

[2021-04-08 10:00] amsoedal commented on #407
Hi @Eneuman, I restarted the usual component, can you see if it's working now?

[2021-04-08 10:09] Eneuman commented on #407
@amsoedal Hi
It's still stuck at: `Waiting for container image build....` and it never starts and timeouts after 10 min :(

[2021-04-08 10:31] amsoedal commented on #407
@Eneuman hm.... might be something else to do with connectivity to the controller. :( I restarted a different component this time, could you try it now?

[2021-04-08 10:39] Eneuman commented on #407
@amsoedal Still not working :(

[2021-04-08 11:23] amsoedal commented on #407
It seems like we're not able to build the service for some reason, or the service pod isn't coming up correctly. I see on the backend lots of logs like "still no user pods found in Ready state". Could you try doing an "up", and in a separate window doing `kubectl get po -n <your space> --watch`? And if you see any pods crashing, do you see any events when you do `kubectl describe` on the pod?

[2021-04-08 11:27] Eneuman commented on #407
It seems like the pods crashes:

![image](https://user-images.githubusercontent.com/12099277/114018991-2a64b680-986e-11eb-9f24-e23e90d2d9fb.png)

[2021-04-08 11:31] amsoedal commented on #407
@eneuman thanks. What do you see when you run "kubectl describe <name of crashing pod>" in a different window under the "Events" section?

[2021-04-08 11:36] Eneuman commented on #407
Normal   Scheduled          9m24s                   default-scheduler  Successfully assigned dev/organisationpersonalservice-67644fc776-hhjnw to aks-agentpool3-99437877-vmss000000
  Warning  ErrImageNeverPull  7m13s (x13 over 9m23s)  kubelet            Container image "organisationpersonalservice:devspaces-x0178b13ba1de9152" is not present with pull policy of Never
  Warning  Failed             4m

[2021-04-08 11:51] amsoedal commented on #407
Ok thanks for adding these details & thanks for your patience. I'm still not totally sure what's going on, but one possibility is that we're failing to build the docker image for your service for some reason so it's not present locally. Could you please zip your %Temp%\Azure Dev Spaces files and send them to me at ansoedal@microsoft.com? I'll let you know as soon as I have an update to share.

[2021-04-08 11:55] Eneuman commented on #407
Thanks. You should have them in your inbox now.

[2021-04-08 12:05] amsoedal commented on #407
@eneuman thanks so much. One last question, have any changes been made to your Dockerfile.develop recently?

[2021-04-08 12:08] Eneuman commented on #407
Hi. No changes has been made to the docker.developer files for about 2 month.
The service was working fine about 1 week ago.

[2021-04-08 12:25] Eneuman commented on #407
Normaly I can see in the console window that it starts to build my docker image, but now I don't get any indication that it actually has started to build it.

[2021-04-08 14:08] Eneuman commented on #407
@amsoedal Anyting else you want me to try? We are kinda stuck atm :(

[2021-04-08 14:37] amsoedal commented on #407
@eneuman sorry no updates yet, but one of my US colleagues is now helping to look at the issue. Working to get to the bottom of this

[2021-04-08 15:04] amsoedal commented on #407
@Eneuman our best guess right now is that something on your cluster is preventing the container image from getting built. I also see that in the screenshot mentioned here:

There are some pods that have been terminating for 25m. Are they from a previous "azds up", or were they deployed another way? Are there many pods that are stuck in terminating state on the cluster?

[2021-04-08 15:21] Eneuman commented on #407
Just the pods that I have been trying to do a azds up for.

I tried to create a new service and start it but it also gets the same errors:
testapplication-6dcd88956b-fpsrz                                  0/1     Pending             0          0s
testapplication-6dcd88956b-fpsrz                                  0/1     Pending             0          0s
testapplication-6dcd88956b-fpsrz

[2021-04-08 15:39] daniv-msft commented on #407
@Eneuman Thanks for your reply. The way it works is that we inject an init container in the user pod on your cluster, that will build the docker image needed based on your code. This is why the image pull policy of the user pod is set to "Never": we never want to pull the image remotely, it should always be pulled locally. However, the reason why this image isn't built is unclear.

You mentioned t

[2021-04-08 16:04] Eneuman commented on #407
This is what the pods running looks like:
![image](https://user-images.githubusercontent.com/12099277/114059644-dcaf7480-9894-11eb-9e24-9b9a7da3fe81.png)

This is what the pods we tried to build today looks like:
![image](https://user-images.githubusercontent.com/12099277/114059498-b8539800-9894-11eb-891b-53b28d1b474d.png)

I think the problem is the init containers does not start

[2021-04-08 16:15] Eneuman commented on #407
`kubectl logs azds-webhook-deployment-6f5f6f596-z9h2l --namespace azds` shows this?

azdslogger: main.go:133: Error flushing logs:  adal: Refresh request failed. Status Code = '401'. Response body: {"error":"invalid_client","error_description":"AADSTS7000222: The provided client secret keys are expired. Visit the Azure Portal to create new keys for your app, or consider using certificate credentia

[2021-04-08 16:20] Eneuman commented on #407
Webhooks pods are full of problems :(

[2021-04-08 16:21] daniv-msft commented on #407
Thanks @Eneuman for sharing these, it's helpful. We're looking into them and getting back to you once we understand better what could explain this.

[2021-04-08 16:25] daniv-msft commented on #407
Also, could you please let us know if you can get any logs from the `devspaces-build` container?
Finally, could you please clarify what made you look into azds-webhook-deployment? I'm curious to know if you saw a log somewhere that would point to that.

[2021-04-08 16:40] Eneuman commented on #407
I can't find a devspaces-build container, but isn't that one that the webhook admission server also creates?

What made me look there was the fact that no build gets started and Kubernetes tries to use my "raw" charts to pull in a image that does not exist.

This points to a problem with weebhook not injecting init or build containers.

Do you have access to the logs or should I mail them to you?

[2021-04-08 16:49] amsoedal commented on #407
@eneuman have the certs for the cluster been rotated recently? Could you please try running `azds controller refresh-credentials`?

[2021-04-08 16:51] Eneuman commented on #407
@amsoedal We havn't rotated them manually. I'm not sure if AKS does this by itself.

[2021-04-08 16:54] Eneuman commented on #407
@amsoedal Didn't work, still getting theese errors:
`azdslogger: main.go:133: Error flushing logs:  adal: Refresh request failed. Status Code = '401'. Response body: {"error":"invalid_client","error_description":"AADSTS7000222: The provided client secret keys are expired. Visit the Azure Portal to create new keys for your app, or consider using certificate credentials for added security: https://d

[2021-04-08 16:56] Eneuman commented on #407
I guess I can recreate the pods and that would probobly do it, but I don't want to do that until you got all debug information you need :)

[2021-04-08 16:58] amsoedal commented on #407
@Eneuman thank you :) I think we have enough info, please do try recreating the webhook pods. If that doesn't do anything, recreating the controller is probably the next step

[2021-04-08 17:02] Eneuman commented on #407
I deleted the pods but after they were created it had this in the log:

[code]

So I guess this is not going to work

[2021-04-08 17:04] Eneuman commented on #407
Can this have something to do with us running 2FA on our AD domain ?

[2021-04-08 17:06] amsoedal commented on #407
@Eneuman is that a recent change?

[2021-04-08 17:07] Eneuman commented on #407
@amsoedal No we have used it for 6 month

[2021-04-08 17:08] Eneuman commented on #407
@amsoedal Will `az aks update-credentials` work?

[2021-04-08 17:10] amsoedal commented on #407
OK it's probably not 2FA then. And not sure about the update-credentials. Do you remember how old the controller and the cluster are?

[2021-04-08 17:12] Eneuman commented on #407
Maby 9 months or so, probobly more.

[2021-04-08 17:14] Eneuman commented on #407
204 days :)

[2021-04-08 17:15] amsoedal commented on #407
Ok thanks! I was reading up on update-credentials, and it mentions checking the expiration date of your service principal:

https://docs.microsoft.com/en-us/azure/aks/update-credentials
[code]

I wonder if the SP could have expired already? Either way I think it will be necessary to recreate the controller to pick up the right credentials for talking to your cluster

[2021-04-08 17:59] Eneuman commented on #407
@amsoedal Hi
I have refreshed the credentials of my AKS and SP but now im receiving this:

[code]

[2021-04-08 18:05] Eneuman commented on #407
@amsoedal My AKS looks liek this (and has been for awhile)
![image](https://user-images.githubusercontent.com/12099277/114075169-8860c080-98a5-11eb-9db5-1c84e92e7799.png)

If I disable Dev Spaces, will I be able to enable it again? (I dont know if it checks the kubernetes version or the node version for compability)

[2021-04-08 19:30] lolodi commented on #407
Hi @Eneuman!
Yes you should be able to recreate it. If you encounter any problem with the creation let us know, but your subscription should be in our allow list.
At this point our best bet is to re-create the controller.

[2021-04-08 22:17] Eneuman commented on #407
In my new cluster, I now recive theese errors:
![image](https://user-images.githubusercontent.com/12099277/114103208-fec2ea00-98c8-11eb-84b5-d64e5f7e8729.png)

[2021-04-08 22:37] daniv-msft commented on #407
@Eneuman I just wanted to let you know that we're still investigating this and trying to understand what's happening. We don't have anything new to share yet, but we'll keep you updated once we find something.

[2021-04-08 22:42] daniv-msft commented on #407
Just to be sure, the errors you're seeing with the webhook deployment are still:
[code]
for your new cluster, right?

[2021-04-08 22:46] Eneuman commented on #407
For my new cluster I didn't get any logs in the webhook pods, they keept crashing when i did a `azds up`.

The cluster was created using this:
`az aks create --subscription $Subscription.Name --resource-group $ResourceGroup.ResourceGroupName --location $DefaultLocation --max-pods 100 --name $AksClusterName --node-count 1 --node-vm-size $AksNodeSize --network-plugin azure --enable-aad --aad-admin-g

[2021-04-08 22:49] daniv-msft commented on #407
Thanks for your reply. Would it be possible to get the logs of these pods after crash by running `kubectl logs <podname> --previous`?
Thanks for your patience, and apologies for the disruption.

[2021-04-08 22:51] Eneuman commented on #407
I did try it and it only had one line in them

`azdslogger: main.go:451: Getting managed identity token` nothing else.

[2021-04-08 22:53] Eneuman commented on #407
In the cluster I just created, the weebhooks pods does not crash so the weebhooks pods might not be compatible with azure network plugin för AKS i guess?

Now the logs look like this:
[code]

[2021-04-08 22:55] daniv-msft commented on #407
Interesting, thanks for sharing. I assume that you didn't start using the Azure Network plugin recently, right? Maybe they did an update on their side?
Now that the webhooks pods seem to be fine, does `azds up` look better?

[2021-04-08 22:59] Eneuman commented on #407
No, we are back to the problem with the init pods not beeing initilized.

When I do a azds up, it creates the services and deploy the helm charts, but then it waits for the build process to begin, but it never starts. The weekhooks logs does not update ither so something is not triggering it. What component is calling the webhook pods? Is that component in my cluster? Can I see its configuration?

[2021-04-08 23:08] Eneuman commented on #407
Did you just change something? It started working !

[2021-04-08 23:14] daniv-msft commented on #407
@Eneuman No, we were still digging into the logs we have on our side to try to understand what was happening. We didn't restart anything manually. The only automatic restart script we have (restarting Traefik pods automatically every couple of hours) that we added a couple of weeks ago didn't run in the last minutes.

We confirm that we can now see on our side that the build did happen: `Pushing b

[2021-04-08 23:18] Eneuman commented on #407
Can it be some type of cache that got evicted?
I'm gonna recreate the cluster again just to see if Azure network plugin was a problem or not.

[2021-04-08 23:55] Eneuman commented on #407
I'm gonna have to call it a night. Been at it for 20 hours straight and I can deploy services to my cluster now so I'm unblocked, even though we don't know why it started working I say it's a win :)

[2021-04-08 23:57] daniv-msft commented on #407
@Eneuman Makes sense, it's super late in Sweden right now! Yes, we share your frustration. :( Happy that you're unblocked at least!

[2021-04-09 12:23] Eneuman commented on #407
@daniv-msft Hi
I have done alot of research today and this is what I have found so far.
My old cluster worked with Dev-Spaces and Pod-Identity, I never upgraded Pod-Identity so we don't know what version was actually running.

From what I can tell, today version av Dev-Spaces and Pod-Identity is not compatible so It looks like I can't setup a new cluster and we are stuck.

My findings so far:
**1)

[2021-04-09 14:04] amsoedal commented on #407
@eneuman thanks for these details. We're still working to get to the bottom of this, but it helps to know that pod identity is the determining difference

[2021-04-09 14:10] Eneuman commented on #407
@amsoedal Sounds great :)

I think one of the problem is that Azure Pod Identity is intercepting the Manage Identity call that the init build container does and that breakes the build.

I noticed that if I add a AAD Exception like this:
[code]

then the webkhook containers starts to work.

From NMI logs:
[code]

[2021-04-09 14:24] amsoedal commented on #407
@Eneuman are you able to debug your app after adding this exception?

[2021-04-09 14:29] Eneuman commented on #407
No, but adding the exception makes the webhookspods work by the look of it. Building the images does not work. The build init container never finishes and the proxy init containers stays in Pending state.

[2021-04-09 14:50] amsoedal commented on #407
@Eneuman are you still using user assigned managed identity?

[2021-04-09 14:51] Eneuman commented on #407
Yes

[2021-04-09 14:52] Eneuman commented on #407
Have you been able to reproduce this behaviour in your cluster?

[2021-04-09 15:10] daniv-msft commented on #407
@Eneuman We're trying this, and will let you know how it goes.

[2021-04-09 15:35] daniv-msft commented on #407
@Eneuman I confirm we do reproduce the issue on multiple clusters. We're still looking into what goes wrong. This issue is challenging.

[2021-04-09 16:01] daniv-msft commented on #407
@Eneuman Something strange for us is that we don't see the webhook issue you were mentioning above. On our side, the webhook seems to work fine (without adding AAD Exception), and we can even see the request to start building the image locally showing in their logs:
![image](https://user-images.githubusercontent.com/48293037/114208315-2f7b4180-9912-11eb-9b68-fe9ccc771371.png)

[2021-04-09 16:13] daniv-msft commented on #407
Also, we can see the Build service exiting because of an error:
[code]

Unfortunately, the logs don't show much as of today, but we're working to rebuild an image of this with more logs and see the new info we can get. Do you see something similar on your side?

[2021-04-09 16:16] Eneuman commented on #407
Yes, I got the exact error as you.
About the webhook, it depended on in witch order I installed Dev spaces and pod identity. See my post higher up. If I installed Dev spaces first and then add, webhooks stoped working for me.

________________________________
Från: daniv-msft ***@***.***>
Skickat: Friday, April 9, 2021 6:13:45 PM
Till: Azure/dev-spaces ***@***.***>
Kopia: Per Bornsjö ***@***.***>;

[2021-04-09 17:55] amsoedal commented on #407
@Eneuman, Can you check the nmi and mic pod logs in the default namespace? What do they say?

[2021-04-09 18:29] amsoedal commented on #407
Also, I opened this issue on the pod-identity page. Hopefully they'll be able to shed some clarity. https://github.com/Azure/aad-pod-identity/issues/1039

[2021-04-09 19:05] Eneuman commented on #407
Working on getting you the logs @amsoedal.
Just wanted to let you know that I have tried both using Azure CNI and Kubernet as network and both have the same errors.

[2021-04-09 19:35] Eneuman commented on #407
My setup:
New clean AKS using Kubenet as Network.

Installed AAD like this:
`helm install aad-pod-identity aad-pod-identity/aad-pod-identity --set nmi.allowNetworkPluginKubenet=true`
Installed Dev Spaces after AAD..
Tried to azds up a service.

[code]

[code]

[code]

As you can see the webhook gets intercepted by nim and failes.  So no init pods gets created.
But if I add my exceptions from above

[2021-04-09 20:07] amsoedal commented on #407
Hey again,
@pragyamehta and I have been following up with the pod identity team. A couple things:

* We followed [this doc](https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting#error-no-azureassignedidentity-found-for-podazdsazds-webhook-deployment-id-in-assigned-state), and part of it is setting up an exception for azds infrastructure. So that might help.
* The other thing is, after

[2021-04-09 20:14] amsoedal commented on #407
@eneuman Our contact also told us to look out for https://azure.github.io/aad-pod-identity/docs/#v16x-breaking-change. If you follow the AZDS doc I linked above, you have to change the fields to camelcase.

[2021-04-09 20:27] Eneuman commented on #407
@amsoedal Yes, the casing in my bindings should be correct, I have dbl checked them.

Running `kubectl describe AzureIdentityBinding eclinic-pod-identity-binding -n dev` says this:

[code]

but I think thats okey since my testpod does not use managed identities yet (I was going to add this after I get it running).

[2021-04-09 22:07] daniv-msft commented on #407
Hi @Eneuman,
We're still investigating, and there is one thing that we would like to validate: could you please confirm that pod identity (independently of Azure Dev Spaces) works in a cluster as configured above? Would you have an easy way to test that?

[2021-04-12 11:23] Eneuman commented on #407
@daniv-msft I have not been able to test this yet but Im working on it.

I did however found one problem on my side.
When I created the exceptions för AAD i followed this throubleshooting guide:
https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting#error-no-azureassignedidentity-found-for-podazdsazds-webhook-deployment-id-in-assigned-state

However, `PodLabels` should be `podLabels` ot

[2021-04-12 12:27] amsoedal commented on #407
@eneuman thanks for the update! Glad you're able to get past the build issue now at least!

[2021-05-04 17:17] lszomoru opened #428 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-07 11:49] lszomoru opened #430 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-20 16:41] jadams74 commented on #410
Fix Azure DevOps Pipline -> Deploy to Kubernetes - Review App with Dev Spaces. This is an out of the box pipeline with Azure Dev Ops and is now broken.

2021-05-20T16:02:01.9216709Z azds : The term 'azds' is not recognized as a name of a cmdlet, function, script file, or executable program.
2021-05-20T16:02:01.9217580Z Check the spelling of the name, or if a path was included, verify that the path

[2021-05-24 10:45] Eneuman commented on #407
We have migrated to Bridge For Kubernetes so we will close this issue.

[2021-05-24 10:45] #407 closed

[2021-06-07 20:12] #263 closed

[2021-07-08 19:24] hrkyemba commented on #405
Hello, I installed the Bridge to Kubernetes extension on Visual Studio 16.9.4. When I open a .Net Core 3.1 app, I see the Bridge to Kubernetes option on the Start button dropdown. When I open a .Net Framework 4.8 Windows app, I don't see the option.  Does Bridge to Kubernetes support .Net Framework Windows apps?

[2021-07-09 02:45] daniv-msft commented on #405
@hrkyemba Thanks for your message! Unfortunately, Bridge to Kubernetes doesn't work with .NET Framework because we don't support Windows nodes in Kubernetes. We investigated this possibility a couple of months ago, but unfortunately the cost was too high compared to the number of customers actually targeting this environment (from our discussions most customers using Windows nodes/.NET Framework w

[2021-07-09 13:03] hrkyemba commented on #405
Thanks for the confirmation. We're working on porting our apps to .Net Core. In the meantime, they are .Net Framework Windows apps. I'm not sure what you mean by "we don't support Windows nodes in Kubernetes", as we've been running our Windows containers in AKS for more than a year.  Are you talking about the Bridge to Kubernetes and Dev Spaces not supporting Windows containers?

[2021-07-09 16:44] daniv-msft commented on #405
@hrkyemba Thanks for your reply. Yes, when I was saying "we don't support", I was talking about we==Bridge to Kubernetes. Indeed, AKS does support Windows nodes.